{% load i18n %} 

<div class="responsive">

    <div class="form-group">
            <input id="participant_name" type="text" name="participant_name" placeholder="{% trans 'Enter the Operator name' %}">
    </div>
    <form id="case-form" class="case-form form" name="case" action="{% url 'dashboard:cases' %}" method="POST">{% csrf_token %}
        <input type="hidden" name="participant_1" value="{{request.user.pk}}">
        <div class="form-group">
            <input type="hidden" name="participant_2" id="participant_2">
            <input type="number" name="amount" placeholder="{% trans 'Enter the transaction number' %}">
            <input type="text" name="subject" placeholder="{% trans 'Enter the subject for the case' %}">
            <textarea name="description" id="case-description" cols="30" rows="10" placeholder="{% trans 'Enter the description of the issue' %}"></textarea>
        </div>
        <div class="form-group row">
            <button class="mat-button mat-button-default" type="submit">{% trans "Send" %}</button>
            <a class="mat-button mat-button-text" href="{%url 'dashboard:cases'%}">{% trans "Cancel" %}</a>
        </div>
    </form>

</div>