{% load i18n %}

<div class="container">
        <div class="row">
                <h3>Dashboard</h3>
        </div>
        <div id="metrics" class="row flex-wrap">
                <div id="payments" class="metric mat-box">
                        <div class="metric-title">{% trans "Payments" %}</div>
                        <span class="metric-value">0</span>
                </div>
                <div id="transfers" class="metric mat-box">
                        <div class="metric-title">{% trans "Transfers" %}</div>
                        <span class="metric-value">0</span>
                </div>
                <div id="p_requests" class="metric mat-box">
                        <div class="metric-title">{% trans "Payment Requests" %}</div>
                        <span class="metric-value">0</span>
                </div>
                <div id="users" class="metric mat-box">
                        <div class="metric-title">{% trans "Users" %}</div>
                        <span class="metric-value">0</span>
                </div>
                <div id="services" class="metric mat-box">
                        <div class="metric-title">{% trans "Services" %}</div>
                        <span class="metric-value">0</span>
                </div>
                <div id="vouchers" class="metric mat-box">
                        <div class="metric-title">{% trans "Vouchers" %}</div>
                        <div class="metric-value"><span class="sold">0</span><i class="separator-ht"></i><span class="total">0</span></div>
                </div>
        </div>
  </div>