{% load i18n %} 

{% if can_add_group %}


<div class="col-xs-12 col-6">

    <form id="group-form" class="group-form form" name="group" action="{% url 'dashboard:group-create' %}" method="POST">{% csrf_token %}
        
        <div class="grid">
            {% if form.errors %}
                <ul class="errorlist">
                    {% for error in form.name.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-group">
                <label for="name">{% trans "Name" %} :</label>
                <input type="text" name="name" id="name"> 
            </div>
        </div>
        
        
        <div class="row">
            <div class="responsive">
                <div class="form-group">
                    <label for="available-permissions">{% trans "Select Permissions to add" %}</label>
                    <select  id="available-permissions" multiple data-target="#selected-permissions">
                        {% for p in available_permissions  %}
                            <option value="{{p.pk}}">{{p.name}} - {{p.codename}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="responsive">
                <div class="flex flex-column">
                    <button class="mat-button mat-button-default" type="button" id="add-selected-permissions" data-target="#selected-permissions" data-source="#available-permissions">
                        <i class="fas fa-angle-double-right"></i><span>{% trans "Add" %}</span>
                    </button>
                    <button class="mat-button mat-button-default" type="button" id="remove-selected-permissions" data-source="#selected-permissions" data-target="#available-permissions">
                        <i class="fas fa-angle-double-left"></i><span>{% trans "Remove" %}</span>
                    </button>
                </div>
            </div>
            <div class="responsive">
                <div class="form-group">
                    <label for="selected-permissions">{% trans "Selected Permissions" %}</label>
                    <select id="selected-permissions" class="mat-list selected" name="permissions" multiple>

                    </select>
                </div>
            </div>
        </div><!--End of Row-->
        <div class="row">
            <div class="responsive">
                <div class="form-group">
                    <label for="available-users">{% trans "Select Users to Add" %}</label>
                    <select name="available_users" id="available-users" multiple data-target="#selected-users">
                        {% for u in available_users  %}
                            <option value="{{u.pk}}">{{u.get_full_name}} ({{u.username}})</option>
                        {% endfor %}
                    </select>
                </div><!--End of form-group-->
            </div><!--End of Responsive-->
            <div class="responsive">
                <div class="flex flex-column">
                    <button class="mat-button mat-button-default" type="button" id="add-selected-users" data-source="#available-users" data-target="#selected-users">
                        <i class="fas fa-angle-double-right"></i><span>{% trans "Add" %}</span>
                    </button>
                    <button class="mat-button mat-button-default" type="button" id="remove-selected-users" data-target="#available-users" data-source="#selected-users">
                        <i class="fas fa-angle-double-left"></i><span>{% trans "Remove" %}</span>
                    </button>
                </div>
            </div><!--End of Responsive-->
            <div class="responsive">
                <div class="form-group">
                    <label for="users">{% trans "Selected Users.(Select Users to remove)" %}</label>
                    <select name="users" id="selected-users" multiple>
                        
                    </select>
                </div><!--End of form-group-->
            </div><!--End of Responsive-->
        </div><!--End of Row-->
        
        
        <div class="row">
            {% comment %}<a class="mat-button mat-button-text" href="{%url 'dashboard:home'%}">{% trans "Dashboard" %}</a>
            {% endcomment %}
            <a class="mat-button mat-button-text js-cancel" href="{%url 'dashboard:groups'%}">{% trans "Cancel" %}</a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Create Group" %}</button>
        </div>
        
    </form>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}