{% load i18n %} 

{% if can_change_group %}


<div class="responsive">
    <div class="form-group">
            
    </div>
    <form id="group-form" class="group-form form" name="group" action="{% url 'dashboard:group-update' group.pk %}" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="name">{% trans "Name" %} :</label>
            <input type="text" name="name" id="name" value="{{group.name}}"> 
        </div>
        {% comment "Permissions" %}
        
        {% endcomment %}
        <div class="container">
            <div class="row">
                <div class="col-m-12 col-6">
                    <div class="container">
                        <div class="mat-list-wrapper">
                            <div class="mat-list-header">
                                <span class="list-title">{% trans "Select Permissions to add" %}</span>
                            </div>
                            <div class="collapsible">
                                <div class="collapsible-toggle open">
                                    <span>{% trans "Filter" %}<i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse-content">
                                    <input class="js-jsfilter-input" type="text" data-element=".mat-list-item" data-target="#avaliable-permission-list" placeholder="{% trans 'Enter the term to filter' %}">
                                </div>
                            </div>
                            <ul class="mat-list" id="avaliable-permission-list">
                                {% for p in available_permissions %}
                                <li class="mat-list-item" data-value="{{p.pk}}">{{p.name}} - {{p.codename}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-m-12 col-6">
                    <div class="container">
                        <div class="mat-list-wrapper">
                            <div class="mat-list-header">
                                <span class="list-title">{% trans "Selected Permissions" %}</span>
                            </div>
                            <div class="collapsible">
                                <div class="collapsible-toggle open">
                                    <span>{% trans "Filter" %}<i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse-content">
                                    <input class="js-jsfilter-input" type="text" data-element=".mat-list-item" data-target="#selected-permission-list" placeholder="{% trans 'Enter the term to filter' %}">
                                </div>
                            </div>
                            <ul class="mat-list" id="selected-permission-list">
                                {% for p in permissions %}
                                <li class="mat-list-item" data-value="{{p.pk}}">{{p.name}} - {{p.codename}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-m-12 col-6">
                    <div class="container">
                        <div class="mat-list-wrapper">
                            <div class="mat-list-header">
                                <span class="list-title">{% trans "Select Users to add" %}</span>
                            </div>
                            <div class="collapsible">
                                <div class="collapsible-toggle open">
                                    <span>{% trans "Filter" %}<i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse-content">
                                    <input class="js-jsfilter-input" type="text" data-element=".mat-list-item" data-target="#available-user-list" placeholder="{% trans 'Enter the term to filter' %}">
                                </div>
                            </div>
                            <ul class="mat-list" id="available-user-list">
                                {% for u in available_users %}
                                <li class="mat-list-item" data-value="{{u.pk}}">{{u.get_full_name}}[{{u.username}}]</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-m-12 col-6">
                    <div class="container">
                        <div class="mat-list-wrapper">
                            <div class="mat-list-header">
                                <span class="list-title">{% trans "Selected Users" %}</span>
                            </div>
                            <div class="collapsible">
                                <div class="collapsible-toggle open">
                                    <span>{% trans "Filter" %}<i class="fas fa-angle-down"></i></span>
                                </div>
                                <div class="collapse-content">
                                    <input class="js-jsfilter-input" type="text" data-element=".mat-list-item" data-target="#selected-user-list" placeholder="{% trans 'Enter the term to filter' %}">
                                </div>
                            </div>
                            <ul class="mat-list" id="selected-user-list">
                                {% for u in users %}
                                <li class="mat-list-item" data-value="{{u.pk}}">{{u.get_full_name}}[{{u.username}}]</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="responsive">
                <div class="flex flex-column">
                    <div class="form-group">
                        <input class="js-jsfilter-input" data-target="#available-permissions" data-element="option" type="text" placeholder="{% trans 'Search for permissions' %}">
                    </div>
                    <div class="form-group">
                        <label for="available-permissions">{% trans "Select Permissions to add" %}</label>
                        <select  id="available-permissions" multiple data-target="#selected-permissions">
                            {% for p in available_permissions  %}
                                <option value="{{p.pk}}">{{p.name}} - {{p.codename}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
            </div>
            <div class="responsive">
                <div class="flex flex-column">
                    <button class="mat-button mat-button-default" type="button" id="add-selected-permissions" data-target="#selected-permissions" data-source="#available-permissions">
                        <i class="fas fa-angle-double-right"></i><span>{% trans "Add" %}</span>
                    </button>
                    <button class="mat-button mat-button-default" type="button" id="remove-selected-permissions" data-source="#selected-permissions" data-target="#available-permissions">
                        <i class="fas fa-angle-double-left"></i><span>{% trans "Remove" %}</span>
                    </button>
                </div>
            </div>
            <div class="responsive">
                <div class="form-group">
                    <label for="selected-permissions">{% trans "Selected Permissions" %}</label>
                    <select id="selected-permissions" class="mat-list selected" name="permissions" multiple>
                        {% for p in permissions  %}
                            <option value="{{p.pk}}" selected>{{p.name}} - {{p.codename}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div><!--End of Row-->
        <div class="row">
            <div class="responsive">
                <div class="form-group">
                    <label for="available-users">{% trans "Select Users to Add" %}</label>
                    <select name="available_users" id="available-users" multiple data-target="#selected-users">
                        {% for u in available_users  %}
                            <option value="{{u.pk}}">{{u.get_full_name}} ({{u.username}})</option>
                        {% endfor %}
                    </select>
                </div><!--End of form-group-->
            </div><!--End of Responsive-->
            <div class="responsive">
                <div class="flex flex-column">
                    <button class="mat-button mat-button-default" type="button" id="add-selected-users" data-source="#available-users" data-target="#selected-users">
                        <i class="fas fa-angle-double-right"></i><span>{% trans "Add" %}</span>
                    </button>
                    <button class="mat-button mat-button-default" type="button" id="remove-selected-users" data-target="#available-users" data-source="#selected-users">
                        <i class="fas fa-angle-double-left"></i><span>{% trans "Remove" %}</span>
                    </button>
                </div>
            </div><!--End of Responsive-->
            <div class="responsive">
                <div class="form-group">
                    <label for="users">{% trans "Selected Users.(Select Users to remove)" %}</label>
                    <select name="users" id="selected-users" multiple>
                        {% for u in users  %}
                            <option value="{{u.pk}}" selected>{{u.get_full_name}} ({{u.username}})</option>
                        {% endfor %}
                    </select>
                </div><!--End of form-group-->
            </div><!--End of Responsive-->
        </div><!--End of Row-->
        
        
        <div class="row">
            <a class="mat-button mat-button-text" href="{%url 'dashboard:home'%}">{% trans "Dashboard" %}</a>
            <a class="mat-button mat-button-text" href="{%url 'dashboard:groups'%}">{% trans "Groups" %}</a>
            <a class="mat-button mat-button-text js-cancel" href="{%url 'dashboard:group-detail' group.pk%}">{% trans "Cancel" %}</a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Update Group" %}</button>
        </div>
    </form>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}