{% load i18n %} 

<div class="responsive">
    <div class="form-group">
            
    </div>
    <form id="group-form" class="group-form form" name="group" action="{% url 'dashboard:group-create' %}" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="name">{% trans "Name" %} :</label>
            <input type="text" name="name" id="name" value="{{form.name.value}}"> 
        </div>
        
        <div class="row">
            <div class="responsive">
                <div class="form-group">
                    <label for="available-permissions">{% trans "Add Permissions to add" %}</label>
                    <select name="available_permissions" id="available-permissions" multiple>
                        {% for p in permissions  %}
                            <option value="{{p.pk}}">{{p.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="responsive">
                <div class="flex flex-column">
                    <button class="mat-button mat-button-default" type="button" id="add-selected-permisions">
                        <i class="fas fa-angle-double-right"></i><span>{% trans "Add" %}</span>
                    </button>
                    <button class="mat-button mat-button-default" type="button" id="remove-selected-permisions">
                        <i class="fas fa-angle-double-left"></i><span>{% trans "Remove" %}</span>
                    </button>
                </div>
            </div>
            <div class="responsive">
                <div class="form-group">
                    <label for="selected-permissions">{% trans "Selected Permissions" %}</label>
                    <select id="selected-permissions" class="mat-list selected" name="permissions" multiple>
                    {% for p in selected_permissions %}
                        <option value="{{p.pk}}">{{p.name}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div><!--End of Row-->
        <div class="row">
            <div class="responsive">
                <div class="form-group">
                    <label for="available-users">{% trans "Select Users to Add" %}</label>
                    <select name="available_users" id="available-users" multiple>
                        {% for u in available_users  %}
                            <option value="{{u.pk}}">{{u.get_full_name}} ({{u.username}})</option>
                        {% endfor %}
                    </select>
                </div><!--End of form-group-->
            </div><!--End of Responsive-->
            <div class="responsive">
                <div class="flex flex-column">
                    <button class="mat-button mat-button-default" type="button" id="add-selected-users">
                        <i class="fas fa-angle-double-right"></i><span>{% trans "Add" %}</span>
                    </button>
                    <button class="mat-button mat-button-default" type="button" id="remove-selected-users">
                        <i class="fas fa-angle-double-left"></i><span>{% trans "Remove" %}</span>
                    </button>
                </div>
            </div><!--End of Responsive-->
            <div class="responsive">
                <div class="form-group">
                    <label for="users">{% trans "Selected Users" %}</label>
                    <select name="users" id="users" multiple>
                        {% for u in users  %}
                            <option value="{{u.pk}}">{{u.get_full_name}} ({{u.username}})</option>
                        {% endfor %}
                    </select>
                </div><!--End of form-group-->
            </div><!--End of Responsive-->
        </div><!--End of Row-->
        
        
        <div class="form-group row">
            <a class="mat-button mat-button-text" href="{%url 'dashboard:home'%}">{% trans "Dashboard" %}</a>
            <a class="mat-button mat-button-text" href="{%url 'dashboard:groups'%}">{% trans "Groups" %}</a>
            <a class="mat-button mat-button-text" href="{%url 'dashboard:group-detail' group.pk%}">{% trans "Cancel" %}</a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Update Group" %}</button>
        </div>
    </form>
</div>