{% load i18n %}

<div id="payment-reports" class="row">
    <div id="payments-paid" class="metric mat-box">
            <h4 class="metric-title">{% trans "Payments" %}</h4>
            <span class="metric-value">{{payment_report.total_paid}}</span><span>{% trans CURRENCY %}</span>
    </div>
    <div id="payments-count" class="metric mat-box">
            <h4 class="metric-value">{{payment_report.total_count}}</h4>
            <span class="metric-title">{% trans "Payments Count" %}</span>
    </div>
    <div id="payments-average" class="metric mat-box">
            <h4 class="metric-value">{{payment_report.avg_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Average Payments" %}</span>
    </div>
    <div id="payments-min" class="metric mat-box">
            <h4 class="metric-value">{{payment_report.min_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Min Payments" %}</span>
    </div>
    <div id="payments-max" class="metric mat-box">
            <h4 class="metric-value">{{payment_report.max_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Max Payments" %}</span>
    </div>
</div>