{% load i18n %} 

{% if perms.payments.add_policy %}

<div class="container">

    <div class="mat-box">
        <form id="policy-form" name="policy-form" action="{% url 'dashboard:policy-create' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="created_by" value="{{request.user.pk}}">
            <div class="form-group">
                <label for="commission">{% trans "Transaction Commission" %}</label>
                <input type="text" name="commission" id="commission">
            </div>
            <div class="form-group">
                <label for="monthy_limit">{% trans "Monthly Transaction" %}</label>
                <input type="number" name="monthly_limit" id="monthly_limit">
            </div>
            <div class="actions">
                <a class="mat-button mat-button-outlined" href="{%url 'dashboard:policies'%}">{% trans "Cancel" %}</a>
                <button id="submit-btn" class="mat-button mat-button-default" type="submit">{% trans "Create the Policy" %}</button>
            </div>
        </form>
    </div>        
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
