{% load i18n %}

<div id="service-reports" class="row">
    <div id="services-paid" class="metric mat-box">
            <h4 class="metric-title">{% trans "Services" %}</h4>
            <span class="metric-value">{{service_report.total_paid}}</span><span>{% trans CURRENCY %}</span>
    </div>
    <div id="services-count" class="metric mat-box">
            <h4 class="metric-value">{{service_report.total_count}}</h4>
            <span class="metric-title">{% trans "Services Count" %}</span>
    </div>
    <div id="services-average" class="metric mat-box">
            <h4 class="metric-value">{{service_report.avg_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Average Services" %}</div>
    </div>
    <div id="services-min" class="metric mat-box">
            <h4 class="metric-value">{{service_report.min_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Min Services" %}</span>
    </div>
    <div id="services-max" class="metric mat-box">
            <h4 class="metric-value">{{service_report.max_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Max Services" %}</span>
    </div>
</div>