{% load i18n %}

<div id="transfer-reports" class="row">
    <div id="transfers-paid" class="metric mat-box">
            <h4 class="metric-title">{% trans "Transfers" %}</h4>
            <span class="metric-value">{{transfer_report.total_paid}}</span><span>{% trans CURRENCY %}</span>
    </div>
    <div id="transfers-count" class="metric mat-box">
            <h4 class="metric-value">{{transfer_report.total_count}}</h4>
            <span class="metric-title">{% trans "Transfers Count" %}</span>
    </div>
    <div id="transfers-average" class="metric mat-box">
            <h4 class="metric-value">{{transfer_report.avg_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Average Transfers" %}</span>
    </div>
    <div id="transfers-min" class="metric mat-box">
            <h4 class="metric-value">{{transfer_report.min_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Min Transfers" %}</span>
    </div>
    <div id="transfers-max" class="metric mat-box">
            <h4 class="metric-value">{{transfer_report.max_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Max Transfers" %}</span>
    </div>
</div>