{% load i18n %}

<div id="voucher-reports" class="row">
    <div id="voucher-paid" class="metric mat-box">
            <h4 class="metric-value">{{voucher_report.total_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Voucher" %}</span>
    </div>
    <div id="voucher-count" class="metric mat-box">
            <h4 class="metric-value">{{voucher_report.total_count}}</h4>
            <span class="metric-title">{% trans "Voucher Count" %}</span>
    </div>
    <div id="voucher-average" class="metric mat-box">
            <h4 class="metric-value">{{voucher_report.avg_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Average Voucher" %}</span>
    </div>
    <div id="voucher-min" class="metric mat-box">
            <h4 class="metric-value">{{voucher_report.min_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Min Voucher" %}</span>
    </div>
    <div id="voucher-max" class="metric mat-box">
            <h4 class="metric-value">{{voucher_report.max_paid}}</span><span>{% trans CURRENCY %}</h4>
            <span class="metric-title">{% trans "Max Voucher" %}</span>
    </div>
</div>