
<div class="flat-row">
    
<div class="flat-col-xs-12 flat-tabs">

    <div class="flat-tabBar">
        <span class="flat-tab flat-col-xs-6 active bordered" data-toggle="#flat-user-login" data-index="0">Se connecter</span>
        <span class="flat-tab flat-col-xs-6 bordered" data-toggle="#flat-user-register" data-index="1">Créer un compte</span>
    </div>

    <div id="flat-account-dialog" class="flat-tab-container">
        <section id="flat-user-login" class="flat-tabcontent">
                <form id="login_form" class="flat-form" name="login_form" action="{% url 'accounts:login' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    <div class="flat-row">
                        <span class="flat-col-xs-12">Connexion : Bienvenue !</span>
                    </div>
                    <div class="flat-row">
                        <div class="flat-col-xs-12">
                            <div class="form-group">
                                    <input type="text" name="username" placeholder="Nom d'utilisateur">
                            </div>
                            
                        </div>
                        <div class="flat-col-xs-12">
                            <div class="form-group">
                                    <input type="password" name="password" placeholder="Mot de passe">
                            </div>
                        </div>
                    </div>
                    <div class="flat-row">
                        
                        <span class="flat-col-xs-12">
                            <a class="flat-link" href="{% url 'accounts:password_reset' %}">Mot de passe oublié ?</a>
                        </span>
                    </div>
                    <div class="flat-row">
                        <div class="flat-col-xs-12">
                            <div class="form-group">
                                    <button type="submit"> Se connecter </button>
                            </div>
                        </div>

                    </div>
                </form>
        </section>
        <section id="flat-user-register" class="flat-tabcontent">
                <form class="flat-form" action="{% url 'accounts:register' %}" method="post">{% csrf_token %}
                <div class="flat-row">
                    <span class="flat-col-xs-12"> Créer votre compte gratuitement </span>
                </div>
                <div class="flat-row">
                    <div class="flat-col-xs-12">
                        <div class="form-group">
                            <input type="text" name="firstname" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="flat-col-xs-12">
                        <div class="form-group">
                            <input type="text" name="lastname" placeholder="Nom de Famille">
                        </div>
                    </div>
                </div>
                <div class="flat-row">
                    <div class="flat-col-xs-12">
                            <div class="form-group">
                                    <input type="email" name="email" placeholder="E-Mail">
                            </div>
                    </div>
                     
                    
                </div>
                <div class="flat-row">
                    <div class="flat-col-xs-12">
                            <div class="form-group">
                                    <input type="password" name="password" placeholder="Mot de passe">
                            </div>
                    </div>
                    
                </div>
                <div class="flat-row">
                    <div class="form-group">
                        <button type="submit">Créer mon compte</button>
                    </div>
                </div>
            </form>
            
        </section>
    </div>

</div>
</div>