<div class="flat-account-dialog">
        <div class="flat-column">
                <a class="flat-link-entry flat-btn" href="{% url 'accounts:user_account'%}">Appercu</a>
                <a class="flat-link-entry flat-btn" href="{% url 'accounts:orders' %}">Mes Commandes</a>
                <a class="flat-link-entry flat-btn" href="{% url 'wishlist:show_wishlist' %}"> Mes Favoris</a>
                <a class="flat-link-entry flat-btn" href="{% url 'contact:index'%}">Contact</a>
                <div class="divider">
        
                </div>
                <a class="flat-link-entry flat-btn" href="{% url 'accounts:logout' %}">Se déconnecter</a>
                <div class="flat-link-entry flat-btn flat-cancel-btn bordered">
                        <span>Fermer</span>
                </div>
        </div>
</div>