{% load i18n %}
{% load payments_tags %}


{% if activity_list %}
<div class="container wrapper">
    <div class="mat-table-wrapper">
        <table id="activity_list" class="mat-table js-filter-table">
            <caption>{% trans "Activities" %}</caption>
            <thead>
                    <tr>
                            <th scope="col">{% trans "Name" %}</th>
                            <th scope="col">{% trans "Activity" %}</th>
                            <th scope="col">{% trans "Amount" %}</th>
                            <th scope="col">{% trans "Date" %}</th>
                            <th scope="col">{% trans "Details" %}</th>
                    </tr>
            </thead>
            <tbody>
                    {% for activity in activity_list %}
                    <tr>
                    <td scope="row" data-label="{% trans 'Name' %}">{% if activity.is_incoming %}{{activity.sender.get_full_name}}({{activity.sender.username}}){% else %}{{activity.receiver.get_full_name}}({{activity.receiver.username}}){% endif %}</td>
                    <td data-label="{% trans 'Activity' %}">{{activity.activity|balance_activity}} </td>
                    <td data-label="{% trans 'Amount' %}"><span class="{% if not activity.is_incoming %}outgoing{% else %}incoming{% endif %}">{{activity.current_amount|floatformat:"-2"}}</span> <span class="currency">{% trans CURRENCY %}</span></td>
                    <td scope="row" data-label="{% trans 'Date' %}">{{activity.created_at|date:"F j,Y H:i:s"}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{% if OPEN_IN_DASHBOARD %}{{activity.get_dashboard_url}} {% else %} {{activity.get_absolute_url}} {% endif %}"><i class="fas fa-info icon"></i><span></a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% include "tags/pagination.html" with page_set=activity_list %}
    </div><!--End of Table Wrapper-->
</div>

{% else %}
<div class="container wrapper">
    <div class="col-m-12 col-12">
    <p>{% trans "There is no activities yet." %}</p>
    </div>
</div>
{% endif %}
