{% load i18n %}

{% if activity_list %}
    <div class="col-m-12 col-6">
        <div class="mat-list-wrapper">
            <div class="mat-list-header">
                <span class="title">{% trans list_title %}</span>
            </div>
            <ul class="mat-list">
                {% for activity in activity_list %}
                <li class="mat-list-item">
                    <a class="mat-button mat-button-text" href="{% if OPEN_DASHBOARD_URL %}{{activity.get_dashboard_url}}{% else %}{{activity.get_absolute_url}}{% endif %}">
                        <div class="entry align-left">
                            <span class="key">{{activity}}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% include "tags/pagination.html" with page_set=activity_list %}
        </div>
    </div>
{% endif %}