{% load category_tags %}
{% load catalog_tags %}

<div class="menu">
        {% root_categorie as root_cats%} 
        {% include "tags/menu_list.html" with entry_list=root_cats.root_cats %}

        <div id="page-filter" class="filter flat-container bottom-bordered">

                        <section class="flat-btn flat-clickable">
                            <span> FILTRE </span> <span class="glyphicon glyphicon-plus"></span>
                        </section>
                        <section class="flat-container flat-main-content ">
                              
                          <div class="flat-container">
                                  <section class="">
                                          <span> OPTIONS </span>
                                  </section>
                                  
                                          <div class="card bottom-bordered">
                                                  <section class="header">
                                                          <span > MARQUES </span>
                                                  </section>
                                                  <section class="content flat-container">
                                                          <input id="brands-filter-input" type="text" name="brands-query" placeholder="Saissez une marque ...">
                                                          <div id="flat-brands" class="flat-inputs">
                                                              {% for brand in brands %}
                                                              <span class="input-box" data-brand="{{brand}}">
                                                                  <label class="input-container"> {{brand}} 
                                                                        <input type="checkbox" name="mark-choices" value="{{brand}}">
                                                                        <span class="checkmark"></span>
                                                                  </label>
                                                                  
                                                                </span>
                                                              {% endfor %}
                                                          </div>
                                                  </section>
                                                  <section class="footer">
                                                          <span id="flat-filter-apply" class="flat-btn"> Appliquer</span>
                                                  </section>
                                                  
                                          </div>
                                          
                                  
                                  <section class="flat-row">
                                          
                                          <span class="flat-btn flat-close-main">Fermer</span>
                                  </section>
                              
                          </div>
                            
                        </section>
        </div>

</div>
