html{
    width: 100%;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #242424;
    font-size: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Montserrat","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5em;
    margin: 0;
    height: 100%;
  }
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
  
  * {
    background-color: transparent;
    /*color: black;*/
    font-size: 1em;
    font-family: "Montserrat";
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }

h1,h2,h3, h4, h5, h6{
	font-family: 'Montserrat';
	font-weight: 500;
}

h1{
  font-size: 3.2rem;
}

h2{
	font-size: 2.4rem;
}

h3, .header p{
  font-size: 2rem;
}

h4{
	font-size: 1.6rem;
}

h5{
	font-size: 1.2rem;
}

h6{
	font-size: 0.875rem;
}

ul, nav, .nav{
	list-style-type: none;
	margin: 0;
}

li a{
	display: block;
	text-align: center;
	text-decoration: none;
}

.mat-table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 0;
	font-size: 0.875em;
	padding: 0;
	margin : 0;
}

.mat-table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 0;
	font-size: 0.875em;
	padding: 0;
	margin : 0;
}

.mat-table.scrollable{
	table-layout: fixed;
	border-collapse: collapse;
}

.mat-table.scrollable thead tr{
	display: block;
}


.mat-table.scrollable tbody{
	display: block;
	overflow: auto;
	height: 30em;
	width: 100%;
}

.mat-table caption{
	font-size: 1em;
	margin: .5em 0 .75em;
}

.mat-table .table-header{
	width: 100%;
	height: 56px;
}

table thead, .mat-table thead{
	max-height: 64px;
	font-size: 0.875em;
	font-weight: 600;
	color: #242424;
}

table tr{
	padding: .35em;
}

table tbody tr, .mat-table tbody tr{
	min-height: 48px;
}

.mat-table .checkbox{
	width: 48px;
	height: 48px;
}

.mat-table td, .mat-table th, table td, table th{
	padding: 0.625em;
	text-align: left;
	letter-spacing: 0.15em;
	
}

.mat-table td:last-child{
	border-bottom: 0;
}

.mat-table th{
	font-size: 0.85em;
	text-transform: uppercase;
	/*height: 56px;*/
	text-align: left;
}

.mat-table td{
	font-size: 0.85em;
}

@media only screen and (max-width:30em){
	/**********************************/
  .col-xs-1 { width: 8.333%; }
  .col-xs-2 { width: 16.666%; }
  .col-xs-3 { width: 25%; }
  .col-xs-4 { width: 33.333%; }
  .col-xs-5 { width: 41.666%; }
  .col-xs-6 { width: 50%; }
  .col-xs-7 { width: 58.333%; }
  .col-xs-8 { width: 66.666%; }
  .col-xs-9 { width: 75%; }
  .col-xs-10 { width: 83.333%; }
  .col-xs-11 { width: 91.666%; }
  .col-xs-12 { width: 100%; }
  .hidden-xs {display: none;}
  .box{ width: 100%;}
  .mat-box{width: 100%;}
  body{font-size: 1.3em;}
  
  }


    
@media only screen and (max-width:40em){
	.column {
	  --width-tablet: var(--width-tablet);
	  --width: var(--width-tablet);
	}
	.col-m-1 { width: 8.333%; }
	.col-m-2 { width: 16.666%; }
	.col-m-3 { width: 25%; }
	.col-m-4 { width: 33.333%; }
	.col-m-5 { width: 41.666%; }
	.col-m-6 { width: 50%; }
	.col-m-7 { width: 58.333%; }
	.col-m-8 { width: 66.666%; }
	.col-m-9 { width: 75%; }
	.col-m-10 { width: 83.333%; }
	.col-m-11 { width: 91.666%; }
	.col-m-12 { width: 100%; }
	.hidden-m {display: none;}
	.box{ width: 100%;}
	.mat-box{width: 100%;}
	body{font-size: 1.3em;}
  
  }
  
  
  @media screen and (min-width:40em){
  .column {
	  --width-desktop: var(--width-desktop);
	  --width: var(--width-desktop);
  }
  
  .col-1 { width: 8.333%; }
  .col-2 { width: 16.666%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.333%; }
  .col-5 { width: 41.666%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.333%; }
  .col-8 { width: 66.666%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.333%; }
  .col-11 { width: 91.666%; }
  .col-12 { width: 100%; }
  .hidden-xl {display: none;}
  
  }