{% load i18n %}

<div class="footer-content">
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h4>{% trans "Our Engagement" %}</h4>
            
        </div>
    </div>
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h4>{% trans "Partners" %}</h4>
            
        </div>
    </div>
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h4>{% trans "Security" %}</h4>
            
        </div>
    </div>
    <div class="col-xs-6 col-3">
        <div class="footer-catalog">
            <h4>{% trans "Contact" %}</h4>
            <ul >
                <li><i class="fab fa-whatsapp icon"></i><a  href="https://wa.me/+24177433646/?text=Bonjour%2C+je+suis+interess%C3%A9+par+vos+acticles"></a><span class="bold">+24177433646</span></li>
                
                <li><i class="far fa-envelope icon"></i><a  href="mailto:info@lyshoping.com"><span class="bold">info(@)pay-atalaku.com</span></a></li>
            </ul>
        </div>
    </div>
</div>