<div id="grid-header" class="js-grid-header">
    <div class="flat-col-md-2">
        <div class="flex-left">
            <span class="js-show-filter show-filter"> Afficher le Filtre <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="js-hide-filter hide-filter"> Masquer le Filtre <span class="glyphicon glyphicon-menu-up"></span></span>
        </div>
    </div>
    <div class="flat-col-md-4">
            <div class="flex-left">
                <div class="">
                    <li class="active"><span>Page actuelle</span></li>
                </div>
            </div>
    </div>
    
   
</div>