<div id="grid-header" class="js-grid-header">
    <div class="flat-col-md-2">
        <div class="flex-left">
            <span class="js-show-filter show-filter"> Afficher le Filtre <span class="glyphicon glyphicon-menu-down"></span></span>
            <span class="js-hide-filter hide-filter"> Masquer le Filtre <span class="glyphicon glyphicon-menu-up"></span></span>
        </div>
    </div>
    <div class="flat-col-md-4">
            <div class="flex-left">
                <div class="">
                    <li class="active"><span>Page actuelle</span></li>
                </div>
            </div>
    </div>
    <div class="flat-col-md-4">
            <div class="flex-left">
                <div class="js-sort flex-row sort-container dropdown">
                        <div class="flex-row dropdown-toggle" data-toggle="dropdown">
                                <span> Ordre d'affichage </span>
                                <div class="flex-column">
                                        <span class="glyphicon glyphicon-menu-up"></span><span class="glyphicon glyphicon-menu-down"></span>
                                        
                                </div> 
                        </div>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Filtrage : </li>
                            <li class="divider"></li>
                            <li >Plus bas prix</li>
                            <li class="divider"></li>
                            <li >Prix le plus élevé</li>
                            <li class="divider"></li>
                            <li >Popularité</li>
                            <li class="divider"></li>
                            <li >Plus récent</li>
                        </ul>
                        
                        
                </div>
            </div>
    </div>
    <div class="flat-col-md-2">
            <div class="flex-right">
                <div class="js-grid-item-count flex-row">
                    <span> Afficher </span> 
                    <div class="flex-row">
                            <span> 2 </span> 
                            <span> 3 </span>
                            <span> 6 </span>
                    </div>
                </div>
            </div>
    </div>
</div>