<ul class="listview">
    
    {% for entry in entry_list %}
    <li class="list-item">
        {% if entry.is_parent %}
            <div class="js-expand menu-expand flex-row">
                    <span class="expand reveal">+</span>
                    <span class="expand mask">-</span>
            </div>
            <a class="" href="{{entry.get_absolute_url}}">{{entry.name}}</a>
            {% include "tags/menu_list.html" with entry_list=entry.subcategories%}
        {% else %}
        <a class="" href="{{entry.get_absolute_url}}">{{entry.name}}</a>
        {% endif %}
    </li>    
{% endfor %}
</ul>
