{% load i18n %}

{% if transaction_list %}
    <div class="col-m-12 col-4">
        <div class="mat-list-wrapper">
            <div class="mat-list-header">
                <span class="title">{% trans list_title %}</span>
            </div>
            <ul class="mat-list">
                {% for transaction in transaction_list %}
                <li class="mat-list-item">
                    <a class="mat-button mat-button-text" href="{{transaction.get_absolute_url}}">
                        <div class="entry">
                            {% if transaction.sender.pk == request.user.pk %}
                            <span class="part">{{transaction.recipient.first_name}}</span> <i class="separator"></i> <span class="part">{{transaction.created_at|date:"M j, Y"}}</span> <i class="separator"></i> <div class="money"><span class="amount outgoing">{{transaction.amount}}</span> <span class="currency">{% trans "XAF" %}</span></div>
                            {% else %}
                            <span class="part">{{transaction.sender.first_name}}</span> <i class="separator"></i> <span class="part">{{transaction.created_at|date:"M j, Y"}}</span> <i class="separator"></i> <div class="money"><span class="amount incoming">{{transaction.amount}}</span> <span class="currency">{% trans "XAF" %}</span></div>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% include "tags/pagination.html" with page_set=transaction_list %}
        </div>
    </div>

    {% else %}
    <p> {% trans "You haven't made any Payments" %}.</p>

    {% endif %}