{% load i18n %}

{% if recharge_list %}
    <div class="col-m-12 col-6">
        <div class="mat-list-wrapper">
            <div class="mat-list-header">
                <span class="title">{% trans list_title %}</span>
            </div>
            <ul class="mat-list">
                {% for recharge in recharge_list %}
                <li class="mat-list-item">
                    <a class="mat-button mat-button-text" href="{% if OPEN_DASHBOARD_URL %}{{recharge.get_dashboard_url}}{% else %}{{recharge.get_absolute_url}}{% endif %}">
                        <div class="entry center">
                            <span class="key">{{recharge}}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% include "tags/pagination.html" with page_set=recharge_list %}
        </div>
    </div>
    {% endif %}