{% load i18n %}
{% if perms.voucher.view_recharge %}

  {% if recharge_list %}
      <div class="mat-table-wrapper">
          {% if list_title %}<h4>{% trans list_title %}</h4>{% endif %}
          
          <table id="voucher-list" class="mat-table js-filter-table">
            <thead>
              <tr>
                  <th>{% trans "Voucher" %}</th>
                  <th>{% trans "Amount" %}</th>
                  <th>{% trans "Date" %}</th>
                  <th>{% trans "Details" %}</th>
              </tr>
            </thead>
            <tbody>
                    {% for recharge in recharge_list  %}
                    <tr>
                    <td>{{recharge.voucher.name}}</td>
                    <td>{{recharge.amount}} {% trans CURRENCY %}</td>
                    <td>{{recharge.created_at|date:"F j,Y H:i:s"}}</td>
                    <td><a class="mat-button mat-button-text" href="{% if OPEN_DASHBOARD_URL %}{{recharge.get_dashboard_url}}{% else %}{{recharge.get_absolute_url}}{% endif %}"> {% trans "Details" %}</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
      </table>
      {% include "tags/pagination.html" with page_set=recharge_list %} 
      </div><!--End of Table Wrapper-->
  {% else %}
        <p>{% trans "There are no Voucher sold now." %}</p>
  {% endif %}

{% else %}
<p>{% trans "You are not allowed to access this page" %}</p>
{% endif %}