{% load i18n %}

{% if recharge_list %}
  <div class="col-xs-12 col-6">
    <div class="mat-table-wrapper">
        <div class="mat-list-header">
            <div class="mat-table-title">
                {% trans "List of Recharges" %}
            </div>
        </div><!--End of Row-->

        <table id="recharge-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th class="checkbox"><input id="filter-select-all" type="checkbox" name="allselected"></th>
                          <th>{% trans "Customer" %}</th>
                          <th>{% trans "Seller" %}</th>
                          <th>{% trans "Balance" %}</th>
                          <th>{% trans "Voucher Code" %}</th>
                          <th>{% trans "Date" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for r in recharge_list  %}
                  <tr>
                  <td class="checkbox"><input type="checkbox" name="selected-voucher"></td>
                  <td>{{r.customer.get_full_name}}</td>
                  <td>{{r.seller.get_full_name}}</td>
                  <td>{{r.amount}} {% trans "XAF" %}</td>
                  <td>{{r.voucher.voucher_code}}</td>
                  <td>{{r.created_at|date:"F j, Y"}}</td>
                  <td><a class="mat-button mat-button-default" href="{% url 'voucher:recharge-detail' r.recharge_uuid %}"> {% trans "Details" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=recharge_list %} 
    </div><!--End of Table Wrapper-->
</div>
{% else %}
    <div class="row">
      <p>{% trans "There are no Voucher sold now." %}</p>
    
    </div>
    {% endif %}