
{% load i18n %}

<div class="container">
        <div class="full">
            <div class="padding-05x">
                    <h3>{% trans "Recharge Info" %}</h3>
                    <div class="mat-box">
                        <div class="entry">
                            <span class="key">{% trans "Amount" %}</span><span class="value">{{recharge.amount}} {% trans CURRENCY %}</span>
                        </div>
                        <div class="entry">
                            <span class="key">{% trans "Recharge Date" %}</span><span class="value">{{recharge.created_at|date:"F j, Y"}}</span>
                        </div>
                        <div class="entry">
                            <span class="key">{% trans "Executed by" %}</span><span class="value">{{recharge.seller.get_full_name}} - {{recharge.seller.username}}</span>
                        </div>
                        <div class="entry">
                            <span class="key">{% trans "Recharged User" %}</span><span class="value">{{recharge.customer.get_full_name}} - {{recharge.customer.username}}</span>
                        </div>
                    </div>
            </div>
        </div>
        {% include "tags/voucher_snippet.html" with voucher=voucher %}
</div>