{% load i18n %}
<div class="flex flex-column">
            <label for="search">{% trans "User Search" %} : </label>
            <input class="js-user-search" type="text" name="search" id="search">
            <ul class="js-user-search-result user-search-result" id="user-search-result" data-target-name="{{target_name}}" data-target="{{target}}">

            </ul>
            <div class="form-group">
                <label for="{{target_name}}">{% trans "Name" %} : </label>
                <input id="{{target_name}}" type="text">
            </div>
</div>