{% load catalog_tags %} 
{% root_categorie as context %}
{% comment "" %}

<div class="flat-row navigation">
    <h2> Navigation </h2>
    
    <ul id="main-nav" class="mod-dropdown">
            {% for cat in context.root_cats %}
            
                    <li>
                            {% if cat.is_parent %}
                            <span class="expand reveal">+</span>
                            <span class="expand mask">-</span>
                            <a class="flat-link" href="{{cat.get_absolute_url}}">{{cat.name}}</a>
                            {% include "tags/menu_list.html" with entry_list=cat.subcategories%}
                            {% else %}
                            <a href="{{cat.get_absolute_url}}">{{cat.name}}</a>
                            {% endif %}

                    </li>

            {% endfor %}
    </ul>
    
</div>
{% endcomment %}


<div id="site-navigation-bar" class="">
    <div class="flat-col-md-4">
        <div>
            
        </div>
    </div>
    <div class="flat-col-md-4">
        <div class="flex-row flex-center">
            {% for cat in context.root_cats %}
                <span class="nav-link"><a class="flat-link" href="{{cat.get_absolute_url}}">{{cat.name}}</a></span>
            {% endfor %}
        </div>
    </div>
    <div class="flat-col-md-4">
    
    </div>
</div>