<div class="infos-header-bar flex-row">
        <div class="infos-content flex-row">
                <span> Livraison gratuite sur Libreville et Port-gentil à partir de<span class="info">50000 FCFA</span></span>
                <span> Service Client au <span class="phone-number">07433646</span></span>
                <span> Disponible également sur Whatsapp au<span class="phone-number">07433646</span></span>

        </div>
</div>

<div class="flex-row">
        <div class="flat-col-md-4">
                <div class="flex-left ">
                        <div class="box">
                                <a href="{% url 'accounts:login' %}"><span class="site-label">PAY</span></a>
                        </div>
                </div>
            </div>
            <div class="flat-col-md-4">
                <div class="box">
                        
                </div>
            </div>
            <div class="flat-col-md-4">
                <div class=" flex-right">
                        
                </div>
            </div>
</div>