
{% load i18n %}

{% if perms.voucher.view_voucher %}

        {% if voucher_list %}
        
        <div class="mat-table-wrapper">
                <table id="voucher-list" class="mat-table js-filter-table">
                <thead>
                        <tr>
                                <th scope="col">{% trans "Name" %}</th>
                                <th scope="col">{% trans "Amount" %}</th>
                                <th scope="col">{% trans "Voucher" %}</th>
                                <th scope="col">{% trans "Status" %}</th>
                                <th scope="col">{% trans "Creation Date" %}</th>
                                <th scope="col">{% trans "Details" %}</th>
                        </tr>
                </thead>
                <tbody>
                        {% for v in voucher_list  %}
                        <tr>
                        <td scope="row" data-label="{% trans 'Name' %}"><span>{{v.name}}</span></td>
                        <td data-label="{% trans 'Amount' %}"><span>{{v.amount}} {% trans CURRENCY %}</span></td>
                        <td data-label="{% trans 'Voucher' %}"><span>{{v.voucher_code}}</span></td>
                        <td data-label="{% trans 'Status' %}"><span><i class="fas fa-circle icon {% if v.activated %}success{% else %}warning{% endif %}"></i><span>{{v.activated|yesno:_('activated,deactivated')}}</span></span></td>
                        <td data-label="{% trans 'Creation Date' %}"><span>{{v.created_at|date:"F j,Y H:i:s"}}</span></td>
                        <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{% url VOUCHER_URL v.voucher_uuid %}"><span>{% trans "Details" %}</span></a></td>
                        </tr>
                        {% endfor %}
                        
                </tbody>
                <tfoot>
                        
                </tfoot>

        </table>
        {% include "tags/pagination.html" with page_set=voucher_list %} 
        </div><!--End of Table Wrapper-->
        {% else %}
        <div class="">
        <p>{% trans "There are no Voucher sold now." %}</p>
        </div>
        {% endif %}

{% else %}
<p>{% trans "You are not allowed to access this page" %}</p>
{% endif %}