*.sqlite3
*.db
*.pyc
staticfiles/*
static_root/*
*.jpg
*.png
*.bmp
*.pdf
*.jpeg
.vscode
*/migrations/*
*/__pycache__/*
*_site.conf
*_site.conf.backup
robots.txt
log
logs
*.log
media
__pycache__
XDG_CACHE_HOME
