{% extends "site_account_base.html"%}
{% load i18n %}


{% block MAIN %}
<div class="container">
    <div class="highlight">
        <span class="label">{% trans "Services Offer" %}</span>
        <ul class="row">
            {% for cat in category_list %}
            <li>
                <div class="dropdown">
                    <span class="mat-button mat-button-text dropdown-toggle">{{cat.category_name}}</span>
                    <div class="dropdown-content">
                    <ul>
                        {% for service in cat.available_services.all %}
                        <li ><a class="mat-button mat-button-text" href="{{service.get_usage_url}}">{{service.name}}</a></li>
                        {% empty %}
                        <li><span class="mat-button mat-button-text disabled">{% trans "No service available" %}</span></li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </li>
            {% empty %}
            <li>{% trans "Coming soon ..." %}</li>
            {% endfor %}
        </ul>

    </div>
</div>

<div class="container">
    {% include "tags/activity_list_snippet.html" with  list_title="Recents activities" OPEN_DASHBOARD_URL=False %}
    {% comment %}
        {% include 'tags/balance_activities_snippet.html' with OPEN_IN_DASHBOARD=False %}
    {% endcomment %}
    {% include 'tags/transaction_list_snippets.html' with  list_title={% trans "Recents activities" %} with OPEN_IN_DASHBOARD=False %}
</div>
{% endblock MAIN %}