{% extends "base_flat.html"%}
{% load i18n %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                <h4> {% trans "Welcome" %} {{name}}</h4>
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--content flex-column">
                    <div class="row row-left"><span class="item"><h4>{% trans "Balance" %}</h4></span></div>
                    <div class="row row-left subtitle"><span class="item"><span class="big strong">{{account.balance}} {% trans "XAF" %} </span></span></div>
                    
                </div><!--End of Banner-Content-->
                <div class="banner--actions">
                        <a class="mat-button mat-button-text" href="{%url 'accounts:update' account.pk %}"> {% trans "Edit my account" %}</a>
                        <a class="mat-button mat-button-text" href="{%url 'payments:recharge' %}"> {% trans "Recharge my Balance" %}</a> 
                        <a class="mat-button mat-button-text" href="{%url 'payments:new-transfer' %}"> {% trans "Send Money" %}</a>
                        <a class="mat-button mat-button-text" href="{%url 'payments:transfers' %}"> {% trans "Transfer History" %}</a>
                        <a class="mat-button mat-button-text" href="{%url 'payments:transaction-verification' %}"> {% trans "Transaction Verification" %}</a>
                        <a class="mat-button mat-button-text" href="{%url 'payments:services' %}"> {% trans "Service Usage History" %}</a>
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}

<div class="row">
        <div class="tabs">
                
                <div class="row">
                        <ul  class="action-list listview">
                                
                                <li class="action list-item"><a class="mat-button mat-button-text" href="{%url 'accounts:password-change' %}"> {% trans "Change my password" %}</a> </li>
                                
                                {% if has_idcard is True %}
                                <li class="action list-item"><a class="mat-button mat-button-text" href="{%url 'payments:idcard-update' idcard.idcard_uuid %}"> {% trans "Update my ID" %}</a> </li>
                                {% else %}
                                <li class="action list-item"><a class="mat-button mat-button-text" href="{%url 'payments:upload-idcard' %}"> {% trans "Upload my ID" %}</a> </li>
                                {% endif %}
                        </ul>
                </div>
        </div>
        <!--End of tabs-->
</div>
<div class="container">
    {% if has_payments %}
         {% include "tags/payment_list_snippet.html" %}
    {% endif %}
    {% if has_transfers %}
         {% include "tags/transfer_list_snippet.html" %}
    {% endif %}
    {% if has_recharges %}
         {% include "tags/recharge_list_snippet.html" %}
    {% endif %}

   
</div>

{% endblock MAIN %}