{% extends "template_email.html" %}
{% load i18n %}


{% block EMAIL_BODY %}

<tr><!--EMAIL_BODY-->
    <td>
        <table>
            <tr>
                <td>
                    <h4>Recharge de votre compte !</h4>
                    <p>Bonjour, bonsoir {{FULL_NAME}},</p>
                    <p>Votre compte a été rechargé avec succès avec la carte le code : {{voucher}}.</p>
                    <p>Le solde de votre compte est maintenant : {{amount}} {{CURRENCY}}</p>
                    
                </td>
            </tr>
        </table>
    </td>
</tr>

{% endblock EMAIL_BODY %}