{% extends "base.html" %}
{% load i18n %} 


{% block HEADER_PANEL %}
    <div class="header--panel row">
        <span>{% trans 'Confirmation de réinitialisation de mot de passe' %}</span>
    </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <p>Confirmation</p>
        <a href="{% url 'home' %}">{% trans "Page d'accueille" %}</a>
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN %}
<div class="col col-12">
    <div class="container">
        <section id="" class="card">
                {% if validlink %}
                <p>{% trans "Veuillez entrer votre nouveau mot de passe deux fois s'il vous plaît." %}</p>
                <form class="form" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="password" name="new_password1" placeholder="Nouveau mot de passe" required>
                    </div>
                    <div class="form-group">
                        <input type="password" name="new_password2" placeholder="Confirmation du mot de passe" required>
                    </div>
                    <div>
                        <button class="button" type="submit"> {% trans 'Changer mon mot de passe' %}</button>
                    </div>
                </form>

                {% else %}
                <p>{% trans "Le lien de réinitialisation du mot de passe est invalid. Faites une nouvelle requête si vous souhaitez réinitialiser votre mot de passe" %}</p>
                {% endif %}
        </section> <!-- End of Section Login-->
    </div><!--End of account-dialog -->
</div>
{% endblock MAIN %}


