
{% extends "base_flat.html" %}
{% load i18n %} 


{% block HEADER_PANEL %}
    <div class="header--panel row">
        <span>{% trans "MODIFICATION DE MOT DE PASSE" %}</span>
    </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <p class="confirmation">{% trans "Votre mot de passe a été modifié avec succèss" %}</p>
        <a class="link" href="{% url 'home' %}">{% trans "Retour à la page d'acceuille" %}</a>
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN %}
    
{% endblock MAIN %}

