{% extends "base.html" %}
{% load i18n %} 


{% block HEADER_PANEL %}
    <div class="header--panel row">
        <span>MODIFICATION DE MOT DE PASSE</span>
    </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <p>Modifier votre mot de passe</p>
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN %}
<div class="col col-12">


    <div id="account-dialog" class="container">
        <section id="user-login" class="user-login tab-content">
                <form id="password-change-form" class="form" action="{%url 'accounts:password-change'%}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <span class="helptext">
                            <ul>
                                <li>{% trans "Votre mot de passe ne doit pas trop ressembler à vos autres information personnelles." %}</li>
                                <li>{% trans "Votre mot de passe doit contenir au moins 8 caractères." %}</li>
                                <li>{% trans "Votre mot de passe ne peut pas être un mot de passe couramment utilisé." %}</li>
                                <li>{% trans "Votre mot de passe ne doit pas trop ressembler à vos autres information personnelles." %}</li>
                                <li>{% trans "Votre mot de passe ne doit pas être entièrement numerique." %}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <input id="old-password" type="password" name="old_password" placeholder="{%trans 'Ancien mot de passe'%}" required>
                    </div>
                    <div class="form-group">
                        <input id="new-password1" type="password" name="new_password1" placeholder="{%trans 'Nouveau mot de passe'%}" required>
                    </div>
                    <div class="form-group">
                        <input id="new-password2" type="password" name="new_password2" placeholder="{%trans 'Confirmation du nouveau mot de passe'%}" required>
                    </div>

                    <div class="form-group">
                        <a class="btn button" href="{%url 'home' %}">{%trans 'Cancel'%}</a>
                        <button class="btn button" type="submit">{%trans 'Change Password'%}</button>
                    </div>
                </form>
            
        </section> <!-- End of Section Login-->
    </div><!--End of account-dialog -->
</div>
{% endblock MAIN %}
