{% extends "base.html" %}
{% load i18n %} 


{% block HEADER_PANEL %}
    <div class="header--panel row">
        <span>{% trans 'Réinitialisation de mot de passe' %}</span>
    </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <p>Réinitialisation de votre mot de passe</p>
        <a href="{% url 'home' %}">{% trans "Home" %}</a>
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN %}
<div class="col col-12">


    <div id="account-dialog" class="container">
        <section id="user-login" class="user-login tab-content">
                <p>{% trans "Vous avez oublié votre mot de passe ?" %} 
                    {%trans "Remplisser votre addresse Email dans le champs en dessous et nous vous enverrons des instructions sur comment remettre votre mot de passe à zero" %}
                </p>             


                <form id="password-reset-form" class="form" action="{%url 'accounts:password-reset'%}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <span class="helptext">
                            <ul>
                                <li>{% trans "Nous ne vous demanderons jamais votre mot passe." %}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group">
                        <input id="email" type="email" name="email" placeholder="{%trans 'Entrer votre addresse E-mail'%}" required>
                    </div>
                    
                    <div class="form-group">
                        <a class="btn button" href="{%url 'home' %}">{%trans 'Annuler'%}</a>
                        <button class="btn button" type="submit">{%trans 'Reinitialiser'%}</button>
                    </div>
                </form>
            
        </section> <!-- End of Section Login-->
    </div><!--End of account-dialog -->
</div>
{% endblock MAIN %}
