
{% extends "base.html" %}
{% load i18n %} 


{% block HEADER_PANEL %}
    <div class="header--panel row">
        <span>{% trans 'Réinitialisation de mot de passe' %}</span>
    </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <p>Confirmation</p>
        <a href="{% url 'home' %}">{% trans "Page d'accueille" %}</a>
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN %}
<div class="col col-12">


    <div class="container">
        <section class="card">
                <p>{% trans "Nous vous avons envoyé un mail contenant les instructions pour reinitialiser votre mot de passe." %}
                   {% trans "Vous devriez le recevoir dans un instant." %}
                   {% trans "Si vous ne recevez aucun mail de nous, vérifez que vous avez donné la bonne addresse email, celle avec laquelle vous vous êtes enrégistré chez nous. Verifier aussi vos spams." %}
                </p>             
            
        </section> <!-- End of Section Login-->
    </div><!--End of account-dialog -->
</div>
{% endblock MAIN %}

