/* Utility */

:root{
  --body-bg: #1F2833;
  --header-hover-color: #66FCF1; 
  --header-bg: #45A29E;
  --header-color: #fff;
  --header-panel-bg :#0B0C10;
  --header-panel-color: #fff;
  --banner-bg: #45A29E;
  --banner-color: #fff;
  --card-bg : transparent;
  --card-color : #616161;
  --btn-border : 1px solid #66FCF1;
  --btn-color: #66FCF1;
  --input-border : 1px solid #ccc;
  --btn-hover-border : 1px solid #454545;
  --btn-hover-color: #454545;
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  				0px 1px 3px 0px rgba(65, 40, 40, 0.12);
  --in-bg : #4caf50;
  --in-color: #eeeeee;
  --out-bg:#e91e63;
  --out-color:#eeeeee;
  --logo-bg: #fff;
  --logo-color: #242424;
  --nav-link-color: #fff;
  --nav-link-hover-color: #242424;
  --form-bg: transparent;
  --form-color: #242424;
  --disabled-color: #ccc;
  --disabled-bg-color: #fafafa;
  --disabled-hover-bg-color: #aaaaaa;
  --mat-list-item-hover-bg : #ccc;
  --mat-list-item-hover-color : #242424;
  --mat-list-item-active-bg : #454545;
  --mat-list-item-active-color : #fafafa;

}

.adapt-color{
  color: #66FCF1;
  fill: var(--header-bg);
  filter: invert(75%) sepia(83%) saturate(279%) hue-rotate(115deg) brightness(104%) contrast(98%);
}

.bordered{
  border: 1px solid #ccc;
}
.separator-ht{
	margin: 0 16px;
}

.separator-vt{
	margin: 16px 0;
}

.separator{
	margin: 16px;
}

.separator-ht::after, .separator-vt::after, .separator::after{
	content: "-";
	padding: 0 16px;
}

.state{
	padding: 0 8px;
	margin: 8px 4px;
}

.padded-wrapper-top{
	top: 12rem;
	width: 100%;
	padding: 150px 15px;
}

/* sections */

ul, nav, .nav{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li a{
	display: block;
	text-align: center;
	text-decoration: none;
}

.balance{
	font-size: 1.5em;
	font-weight: bold;
}

.balance-info{
	font-size: 1em;
	font-weight: bold;
	height: 25px;
	border-radius:50%;
}

.header {
	
  --width-mobile: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--header-bg);
  color: var(--header-color);
  font-family: 'Montserrat';
  height: 48px;
  padding: 0;
}

.header .overlay{
  width: 100%;
  height: 100%;
  padding: 50px;

}
.page--banner{
  min-width: 100%;
  font-family: 'Monserrat';
  background-color: var(--banner-bg);
  color: var(--banner-color);
  padding: 0;
  margin-bottom: 16px;

}

.banner{
	display: flex;
	width: 100%;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	/*height: 400px;*/
	padding : 16px 0;
	margin-bottom: 16px;
}

.banner--title{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 16px;

}

.banner--content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.banner .item{
	/*width: 100%;*/
	text-align: left;
	padding: 8px;
	/*font-size: 1rem;*/

}

.banner--description{
	width: 50%;
	text-align: center;
	font-size: 1.125em;
}
.banner-entry{
	margin-bottom: 16px;
}

.banner--actions, .actions{
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner--actions .mat-button, .actions .mat-button  {
	margin: 0 8px;
}

h1,h2,h3, h4, h5, h6{
	font-family: 'Montserrat';
	font-weight: 700;
	margin-bottom: 16px;
}

h1{
  font-size: 1.75em;
}

h2{
	font-size: 1.5em;
}

h3, .header p{
  font-size: 1.125em;
}

h4{
	font-size: 1em;
}

h5{
	font-size: 0.875em;
}

h6{
	font-size: 0.5em;
}

input{
	height: 32px;
	border: var(--input-border);
	padding: 16px 8px;
}

label{
	padding: 16px 8px;
	/*width: 250px;*/
	text-align: left;
}

a.button{
  text-decoration: none;
}
.button:hover{
  cursor: pointer;
  color: var(--btn-hover-color);
  border : var(--btn-hover-border);
}

.in{
	background-color: var(--in-bg);
	color: var(--in-color);
}

.out{
	background-color: var(--out-bg);
	color: var(--out-color);
}

.home-leading{
	width: 100%;
	margin-bottom: 32px;
}

.content {
  --width-mobile: 12;
  --width-tablet: 6;
  --width-desktop: 8;
  /*height: 64rem;*/
}

.sidebar {
  --width-mobile: 12;
   --width-tablet: 6;
  --width-desktop: 4;
  /*height: 64rem;*/
}


.footer .copyright span{
  padding: 16px;
}

.divider {
  --columns: 12; /* number of columns in the grid system */
  --width: var(--width-mobile, 0); /* width of the element */
  padding: 8px 0 ;
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}

/* Navigation */
.header .header--panel{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--header-panel-bg);
  color: var(--header-panel-color);
  font-weight: 400;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo .mat-button, .header--panel .mat-button{
	min-width: 0;
	padding: 0;
	margin: 0 16px;
}

.header--panel .mat-button:last-child, .logo .mat-button:last-child{
	padding: 0;
	margin: 0 ;
}



.nav-container{
	width: 100%;
	padding: 0;

}

.nav{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.nav-v{
	flex-direction: column;
}

.nav-h{
	flex-direction: row;
}

.nav a, .logo a{
  display: flex;
  color: var(--nav-link-color);
  font-weight: 600;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0 16px;
}

.nav a:hover{
  color: var(--nav-link-hover-color);
}
/*  */


.main{
  font-family: 'Montserrat';
  font-size: 1.25em;
}

/*
#discover p, #pay p, #customer p, #enterprise p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 0 auto;
}

#discover .bloc, #pay .bloc, #customer .bloc, #enterprise .bloc{
  display: block;
  padding: 10px 20px;
  margin: 0 auto;
}

#discover, #pay, #customer, #enterprise{
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 30px;
}
*/
.title{
  text-align: center;
  font-size: 1.75em;
}

/* Design Component */
.wrapper{
  padding: 1rem;

}

.column__list{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(260px, 1fr));
  grid-area: .5rem;
  align-items: start;
}

.column__item{
  border-radius: .2rem;
  background-color: #dfe3e6;
  padding: .5rem;
}

.column__title--wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .25rem;
  align-items: center;
}

.column__title--wrapper h2{
  color: #17394d;
  font-weight: 700;
  font-size: .9rem;
}

.column__title--wrapper i{
  text-align: right;
  color: #798d99;

}

.column__item--cta{
  padding: .25rem;
  display: flex;
  color: #798d99;
}

.column__item--cta i{
  margin-right: .25rem;
}

/* CARD COMPONENT */
.card__list{
  display: grid;
  grid-auto-rows: auto;
  grid-area: .5rem;
  margin: .5rem 0;
}

.card{
  /*background-color: #fff;*/
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  padding: .5rem;
  flex: 1;
  align-self: center;
  width: 350px;
  min-width: 300px;
  max-width: 350px;
  /*height: 400px;*/
  min-height: 380px;
  margin: 0.2em;
}

.card__tag{
  font-size: .75rem;
  padding: .1rem .5rem;
  border-radius: .25rem;
  font-weight: 700;
  margin-bottom: .75rem;
  color: #fff;
  display: inline-block;
}

.card__image{
  position: relative;
  width: 100%;
}

.card__image img, .card__image object{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}
.card__tag--info{
  background-color: #61bd4f;
}

.card__tag--warning{
  background-color: #eb5a46;
}

.card__title{
  font-size: 1.25rem;
  color: #fff;
}

.card__title h1{
  font-size: 1.25rem;
  color: #fff;
}

.card__actions{
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /*padding: 10px 20px;*/
}


.card__actions--wrapper i{
  color: #798d99;
  margin-right: .5rem;
}

.card__actions--text{
 /* color: #798d99;*/
  font-size: .8rem;
  margin-left: -.25rem;
  margin-right: .5rem;
}
.card__avatars{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.card__avatars--item{
  margin-left: .25rem;
  width: 28px;
  height: 28px;
}

.avatar__image{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*
.mat-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--card-bg);
  color: var(--card-color);
  border-radius: .25rem;
  
  width: 344px;
  max-height: 510px;
  padding: 0;
}*/

.mat-card .card__image, .mat-card .card--image{
  min-width: 100%;
  min-height: 240px;
  height: 240px;
  padding: 0;
  margin: 0 0 16px 0;
}

.mat-card .card__image img, .mat-card .card__image object,
.mat-card .card--image img, .mat-card .card--image object{
  min-width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0;
  margin: 0 auto;
}

.mat-card__body, .mat-card--body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 0 16px;
  margin: 0 auto;
}

.mat-card__body .title, .mat-card--body .title{

  font-size: 1.33rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--btn-color);
  width: 100%;
  margin-bottom: 16px;

}

.mat-card__body .secondary--text, .mat-card--body .secondary--text{

  font-size: 1em;
  font-weight: 700;
  /*height: 68px;*/
  
}

.mat-card__body .subtitle, .mat-card--body .subtitle{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 16px;

}


.mat-card .card__title, .mat-card .card--title{
  min-width: 100%;
  padding: 16px;
}

.mat-card__footer, .mat-card--footer{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0;
}


 .welcome-text{
  /*background-color: #fff;*/
  font-size: 1em;
 }


.center{
  text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.circle{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  color: var(--btn-color);
  border: var(--btn-border);
}

.add-shadow{
  box-shadow: var(--box-shadow);
}

.active{
  border-bottom: 2px solid var(--btn-color);
}

.disabled{
	color:var(--disabled-color);
	background-color: var(--disabled-bg-color);
	cursor: default !important;
}

.disabled:hover{
	background-color: var(--disabled-hover-bg-color)
}



.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}


/* Tab style */
.tabs{
  padding: 16px 0;
  margin : 32px 0;
}
.tab-bar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 100%;*/
  padding: 0 16px;

}

.tab-container{
  padding : 0 16px;
}

.tab-content{
  padding: 16px;
  justify-content: start;
}

.tab{
  font-weight: 700;
  text-align: center;
  padding: 16px;
}

/* SLIDER */
.slider{
  padding: 0;
  margin: 0 auto;
}

.slider .slide-container{
  min-width: 100%;
}

.slider .slide{
  width: 100%;
  padding: 16px 16px;
}

.slider .indicators{
  background-color: transparent;
}

/* Form */


 .error-login{
  display: none;
  padding: 16px 16px;

}

.dialog{
  display: none;
  position: fixed;
  width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0B0C10AA;
  z-index: 100;
  padding-top: 58px;
}

.dialog .dialog-content{
  position: relative;
  width: 500px;
  max-height: 514px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0B0C10FA;
  z-index: 1000;
  padding: 16px 16px;
  margin: auto;
}

.solde-info{
  padding: 16px 16px;
}

.details-info{
  padding: 16px 16px;
}

.languages{
  padding: 0 16px;
}
.languages .mat-button{
	width:auto !important;
}

.lang, .mat-button.lang{
  width: 32px !important;
  font-weight: 500;
  padding: 0 8px;
  margin : 8px 8px !important;
}

.lang.active{
  color: var(--btn-color);
  font-weight: bold;
  border-bottom: var(--btn-border);
}


/* Header component */
body.header-not-at-top .site-header{
	position: fixed;
	top: 0;
	left: 0;

	box-shadow: 0 4px 3px #252525;
	transform: translateY(-100px);
	animation: move-down .2s forwards;
}

.page{
	display: flex;
	flex-direction: column;
	position: relative;
	/*overflow: hidden;*/
	padding-top: 48px;
	height: 100%;
}

.footer-list{
	align-self: flex-end;
}

.site-header{
	height: var(--nav-height);
	width: 100%;
	position: relative;
	z-index: 1000;
	display: flex;
	align-items: center;
	background: #1a1a1a;
	border-bottom: 1px solid #201c29;
	animation: none;
}
/* Header logo */
.site-header .logo{
	flex:0;
	padding: 0 40px;
	position: relative;
	align-self: stretch;
	display: flex;
	align-items:center;
}

.site-header .logo > a{
	display: flex;
	align-items: center;
}

.site-header .header-middle-area{
	flex:1;
}

.site-header .search{
	flex: 0 0 400px;
}

.search{
	padding: 0 40px;
	flex: 1;
}
.site-header .search-form{
	background: #fff;
	padding: 1px;
	border-radius: 28px;
	display: flex;
}

.site-header .mobile-actions{
		display: none;
		margin-left: auto;
		background: #100e17;
		height: var(--nav-height);
		border-left: 1px solid #201c29;
		border-bottom: 1px solid #201c29;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
}

.site-header .mobile-actions .search-opener{
	border : 0;
	background: 0 0;
	padding-left: 26px;
}

.site-header .mobile-actions > button{
	padding: 13px 22px;
	outline: 0;
	height: var(--nav-height);
}

form{
	margin: 0;
}

.site-header .search-form input[type="search"]{
	background: #201c29;
	min-width: 0;
	flex: 1;
	color: #fff;
	padding: .75rem 2.5rem .75rem 1.5rem;
	border-radius: 27px;
}

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"], select{
	font-family: inherit;
	outline: 0;

	padding: 8px 1rem;
	border-radius: 4px;
}

textarea{
	font-family: inherit;
	outline: 0;
	border: 0;
	padding: 5px 1rem;
	border-radius: 6px;
}
input, button, select{
	line-height: normal;
}


button, input, select, textarea{
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}

/****************************************************************/
/* sections */
.balance{
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5;
}

.balance-info{
	font-size: 1em;
	font-weight: bold;
	height: 25px;
	border-radius:50%;
}

.register-hint{
	min-width: 120px;
	padding: 0 16px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75em;
}
.register-btn{
	background-color: #242424 !important;
	color: #fafafa !important;
	font-weight: 600 !important;
}
.header {
  --width-mobile: 12;
  /*height: 12rem;*/
}

.content {
  --width-mobile: 12;
  --width-tablet: 6;
  --width-desktop: 8;
  /*height: 64rem;*/
}

.sidebar {
  --width-mobile: 12;
   --width-tablet: 6;
  --width-desktop: 4;
  /*height: 64rem;*/
}

.footer {
  --width-mobile: 12;
  height: 8rem;
}

.divider {
  --columns: 12; /* number of columns in the grid system */
  --width: var(--width-mobile, 0); /* width of the element */
  padding: 5px;
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}


/**
List Cards
*/

.list-container{
	width: 272px;
	margin-left: 0 4px;
	height: 100%;
	max-height: 900px;
	vertical-align: top;
	white-space: nowrap;
	display: inline-block;
	color: #17394d;
	font-size: 14px;
	font-weight: 400;
}

.list{
	background-color: #dfe3e6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	position: relative;
	white-space: normal;
}

.list-header{
	flex: 0 0 auto;
	padding: 16px 8px 8px;
	position: relative;
	min-height: 22px;
	max-height: 256px;
}

.header-title{
	font-weight: 700;
	font-size: 1.25;
	text-align: left;
	text-decoration: none;
}

.list-cards{
	flex : 1 1 auto;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 4px;
	padding: 0 4px;
	z-index: 1;
	min-height: 0;
}
a {
	color: #17394d;
}
.list-card{
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(9, 45, 66, .25);
	cursor: pointer;
	display: block;
	margin-bottom: 8px;
	max-width: 300px;
	min-height: 20px;
	position: relative;
	text-decoration: none;
	z-index: 1;
}

.list-card-cover{
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.list-card-operation{
	background-color: #f5f6f7;
	background-clip: padding-box;
	background-origin: padding-box;
	border-radius: 3px;
	opacity: .8;
	padding: 4px;
	position: absolute;
	right: 2px;
	top: 2px;
	visibility: hidden;
	z-index: 40;
}
.icon-sm{
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	width: 20px;
}
.icon-sm{
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: #798d99;
}
.list-card-stickers-area{
	border-radius: 3px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.list-card-details{
	overflow: hidden;
	padding: 6px 8px 2px;
	position: relative;
	z-index: 10;
}

.list-card-labels{
	overflow: auto;
	position: relative;
}
.card-label.card-front{
	float: left;
	font-size: 12px;
	font-weight: 700;
	height: 8px;
	width: auto;
	max-width: 40px;
	min-width: 40px;
	text-shadow: none;
	padding: 0;
	margin: 0 4px 4px 0;

}
.card-label{
	background-color: #b3bcc4;
	border-radius: 4px;
	color: #fff;
	display: block;
	margin-left: 4px;
	max-width: 100%;
	overflow: hidden;
	padding: 4px 6px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-card-title{
	clear: both;
	display: block;
	margin:  0 0 4px;
	overflow: hidden;
	text-decoration: none;
	word-wrap: break-word;
	color: #17394d;
}

.badges{
	float: left;
	max-width: 100%;
	margin-left: -2px;
}

.badge, .badge-icon{
	vertical-align: top;
}

.badge{
	color: #6b808c;
	display: inline-block;
	margin: 0 4px 4px 0;
	max-width: 100%;
	min-height: 20px;
	overflow: hidden;
	position: relative;
	padding: 2px;
	text-decoration: none;
	text-overflow: ellipsis;
}

.list-card-members{
	float: right;
	margin: 0 -2px 0 0;
}

.list-card-members .member{
	height: 28px;
	width: 28px;
	float: right;
	margin: 0 0 4px 4px;
}

.member{
	background-color: #dfe3e6;
	border-radius: 25em;
	color: #17394d;
	cursor: pointer;
	display: block;
	height: 32px;
	margin: 0 4px 4px 0;
	overflow: visible;
	position: relative;
	width: 32px;
	text-decoration: none;
	z-index: 0;
}

.list-card-members .member .member-initials{
	height: 28px;
	width: 28px;
}

.member-initials{
	display: block;
	font-size: 12px;
	font-weight: 700;
	top: 0;
	left: 0;
	height: 32px;
	width: 100%;
	line-height: 32px;
	overflow: hidden;
	position: absolute;
	text-align: center;

}

.create-transaction{
	border-radius: 0 0 3px 3px;
	color: #6b808c;
	display: block;
	flex: 0 0 auto;
	padding: 8px;
	position: relative;;
	text-decoration: none;
}


.entrant, .incoming{
	color: #00e676;
}
.outgoing{
	color: #d32f2f;
}

.incoming::before, .outgoing::before{
	font-weight: 600;
}

.incoming::before{
	content: "+";
}
.outgoing::before{
	content: "-";
	
}

.date{
	font-size: 1em;
}
.icon-money-text{
	font-weight: bold;
	font-size: 1em;
}

.currency{
	font-size: 1em;
	font-weight: 700;
}


/** Transaction Form **/

.-form-wrapper{
	margin: 2px 0;
}

.transaction-form, .case-form{
	max-width: 272px;
	padding: 16px;
}

.form-title{
	color: #252525;
	font-size: 1.1em;
	font-weight: 700;
	border-bottom: 1px solid #ccc;
	padding: 4px 8px;
	margin: 4px 2px;
}

.form-group{
	display: flex;
	justify-content: right;
	align-items: center;
	width: 100%;
	padding: 0;
	margin-bottom: 16px;
}

.form-group input, .form-group textarea, .form-group select{
	/*width: 100%;*/
	height: 32px;
	padding: 0 8px;
	margin : 0  16px;
	color: var(--btn-color);
	border: var(--input-border);
}

.form-group .mat-button{
	padding: 0 8px;
	margin : 0  16px;
}

.form-group input:last-child, .form-group select:last-child, 
.form-group textarea:last-child, .form-group .mat-button:last-child{
	margin : 0;
}

.field-wrapper{
	display: flex;
	width: 100%;
	flex-direction: column;
}

.errorlist{
	display: flex;
	flex-direction: column;
	width: 100%;

}
.errorlist li{
	text-align: center;
	color: #d32f2f;
}
/** Errors Field **/
.error{
	color: #d32f2f;
	font-size: 0.8em;
}

.circle{
	padding: 16px;
	font-size: 30px;
	/*width: 30px;*/
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

#recipient-error, #amount-error, #description-error,
#participant-error, #reference-error, #case-description-error
{
	display: none;
}

input[type=text]:focus, textarea:focus{
	border: 2px solid #555;
}

/**************************/
.template{
	display: none;
}


/* Modal Settings */
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-modal{
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-modal:hover, .close-modal:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.cancel{
	font-size: 1em;
}

.cancel:hover{
	color: #aaa;
	font-size: 1em;
}

.action{
	font-size: 1.5rem;
	text-align: center;
	padding: 2px 5px;
	border-bottom: var(--btn-border);
}

.bordered{
	border: 1px solid #201c29;
}

.collapsible{
    width: 100%;
    padding: 5px;
    margin: 2px;
}

.collapsible .collapse-content{
	display: flex;
    display: none;
}

.scrollable{
	max-height: 900px;
	min-width: 100%;
	overflow-y: auto;
	padding: 10px 5px;
}


.card{
	width: 344px;
	/*margin: 30px;*/
}

.mat-card{
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
	/*border: 1px solid #ccc;*/
	/*border-radius: 4px;*/
	background-color: #fafafa88;
	padding : 0;
	margin: 16px;
}
.mat-card .card-header-wrapper{
	padding: 8px 16px;

}
.mat-card .card-media-wrapper{
	width: 100%;
	height: 194px;
	padding: 0;
	margin: 0;
}

.mat-card .card-content-wrapper{
	padding: 8px 16px;

}

.mat-card .card-actions-wrapper{
	padding: 8px 16px;

}

.mat-card .card-header{
	display: flex;
}

.mat-card .card-header .header-text{
	display: flex;
	flex-direction: column;
}
.mat-card .card-header .thumbnail{
	width: 40px;
	height: 40px;
	margin-right: 16px;
}


.header-text .title{
	font-size: 1.2em;
	font-weight: 500;
}

.header-text .subhead{
	font-size: 1em;
	font-weight: 400;
}

.card-content .title{
	font-size: 1.2em;
	font-weight: bold;
}

.card-content  .subhead{
	font-size: 0.8em;
	font-weight: 400;
}

.mat-card .card-actions{
	display: flex;
	align-items: center;
	justify-content: flex-start;

}

.mat-card .card-actions .buttons{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.mat-card .card-actions .buttons .btn{
	padding: 16px 8px 16px 0;
	margin: 0 8px 0 0;
}

.mat-card .card-actions .icons{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.mat-card .card-actions .icons .icon{
	padding: 16px 8px 16px 0;
	margin: 0 8px 0 0;
}

.mat-button-default{
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
	border: 1px solid #1976d2;
	/*border-radius: 4px;*/
	background-color: #1976d2;
	color: #fff;
}
.mat-button-outlined{
	border: 1px solid #1976d2;
	color: #1976d2;
	/*border-radius: 4px;*/
}
.mat-button, button{
	display: flex;
	position: relative;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	min-width: 64px;
	height: 32px !important;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 0.75em;
	font-weight: 500;
	font-family: inherit;
	padding: 0 16px;
	margin: 8px;
	border: none;
}

.mat-button-text{
	padding: 0 8px !important;
	color: #1976d2;
}
.mat-button-filter{
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
	border: 1px solid #1976d2;
	color: #1976d2;
	/*border-radius: 20px;*/
}

.mat-button .btn-icon, .mat-button .icon, button .btn-icon, button .icon{
	font-size: x-large;
	margin: 0 8px 0 0;
}

.mat-list-wrapper{
	min-width: 344px;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
	padding: 8px;
	margin: 0;
}

.list-links{
	position: relative;
	width: 100%;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.00875em;
	list-style-type: none;
	text-decoration: inherit;
	text-transform: inherit;
	line-height: 1em;
	margin: 0;
	padding: 8px 0;
}

.list-links .list-item{
	padding: 8px 16px;
	margin: 2px 0;
}




.mat-list{
	display: block;
	position: relative;
	width: 100%;
	max-height: 480px;
	overflow: auto;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.00875em;
	list-style-type: none;
	text-decoration: inherit;
	text-transform: inherit;
	line-height: 1em;
	margin: 0;
	padding: 16px 0;

}

.mat-list-header{
	display: flex;
	position: relative;
	width: 100%;
	height: 64px;
	background-color: #fafafa;
	z-index: 10;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	font-weight: 600;
}

.mat-list-header .list-title{
	margin: 16px auto;
}

.mat-list-header .hint{
	padding: 0 16px;
	font-size: 0.875em;
}

.mat-list-item{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	/*overflow: hidden;*/
	width: 100%;
	height: 48px;
	max-height: 72px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.mat-list-item:last-child{
	border-bottom: none;
}

.mat-list-item .mat-button{
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

.mat-list-item:hover{
	background-color: var(--mat-list-item-hover-bg);
	color: var(--mat-list-item-hover-color);
}

.mat-list-item.active{
	background-color: var(--mat-list-item-active-bg);
	color: var(--mat-list-item-active-color);
}

.mat-list-item .entry{
	display: flex;
	width: 100%;

}

.mat-list-item .entry .details{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-around;
	width: 100%;

}
.mat-list-item .entry .details .values{
	display: flex;
	flex-direction: column;
	width: 50%;

}

.mat-list-item .entry .details .price{
	display: flex;
	width: 50%;
	font-weight: bold;
	align-items: center;
	justify-content: flex-end;

}

.entry .part{
	padding: 0 16px;
	width: 25%;
}

.money{
	padding: 0 16px;
}

.money .amount{
	font-size: 1em;
	font-weight: 700;
	padding : 0 4px 0 16px;
}

.money .currency{
	font-size: 1em;
	font-weight: 700;
	padding : 0;
}

.emphasis{
	font-weight: 600;
}

.entry .values .title{
	font-weight: bold;
}
.entry .values .subhead{
	font-size: 0.875em;
	font-weight: 500;
}

.mat-list-item .entry .icon{
	width: 32px;
	height: 32px;
	margin-right: 8px;
}




.mat-list .mat-list-item.last{
	border-bottom: none;
}

.mat-list-summary{
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: 1px solid #ccc;
	padding: 0;
	margin: 16px 0 32px 0;
}

.mat-list-summary .summary-header{
	height: 64px;
	font-weight: bold;
}

.mat-list-summary .list-summary-item{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 8px 16px;

}

.list-summary-item .key{
	text-align: left;
	width: 50%;
}

.list-summary-item .value{
	text-align: right;
	width: 50%;
}

.mat-tooltip{
	display: none;
	min-height: 32px;
	padding: 8px;
	background-color: #252525;
	color: #fff;
	z-index: 1000;
	bottom: -16px;
	left: 50%;
}

.expandable{
	position: relative;

}

.expandable .expandable-content{
	display: none;
	position: absolute;
	z-index: 1000;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.expandable-content .expandable-content-header{
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #252525;
	color: #ccc;
}

.expandable-close{
	/*position: absolute;*/
	width: 32px;
	height: 32px;

	top: 50%;
	left: 16px;
}

.mat-dialog{
	/*display: none;*/
	position: relative;
	/*padding: 16px;*/
	font-size: 1em;
	line-height: 16px;
	min-width: 288px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fafafa;
	color: #252525;
}

.mat-dialog .dialog-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 16px;
}

.mat-dialog .dialog-content{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	font-size: 1.2em;
	font-weight: 400;
	padding: 16px 8px;
}
.mat-dialog .dialog-actions{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	/*margin: 16px 0;*/

}

.dialog-actions .action{
	padding: 8px 16px;
	margin: 0 16px;
	font-size: 1em;
	border: 1px solid #252525;
	color: #252525;

}

.dialog-close{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	font-size: 1.2em;
	font-weight: bold;
	top: 4px;
	right: 8px;
	height: 24px;
	cursor: pointer;
}

.mat-table-wrapper{
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
				0px 1px 1px 0px rgba(0, 0, 0, 0.14),
				0px 1px 3px 0px rgba(0,0,0,.12);
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
	margin: 0;
}

.mat-table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 0;
	
	padding: 0;
	margin : 0;
}

.mat-table caption{
	font-size: 1.3em;
	margin: .5em 0 .75em;
}

.mat-table .table-header{
	width: 100%;
	height: 56px;
}

.mat-table .checkbox{
	width: 48px;
	height: 48px;
}

.mat-table td, .mat-table th{
	padding: 0.625em;
	text-align: center;
}

.mat-table td:last-child{
	border-bottom: 0;
}

.mat-table th{
	font-size: 0.85em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	/*height: 56px;*/
	/*text-align: left;*/
	/*padding: 6px 16px;*/
}
.mat-table-filter {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 60px;
	padding: 8px 16px;
	border: 1px solid #ccc;
	font-size: 0.875em;

}

.mat-table-wrapper .mat-table-filter{
	border: none;
	border-bottom: 1px solid #ccc;

}
.table-pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	word-spacing: 0.30em;
	/*width: 200px;*/
	padding: 8px 16px;
}

 .controls{
	padding: 8px 16px;
}

.controls .control{
	padding: 8px 8px;
}



.wrapper{
	width: 100%;
	padding: 0;
	margin: 0;
}

.dropdown{
	width: 100%;
	position: relative;
	min-height: 52px;

}

.dropdown .dropdown-toggle:hover .dropdown-content{
	display: block;
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 100%;
	list-style-type: none;
	background-color: #fafafa;
	color:#252525;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.table-select-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 1em;
}

.table-select-wrapper label{
	display: inline-block;
	text-align: left;
	font-weight: 400;
	padding: 0 16px;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-bottom: .5rem;
}
.mat-select{
	width: auto;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	vertical-align: middle;
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.image-wrapper{
	display: flex;
	position: relative;
	width: 100%;
	align-items: center;
	justify-content: center;

}
.img-responsive{
	width: 100%;
}

.site-panel{
	display: flex;
  	flex-direction: column;
  	align-items: center;
	justify-content: center;
	position: absolute;
	/*width: 350px;*/
	background-color: #fafafa;
	top: 48px;
	left: -100%;
}

.menu-close{
	display: none;
}

@media only screen and (max-width:40em){
	.mat-table thead{
		border: none;
		width: 1px;
		height: 1px;
		padding: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
		position: absolute;
	}

	.mat-table tr{
		/*display: flex;*/
		display: block;
		/*height: 52px;*/
		/*flex-direction: column;*/
		/*align-items: center;*/
		/*justify-content: start;*/
		border-bottom: 2px solid #ddd;
		padding: 0;
		margin-bottom: 0.625em;
	}

	.mat-table td{
		display: block;
		font-size: 0.8em;
		text-align: right;
		border-bottom: 1px solid #ddd;
	}
	.mat-table td::before{
		content: attr(data-label);
		float: left;
		font-weight: 600;
		text-transform: uppercase;
		/*width: 25%;*/
	}
}


@media only screen and (min-width:40em){
	.menu-button{
		display: none;
	}
	.image-wrapper{
		width: 25%;
	}
	.menu-close{
		display: none;
	}
	.site-panel{
		flex-direction: row;
		position: relative;
		top: unset;
		left: unset;
		width: 100%;
		background-color: transparent;
	}
	.header--panel .mat-list{
		padding: 0;
	}

	.header--panel .mat-list .mat-list-item{
		border-bottom: none;
		width: auto;
		margin: 0 16px 0 0;
	}

	.banner--actions, .actions{
		flex-direction: row;
	}

	.mat-table{

		border: 1px solid #ccc;
	}
	
	.mat-table caption{
		font-size: 1.5em;
	}
	
	.mat-table .table-header{
		width: 100%;
		height: 56px;
	}
	
	
	.mat-table tr{
		/*height: 52px;*/
		/*flex-direction: row;*/
		border: 1px solid #ddd;
		padding: .35em;
	}
	
	.mat-table td, .mat-table th{
		padding: 0.625em;
		text-align: center;
	}
	
	.mat-table td{
		padding: 6px 16px;
	}

	.mat-table td::before{
		content: unset;
		width: unset;
	}
	
	.mat-table th{
		font-size: 0.85em;
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

}