/* grid styles */

.container {
  min-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.flex{
	display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}



.full{
  width: 100%;
}

.col {
	position: relative;
  /*border: #fff 2px solid;*/
  /*border-radius: 8px;*/
	margin: auto;
}


/*
.col-1 { width: 8.333%; }
.col-2 { width: 16.666%; }
.col-3 { width: 25%; }
.col-4 { width: 33.333%; }
.col-5 { width: 41.666%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333%; }
.col-8 { width: 66.666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.666%; }
.col-12 { width: 100%; }
*/
/* and so on up to 12 … */

.col-1 { flex-basis: 8.333%; }
.col-2 { flex-basis: 16.666%; }
.col-3 { flex-basis: 25%; }
.col-4 { flex-basis: 33.333%; }
.col-5 { flex-basis: 41.666%; }
.col-6 { flex-basis: 50%; }
.col-7 { flex-basis: 58.333%; }
.col-8 { flex-basis: 66.666%; }
.col-9 { flex-basis: 75%; }
.col-10 { flex-basis: 83.333%; }
.col-11 { flex-basis: 91.666%; }
.col-12 { flex-basis: 100%; }


.row{
	display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
	width: 100%;

}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	width: 100%;

}

.spread-around{
  
}
.column {
  --columns: 12; /* number of columns in the grid system */
  --width: var(--width-mobile, 0); /* width of the element */
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}


.grid, .gridview{
  display: flex;
  max-width: 100%;
  margin: 0 auto;
	flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;

}

.gridview{
  width: 100%;
}

.listview{
  display: flex;
  min-width: 100%;
  margin: 0 auto;
  padding: 8px;
	flex-direction: column;
  /*flex-wrap: wrap;*/
  text-decoration: none;
  list-style: none;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.listview .list-title{
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  text-decoration: none;
  font-size: 1.2em;
  border: 2px solid #ccc;
}

.listview .list-item{
  flex-basis: 100%;
}

.listview .list-item .listview{
  display: none;
}
.listview .list-item:hover .listview{
  display: flex;
}

.responsive {
  --width-mobile: 12;
  --width-tablet: 6;
  --width-desktop: 3;
  /*height: 64rem;*/
}
.responsive-3 {
  --width-mobile: 12;
  --width-tablet: 6;
  --width-desktop: 4;
  /*height: 64rem;*/
}

@media (min-width: 576px) {
  .column {
    --width-tablet: var(--width-mobile);
    --width: var(--width-mobile);
  }
}

@media (min-width: 768px) {
  .column {
    --width-desktop: var(--width-tablet);
    --width: var(--width-desktop);
  }
}
