{% extends "account_base.html"%}
{% block MAINCONTENT %}



<div class="flat-col-xs-12 flat-col-md-10">
        <div class="order-list flat-row">
                <span class="flat-col-xs-12">Appercu de mon compte</span>
        </div>
        <div id="user-infos" class="">
                <section class="flat-col-xs-12 flat-col-md-6">
                        <div class="card bordered">
                                <section class="header">
                                        <span>Données d'utilisateur</span>
                                </section>
                                <section class="content">
                                        <span>{{request.user.username}}</span>
                                        <span>{{request.user.last_name}} {{request.user.first_name}}</span>
                                        <span>{{request.user.email}}</span>
                                </section>
                                <section class="footer">
                                        <span class="flat-col-xs-9"></span>
                                        <span class="flat-col-xs-3">
                                                <a class="flat-link" href="{% url 'accounts:edit_account' {{request.user.pk}} %}">Modifier</a>
                                        </span>
                                </section>
                        </div>
                </section>
                <section class="flat-col-xs-12 flat-col-md-6">
                        <div class="card bordered">
                                <section class="header">
                                        <span>Abonnement à la Newsletter</span>
                                </section>
                                <section class="content">
                                        <span> Inscrivez-vous à notre newsletter <br>
                                                pour être informer sur nos offres. <br>
                                                Vous pouvez vous désinscrire à tout <br>
                                                moment.
                                        </span>
                                        <span class="footer">
                                                <span class="input-box">
                                                        <label class="input-container" for="newsletter"> M'abonner
                                                                <input type="checkbox" name="newsletter" id="subscribe">
                                                                <span class="checkmark"></span>
                                                        </label>
                                                </span>
                                        </span>
                        
                                </section>
                               
                        
                        </div>
                </section>
                <section class="flat-col-xs-12 flat-col-md-6">
                        <div class="card  bordered">
                                <section class="header">
                                        <span> Addresses  de Livraison et de Retrait </span>
                                </section>
                                <section class="content">
                                        <span> Retrait à Douala</span>
                                </section>
                                <section class="footer">
                                        <span class="flat-col-xs-9"></span>
                                        <span class="flat-col-xs-3"> <a class="flat-link" href="">Modifier</a></span>
                                </section>
                        </div>
                </section>
        </div>

</div>
{% endblock MAINCONTENT %}