{% extends "account_base.html"%}
{% load i18n %}
{% block MAIN %}

<div class="row">
        <div class="tabs">
                <div class="tabs--title">
                        <div class="full welcome-text center">
                                <p> {% trans "Bienvenue" %} {{name}}</p>
                                <a class="link" href="{%url 'accounts:password_change' %}"> {% trans "Changer mon mot de passe" %}</a>
                        </div>
                </div>
                <div class="tab-bar">
                        <div class="row">
                                <span class="tab active" data-toggle="#activities-view"
                                        data-index="0">{% trans "Activités" %}</span>
                                <span class="tab" data-toggle="#services-view"
                                        data-index="1">{% trans "Services" %}</span>
                                <span class="tab" data-toggle="#favorite-view"
                                        data-index="2">{% trans "Favoris" %}</span>
                        </div>
                </div>
                <!--End of Tab-bar-->

                <div class="tab-container container full">
                        <div id="activities-view" class="tab-content grid">
                                <div class="list">
                                        <div class="list-header">
                                                <span class="header-title" title="{% trans 'Vos transactions' %}">{% trans "Historique de vos Transactions" %}</span>
                                        </div>
                                        <div class="list-cards js-card">
                                        {% for activity in activities  %}
                                                <a class="list-card js-list-card" href="{% url activity.url %}">
                                                        <div class="list-card-cover js-card-cover">
                                                        </div>
                                                        <span class="icon-sm icon-edit list-card-operation"></span>
                                                        <div class="list-card-stickers-area js-card-stickers-area hide">
                                                                <div class="stickers js-card-stickers">
                                                
                                                                </div>
                                                        </div>
                                                        <div class="list-card-details js-card-details">
                                                                <div class="list-card-labels js-card-labels">
                                                                {% if activity.is_outgoing %}
                                                                        <span class="card-label card-front outgoing" title="{% trans 'Sortant' %}"> {% trans "Envoi" %}</span>
                                                                {% else %}
                                                                        <span class="card-label card-front incoming" title="{% trans 'Entrant' %}">{% trans "Reception" %}</span>
                                                                {% endif %}
                                                                        
                                                                </div>
                                                                <span class="list-card-title js-card-name">{{activity.sender.name}}</span>
                                                                <div class="badges">
                                                                        <span class="js-badges">
                                                                                <div class="badge is-icon-only">
                                                                                        <span class="badge-icon date">{{activity.date}}</span>
                                                                                </div>
                                                                                <div class="badge is-icon-only">
                                                                                        <span class="badge-icon icon-sm icon-description">{{activity.state}}</span>
                                                                                </div>
                                                                                <div class="badge is-icon-only">
                                                                                        <span class="badge-icon icon-money-text amount">{{activity.amount}}FCFA</span>
                                                                                </div>
                                                                        </span>
                                                                </div>
                                                                <div class="list-card-members js-list-card-members">
                                                                        <div class="member js-member-on-card-menu" data-idref="2145abfce">
                                                                                <span class="member-initials" title="{{activity.sender.name}}">{{activity.sender.initial}}</span>
                                                                                <span class="undefined-avatar"></span>
                                                                                {% if activity.sender.is_seller %}
                                                                                <span class="member-is-a-seller"
                                                                                        title="Ce membre est un prestataire de services"></span>
                                                                                {% else %}
                                                                                {% endif %}
                                                                                
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </a>
                                        {% empty %}
                                        <p>
                                        {% blocktrans %}Vous n'avez aucune transactions actuellement.
Apres avoir avoir effectué une transaction, cette transaction sera listée ici.
                                        {% endblocktrans %}
                                        </p>
                                        <a class="button link" href="{% url 'accounts:new_transaction' %}"> {% trans "Envoyer de l'argent" %} </a>
                                        {% endfor %}
                                        </div>

                                </div>

                                
                        </div>
                        <div id="services-view" class="tab-content">
                                <p> {% trans "Type de services" %} :</p>
                                <div class="gridview">
                                        {% for cat in active_cats %}
                                        <div class="column responsive-3">
                                                <div class="action collapsible">
                                                        <div class="open data-caption"> {% trans cat.category_name %}</div>
                                                        
                                                        <div class="listview collapse-content">
                                                                {% for service in cat.category_services.all %}
                                                                        <div class="list-item"> {% trans service.name %}</div>
                                                                {% empty %}
                                                        
                                                                {% endfor %}
                                                                <button class="button close">{% trans "Fermer" %}</button>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                                <p>
                                                        {% blocktrans %}Il n'y a actuellement aucun service disponible. Lorsque que de nouveaux services seront disponible, ils seront listés ici.
                                                        {% endblocktrans %}
                                                </p>
                                        {% endfor %}
                                </div>
                                
                        </div>
                        <div id="favorite-view" class="tab-content grid">
                                {% for favory in favories %}
                                <span class="action entry"> {{favory.name}} </span>
                                {% empty %}
                                <span>
                                        {% blocktrans %}Vous n'avez aucun favori actuellement.
Ici sera afficher comment ajouter des favoris
                                        {% endblocktrans %}
                                </span>
                                {% endfor %}
                        </div>
                </div>
        </div>
        <!--End of tabs-->
</div>

{% endblock MAIN %}