{% extends "account_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
        <div class="card">
          <p> {% trans "Claim author" %} : {{claim.participant1.full_name}}</p>
          <p> {% trans "Claim participant" %} : {{claim.participant2.full_name}}</p>
          <p> {% trans "Amount" %} : {{claim.amount}} FCFA </p>
          <p> {% trans "Subject" %} : {{claim.subject}}</p>
          <p> {% trans "description" %} : {{claim.description}}</p>  
        </div>
</div>
{% endblock MAIN %}