{% extends "account_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
    {% for claim in claims %}
        <div class="card">
           <p> {% trans "Subject" %} : {{claim.subject}}</p>
           <p> {% trans "Amount" %} : {{claim.amount}} FCFA</p>   
           <p> {% trans "Date" %} : {{claim.created_at}}</p> 
           {% if claim.is_closed %}
           <p class="is-closed"> {% trans "Closed at " %} : {{claim.closed_at}} </p>  
           {% else %}
           <p class="is-opened"> {% trans "Opened" %} </p> 
           {% endif %} 
          <a class="button link" href="{% url 'accounts:claim_detail' claim.pk %}">{% trans "More" %} ...</a>
        </div>
    {% empty %}
    <p> {% trans "There is no claims now." %} ...</p>
    {% endfor %}
</div>
{% endblock MAIN %}