{% extends "account_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container flex column">
        {% if has_idcard %}
            <div class="card">
                <div class="card__body">
                    <p class="responsive"> {% trans "ID number" %} : {{idcard.card_number}} </p>
                    <p class="responsive"> {% trans "Delivery Place " %} : {{idcard.delivery_place}} </p>
                    <p class="responsive"> {% trans "Delivered at " %} : {{idcard.delivery_at}} </p>
                    <p class="responsive"> {% trans "Expire at " %} : {{idcard.expire_at}} </p>
                </div>
                <div class="card__image responsive idcard"> 
                    <p>{% trans "Image" %}: </p>
                    <img class="full js-zoom" src="{{idcard.image.url}}"/>
                </div>
                <div class="card__actions">
                    <a class="button link" href="{%url 'accounts:idcard_update' idcard.pk %}"> {% trans "Update my ID Card" %}</a>
                    <a class="button link" href="{% url 'accounts:account' %}"> {% trans "My Account" %} </a>
                </div>

            </div>
            
        {% else %}
            <p> {% trans "Wrong request" %} </p>
        {% endif %}
        <div class="responsive">
                
        </div>
        
</div>
{% endblock MAIN %}