{% extends "account_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
    <form id="transaction-form" class="transaction-form form" name="transaction" action="{% url 'accounts:new_transaction'%}" method="POST">{% csrf_token %}
        <div id="error-login" class="error-login left">
          </div>
          <div class="form-group">
            <table>
            {{form}}
            </table>
          </div>
          {% comment "" %}
          <div class="form-group flex-column">
            
            <input type="text" name="recipient" placeholder="{% trans 'Nom du destinataire' %}">
            <input type="text" name="amount" placeholder="{% trans 'Montant' %}">
            <input type="text" name="details" placeholder="{% trans 'Description du transfert' %}">
          </div>
          {% endcomment %}
          
          <div class="form-group row">
            <button class="button" type="submit">{% trans "Send Money" %}</button>
            <span class="button">{% trans "Annuler" %}</span>
          </div>
    </form>
</div>
{% endblock MAIN %}