{% extends "account_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
        <div class="card">
          <p> Operator : {{service.operator.get_full_name}} </p>
          <p> Customer : {{service.customer.get_full_name}} </p>
          <p> Price : {{service.price}} FCFA </p>
          <div>  
            <p> Desciption : </p>
            <p>{{service.description}}</p>
          </div>
          <p> Date : {{service.created_at}} </p>
        </div>
    <p> You haven't used any services..</p>
    <a class="button link" href="{% url 'accounts:new_transaction' %}"> Pay a Bill </button>
</div>
{% endblock MAIN %}