{% extends "accountbase.html"%}



{%block MAINCONTENT %}

<div class="container">
                <section class="card-flat-header">
                        <h2 class="panel-title">Informations personelles : </h2>
                </section>
            
                <section class="card-flat-body content-center">
                    <table class="table table-responsive">
                        
                        <tbody>
                            <tr>
                                <td>Nom d'utilisateur : </td>
                                <td> {{user_profile.user.username}} </td>
                            </tr>
                            <tr>
                                    <td>Email :</td>
                                    <td> {{user_profile.user.email}} </td>
                            </tr>
                            <tr>
                                    <td>Nom : </td>
                                    <td> {{user_profile.user.last_name}} </td>
                            </tr>
                            <tr>
                                    <td>Prenom :</td>
                                    <td> {{user_profile.user.first_name}} </td>
                            </tr>
                            <tr>
                                    <td> Date de naissance :</td>
                                    <td> {{user_profile.date_of_birth}} </td>
                            </tr>
                            <tr>
                                    <td> Pays de résidence :</td>
                                    <td> {{user_profile.country}} </td>
                            </tr>
                            <tr>
                                    <td> Ville :</td>
                                    <td> {{user_profile.city}} </td>
                            </tr>
                            <tr>
                                    <td> Telephone :</td>
                                    <td> {{user_profile.telefon}} </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <section class="card-flat-footer">
                    <a href="{% url 'accounts:edit_account' account.pk %}" class="btn btn-default text-center">Modifier <span class="glyphicon glyphicon-pencil"></span></a>
                </section>
            </div>
{% endblock MAINCONTENT %}


