{% extends "payment_base.html"%}
{% load i18n %}
{% load payments_tags %}

{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "ACTIVITY" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}

<ul class="actions">
    <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'payments:activities' %}"> {% trans "Activities" %} </a></li>
</ul>

<div class="container">
    <div class="col-m-12 col-4">
        <div class="mat-box">
          <div class="entry"><span class="key">{% trans "Sender" %}</span> <span class="value">{{activity.sender.get_full_name}}({{activity.sender.username}})</span> </div>
          <div class="entry"><span class="key">{% trans "Recipient" %}</span> <span class="value">{{activity.receiver.get_full_name}}({{activity.recipient.username}})</span> </div>
          <div class="entry"> <span class="key">{% trans "Amount" %}</span><span class="value amount {% if activity.is_incoming %}incoming{% else %}outgoing{% endif %}">{{activity.current_amount_without_fee}} {% trans CURRENCY %}</span></div>
          {% comment %}<div class="entry"> <span class="key">{% trans "Amount With Fee" %}</span><span class="value amount {% if activity.is_incoming %}incoming{% else %}outgoing{% endif %}">{{activity.current_amount}} {% trans CURRENCY %}</span></div>{% endcomment %}
          <div class="entry"> <span class="key">{% trans "Balance" %}</span><span class="value amount">{{activity.balance_amount}} {% trans CURRENCY %}</span></div>
          {% comment %}<div class="entry"> <span class="key">{% trans "Balance With Fee" %}</span><span class="value amount">{{activity.balance_amount_without_fee}} {% trans CURRENCY %}</span></div>{% endcomment %}
          <div class="entry"><span class="key">{% trans "Activity Type" %}</span> <span class="value">{{activity.activity|balance_activity}}</span> </div>
          <div class="entry"> <span class="key">{% trans "Date" %}</span><span  class="value">{{activity.created_at|date:"N j, Y"}}</span> </div>
        </div>
    </div>
</div>
{% endblock MAIN %}