{% extends "payment_base.html"%}
{% load i18n %}
{% load humanize %}
{% load payments_tags %}


{% block HEADER_BANNER_TITLE %}
        <h4>{% trans "Statistics" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container">
    <div class="entry"><span>{% trans "Expenses" %}</span> <span class="outgoing">{{global_reports.total_outgoing|default_if_none:'0'}} {% trans CURRENCY %}</span></div>
    <div class="entry"><span>{% trans "Incomes" %}</span> <span class="incoming">{{global_reports.total_incoming|default_if_none:'0'}} {% trans CURRENCY %}</span></div>
    <div class="tabs-container">
        <div class="tabs">
            <div class="tab"><span class="bold">{% trans "Expenses" %}</span></div>
            <div class="tab"><span class="bold">{% trans "Incomes" %}</span></div>
        </div>
        <div id="expenses" class="tab-content">
            <div class=""><span class="small bold">{% trans "Expenses" %}</span></div>
            <div class="mat-box full">

                {% for entry in detailed_reports %}
                {% if not entry.is_incoming %}
                <div class="entry"><span>{{entry.activity|balance_activity}}</span>  <span class="outgoing">{{entry.total}}</span><span>{% trans CURRENCY %}</span></div>
                {% endif %}
                {%empty%}
                <span>{% trans "There are no data to process" %}</span>
                {% endfor %}
            </div>
        </div>
        <div id="incomin" class="tab-content">
            <div class=""><span class="small bold">{% trans "Incomes" %}</span></div>
            <div class="mat-box full">
                {% for entry in detailed_reports %}
                {% if entry.is_incoming %}
                <div class="entry"><span>{{entry.activity|balance_activity}}</span>  <span class="incoming">{{entry.total}}</span><span>{% trans CURRENCY %}</span></div>
                {% endif %}
                {%empty%}
                <span>{% trans "There are no data to process" %}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
{% endblock MAIN %}