{% extends "payment_base.html"%}
{% load i18n %}
{% load humanize %}
{% load payments_tags %}


{% block HEADER_BANNER_TITLE %}
        <h4>{% trans "Statistics" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container">
    <div class="entry"><span>{% trans "Expenses" %}</span> <span>{{global_reports.total_outgoing}} {% trans CURRENCY %}</span></div>
    <div class="entry"><span>{% trans "Incomes" %}</span> <span>{{global_reports.total_incoming}} {% trans CURRENCY %}</span></div>
    <div class="tabs-container">
        <div class="tabs">
            <div class="tab"><span class="bold">{% trans "Expenses" %}</span></div>
            <div class="tab"><span class="bold">{% trans "Incomes" %}</span></div>
        </div>
        <div class="tab-content">
            <div class="mat-box full">
                {% for entry in detailed_reports %}
                <div class="entry"><span>{{entry.activity|balance_activity}}</span>  <span class="{% if not entry.is_incoming %}outgoing{% else %}incoming{% endif %}">{{entry.total}}</span><span>{% trans CURRENCY %}</span></div>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
{% endblock MAIN %}