{% extends "payment_base.html"%}
{% load i18n %}

{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "MY ID CARD" %} </h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}

<div class="container flex column">
        {% if has_idcard %}
            <div class="card">
                <div class="card__body">
                    <p class="responsive"> {% trans "ID number" %} : {{idcard.card_number}} </p>
                    <p class="responsive"> {% trans "Delivery Place " %} : {{idcard.delivery_place}} </p>
                    <p class="responsive"> {% trans "Delivered at " %} : {{idcard.delivery_at}} </p>
                    <p class="responsive"> {% trans "Valide until " %} : {{idcard.expire_at}} </p>
                </div>
                <div class="card__image responsive idcard"> 
                    <p>{% trans "Image" %}: </p>
                    <img class="full js-zoom" src="{{idcard.image.url}}"/>
                </div>
                <div class="card__actions">
                    <a class="mat-button mat-button-text" href="{{idcard.get_update_url}}"> {% trans "Update my ID Card" %}</a>
                    <a class="mat-button mat-button-text" href="{% url 'payments:payment-home' %}"> {% trans "Payment Home" %} </a>
                </div>
            </div>
        {% else %}
            <p> {% trans "Wrong request" %} </p>
        {% endif %}
        <div class="responsive">
                
        </div>
        
</div>
{% endblock MAIN %}