{% extends "payment_base.html"%}
{% load i18n %}

{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "MY ID CARD" %} </h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}

<div class="container flex column">
        {% if has_idcard %}
            <div class="box">
                <div class="title">
                    {% trans "ID CARD INFO" %}
                </div>
                <div class="box-content">
                    <div class="mat-list-wrapper">
                        <ul class="mat-list">
                            <li class="entry"><span class="key">{% trans "ID number" %}</span><span class="value">{{idcard.card_number}}</span></li>
                            <li class="entry"><span class="key">{% trans "Delivery Place " %}</span><span class="value">{{idcard.delivery_place}}</span></li>
                            <li class="entry"><span class="key">{% trans "Delivered at " %}</span><span class="value">{{idcard.delivery_at}}</span></li>
                            <li class="entry"><span class="key">{% trans "Valide until " %}</span><span class="value">{{idcard.expire_at}}</span></li>
                            <li class="entry"><span class="key"></span><span class="value"></span></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="image-wrapper">
                    <img class="img-responsive js-zoom" src="{{idcard.image.url}}"/>
                </div>

                <div class="actions">
                    <a class="mat-button mat-button-text" href="{{idcard.get_update_url}}"> {% trans "Update my ID Card" %}</a>
                    <a class="mat-button mat-button-text" href="{% url 'payments:payment-home' %}"> {% trans "Payment Home" %} </a>
                </div>
            </div>
        {% else %}
            <p> {% trans "Wrong request" %} </p>
        {% endif %}
        <div class="responsive">
                
        </div>
        
</div>
{% endblock MAIN %}