{% extends "payment_base.html"%}
{% load i18n %}

{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "SEND MONEY" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}

<div class="container">
   <div class="col-xs-12 col-8">
        <div class="mat-box">
        <form name="transfer" action="{% url 'payments:new-transfer' %}" method="POST">{% csrf_token %}
        <input id="recipient" type="hidden" name="recipient">
        <div class="form-group">
            <input type="hidden" name="sender" value="{{request.user.pk}}">
        </div>
        <div class="form-group">
            {% include "tags/search_user_snipet.html" with target="#recipient" target_name="#user-search" fieldname="Recipient" %}
        </div>
        <div class="form-group">
            <label for="amount">{% trans "Amount" %}</label>
            <input type="text" name="amount">
        </div>
        <div class="form-group">
            <label for="description">{% trans "Description" %}</label>
            <input id="description" type="text" name="details">
        </div>
        <div class="actions">
            <a class="mat-button mat-button-text js-cancel" href="{% url 'dashboard:home'%}">{% trans "Cancel" %}</a>
            <button id="submit-btn" class="mat-button mat-button-default" type="submit">{% trans "Send Money" %}</button>
        </div>
    </form>
        </div>
    </div>
</div>
{% endblock MAIN %}