{% extends "payment_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
    <form id="transaction-form" class="transaction-form form" name="transaction" action="{% url 'payments:new-transaction'%}" method="POST">{% csrf_token %}
        <div id="error-login" class="error-login left">
          </div>
          <div class="form-group">
            <table>
            {{form}}
            </table>
          </div>
          {% comment "" %}
          <div class="form-group flex-column">
            
            <input type="text" name="recipient" placeholder="{% trans 'Nom du destinataire' %}">
            <input type="text" name="amount" placeholder="{% trans 'Montant' %}">
            <input type="text" name="details" placeholder="{% trans 'Description du transfert' %}">
          </div>
          {% endcomment %}
          
          <div class="form-group row">
            
            <a class="mat-button mat-button-text" href="{% url 'payments:payment-home' %}">{% trans "Cancel" %}</a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Send Money" %}</button>
          </div>
    </form>
</div>
{% endblock MAIN %}