{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "SEND MONEY" %}</h4>
{% endblock HEADER_BANNER_TITLE %}
{% block MAIN %}
<div class="container">
   <div class="col-xs-12 col-4">
        <div class="mat-box">
            <form id="transfer-form" name="transfer" action="{% url 'payments:new-transfer' %}" method="POST">{% csrf_token %}
                <input id="recipient" type="hidden" name="recipient">
                <input id="sender" type="hidden" name="sender" value="{{request.user.pk}}">
                {% include "tags/search_user_snipet.html" with target="#recipient" target_name="#user-search" fieldname="Recipient" %}
                <div class="form-group">
                    <label for="amount">{% trans "Amount" %}</label>
                    <input id="amount" type="text" name="amount">
                    <span class="amount-error warning {% if balance.balance > 0.0 %}hidden{% endif %}">{% trans "You don't have sufficient balance to process this action" %}</span>
                </div>
                <div class="form-group">
                    <label for="details">{% trans "Description" %}</label>
                    <input id="details" type="text" name="details">
                </div>
                <div class="actions">
                    <a class="mat-button mat-button-outlined js-cancel" href="{% url 'dashboard:home'%}">{% trans "Cancel" %}</a>
                    <button id="submit-btn" class="mat-button mat-button-default js-submit-btn" type="submit">{% trans "Send Money" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock MAIN %}