{% extends "payment_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="row">
 <a class="mat-button mat-button-text" href="{% url 'payments:payments' %}"> {% trans "My Payments" %} </a>
</div>

<div class="container">
    <div class="col-m-12 col-4">
        <div class="mat-box">
          {% if user == payment.sender %}
          <p> <span>{{payment.recipient.get_full_name}}</span> </p>
          <p> <span>{% trans "Price" %}</span> <i class="separator"></i> <span class="amount outgoing">{{payment.amount}}</span> <span>{% trans "XAF" %}</span> </p>
          {% else %}
          <p> <span>{{payment.sender.get_full_name}}</span> </p>
          <p> <span>{% trans "Price" %}</span> <i class="separator"></i> <span class="amount incoming">{{payment.amount}}</span> <span>{% trans "XAF" %}</span> </p>
          {% endif %}
          
          
          
          <p> <span>{% trans "Date" %}</span> <i class="separator"></i> <span>{{payment.created_at|date:"N j, Y"}}</span> </p>
          <p> <span>{% trans "Description" %}</span> <i class="separator"></i> <span>{{payment.details}}</span> </p>
        </div>
    </div>
</div>
{% endblock MAIN %}