{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "Payment History"%}</h4>
{% endblock HEADER_BANNER_TITLE %}
{% block MAIN %}
<ul class="listview">
  <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'payments:new-payment' %}"> {% trans "Make a Payment" %} </a></li>
</ul>
<div class="container">
        {% include "tags/payments_snippet.html" with transaction_list=payment_list list_title="Payments" %}
</div>
{% endblock MAIN %}