{% extends "payment_base.html"%}
{% load i18n %}
{% block HEADER_BANNER_TITLE %}
        <h4>{% trans "Payment" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container">
<div class="actions">
    <a href="{% url 'payments:policy-group-update' %}" class="mat-button mat-button-default"><i class="fas fa-update icon"></i><span>{% trans "Update Subscription Plan" %}</span></a>
</div>
</div>
<div class="container">
    {% include 'tags/transaction_list_snippets.html' with  list_title=_("Recents activities") OPEN_IN_DASHBOARD=False FULL_LIST_LINK="payments:activities" %}
</div>

{% endblock MAIN %}