{% extends "payment_base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
        <h4>{% trans "Your Payment Home" %}</h4>
{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="container">
        {% if latest_transfers %}
        
        <div class="col-xs-12 col-4">
            <div class="container">
                <div class="mat-list-wrapper">
                        <div class="mat-list-header">
                                <div class="title">{% trans "Latest Transfers" %} </div>
                        </div>
                        <ul class="mat-list">
                                {% for transfer in latest_transfers %}
                                <li class="mat-list-item">
                                        <a class="mat-button mat-button-text" href="{{transfer.get_absolute_url}}">
                                                <div class="entry">
                                                 <span class="part">{{transfer.sender.first_name}}</span> <i class="separator"></i> <span class="part">{{transfer.created_at|date:"M j, Y"}}</span> <i class="separator"></i> {% if transfer.sender.pk == request.user.pk %}<span class="part emphasis outgoing">[-]{{transfer.amount}}</span><span class="currency">{% trans "XAF" %}</span>{% else %}<span class="part emphasis incoming">[+]{{transfer.amount}}</span> <span class="currency">{% trans "XAF" %}</span>{% endif %} 
                                                </div>
                                        </a>
                                </li>
                                {% endfor %}
                        </ul>
                </div><!--End of wrapper-->
            
            </div><!--End of Container-->
        </div><!--End of col-xs-12-->
        {% endif %}

        {% if latest_payments %}
        
        <div class="col-xs-12 col-4">
            <div class="container">
                <div class="mat-list-wrapper">
                        <div class="mat-list-header">
                                <div class="title">{% trans "Latest Payments" %} </div>
                        </div>
                        <ul class="mat-list">
                                {% for p in latest_payments %}
                                <li class="mat-list-item">
                                        <a class="mat-button mat-button-text" href="{{p.get_absolute_url}}">
                                                <div class="entry">
                                                 <span class="part">{{p.sender.first_name}}</span> <i class="separator"></i> <span class="part">{{p.created_at|date:"M j, Y"}}</span> <i class="separator"></i> {% if p.sender.pk == request.user.pk %}<span class="part emphasis outgoing">[-]{{p.amount}}</span><span class="currency">{% trans "XAF" %}</span>{% else %}<span class="part emphasis incoming">[+]{{p.amount}}</span> <span class="currency">{% trans "XAF" %}</span> {% endif %} 
                                                </div>
                                        </a>
                                </li>
                                {% endfor %}
                        </ul>
                </div><!--End of wrapper-->
            
            </div><!--End of Container-->
        </div><!--End of col-xs-12-->
        {% endif %}
</div>

{% endblock MAIN %}