{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "PAYMENT VERIFICATION" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container">
{% include "tags/verification_links.html" %}
</div>
<div class="container">
    <div class="row">
            <div class="mat-box">
            
                <form  name="payment_verification" action="{% url 'payments:payment-verification' %}" method="POST">{% csrf_token %}
                    
                    {% if form and form.errors %}
                            {{ form.non_field_errors }} 
                    {% endif %}

                    {% comment %}{% if form and form.verification_code.errors %}
                            <ul class="errorlist">
                                {% for e in form.verification_code.errors %}
                                <li >{{e | escape}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endcomment %}
                    <div class="mat-input">
                        <label for="verification-code">{% trans "Verification Code" %} : </label>
                        <input id="verification-code" type="text" name="verification_code">
                        
                    </div>

                    {% comment %}{% if form and form.operator_reference.errors %}
                            <ul class="errorlist">
                                {% for e in form.operator_reference.errors %}
                                <li >{{e|escape}}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    {% endcomment %}
                    <div class="mat-input">
                        
                        <label for="operator-reference">{% trans "Operator reference" %} : </label>
                        <input id="operator-reference" type="text" name="operator_reference">
                    </div>
                    
                    <div class="actions">
                        <a class="mat-button mat-button-outlined js-cancel" href="{% url 'accounts:account' %}"> {% trans "Cancel" %} </a>
                        <button class="mat-button mat-button-default" type="submit">{% trans "Verify" %}</button>
                    </div>
                </form>
            </div>
    </div>

    {% if payment_verification_ready %}
    <div class="row">
        {% if payment_is_valid %}
            <div class="container">
                <div class="title">
                    <span class="success">{% trans "Payment successdfully verified." %}</span>
                </div>
                <div class="mat-box">
                    <div class="entry">
                        <span class="key">{% trans "Sender" %}</span> <span class="value">{{payment.sender.get_full_name}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Recipient" %}</span> <span class="value">{{payment.recipient.get_full_name}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Amount" %}</span> <span class="value">{{payment.amount}} {% trans "XAF" %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Date" %}</span> <span class="value">{{payment.created_at}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Verification Code" %}</span> <span class="value">{{payment.verification_code}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Description" %}</span> <span class="value">{{payment.details}}</span>
                    </div>

                </div>
            </div>
        {% else %}
            <div class="mat-box">
                <div class="title">
                    <span class="error">{% trans "Payment could not be verified." %}</span>
                </div>
                <div class="mat-box-content content">
                    <span> {% trans "No payment could be found." %} </span>
                    <span>{% trans "Make sure that you entered the correct verification code or operator reference" %}</span>
                </div>
            </div>
        {% endif %}
    </div>

    {% endif %}
</div>
{% endblock MAIN %}