{% extends "payment_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
        <div class="title">
            <h3>{% trans "Policy" %}</h3>
        </div>
        <div class="mat-box">
          <div class="entry"> <span class="key">{% trans "Daily Limit" %}</span> <span class="value">{{policy.daily_limit}} {% trans "XAF" %}</span></div>
          <div class="entry"> <span class="key">{% trans "Weekly Limit" %}</span> <span class="value">{{policy.weekly_limit}} {% trans "XAF" %}</span></div>
          <div class="entry"> <span class="key">{% trans "Monthly Limit" %}</span> <span class="value">{{policy.monthly_limit}} {% trans "XAF" %}</span></div>
          <div class="entry"> <span class="key">{% trans "Commission" %}</span> <span class="value">{{policy.commission}} {% trans "XAF" %}</span></p>  
        </div>
</div>
{% endblock MAIN %}