{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "BALANCE RECHARGE" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}

<div class="container">
    <div class="col-xs-12 col-m-6 col-4">
        <div class="mat-box">
            <form id="recharge-form" name="voucher-recharge" action="{% url 'payments:recharge' %}" method="POST">{% csrf_token %}
                <div class="mat-input">
                    <label for="voucher">{% trans "Voucher Code" %} : </label>
                    <input id="voucher" type="text" name="voucher">
                </div>
                
                <div class="actions">
                    <a class="mat-button mat-button-outlined js-cancel" href="{% url 'home' %}"> {% trans "Cancel" %} </a>
                    <button id="submit-btn" class="mat-button mat-button-default" type="submit">{% trans "Recharge my Account" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock MAIN %}