{% extends "payment_base.html"%}
{% load i18n %}

{% block MAIN %}
<div class="container">
  <div class="col-xs-12 col-6">
    <ul class="nav">
      {% for cat in category_list %}
      <li class="mat-list-item">
        <div class="dropdown">
            <span class="mat-button mat-button-text dropdown-toggle">{{cat.category_name}}</span>
            <div class="dropdown-content">
              <ul class="listview">
                {% for service in cat.available_services.all %}
                <li class="list-item"><a class="mat-button mat-button-text" href="{{service.get_usage_url}}">{{service.name}}</a></li>
                {% empty %}
                <li class="list-item"><span class="mat-button mat-button-text disabled">{% trans "No service available" %}</span></li>
                {% endfor %}
              </ul>
            </div>
        </div>
        
        
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock MAIN %}