{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "CATEGORIES" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container">
  <div class="col-xs-12 col-6">
    <ul class="nav">
      {% for cat in category_list %}
      <li>
        <div class="dropdown">
            <span class="mat-button mat-button-text dropdown-toggle">{{cat.category_name}}</span>
            <div class="dropdown-content">
              <ul>
                {% for service in cat.available_services.all %}
                <li ><a class="mat-button mat-button-text" href="{{service.get_usage_url}}">{{service.name}}</a></li>
                {% empty %}
                <li><span class="mat-button mat-button-text disabled">{% trans "No service available" %}</span></li>
                {% endfor %}
              </ul>
            </div>
        </div>
        
        
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock MAIN %}