{% extends "payment_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
        <div class="mat-box">
            <div class="title">
              <span>{{service.name}}</span>
            </div>
            <div class="content">
                <div class="entry">
                  <span class="key">{% trans "Category" %}</span><span class="value">{{service.category.category_name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Operator" %} : </span><span class="value">{{service.operator.get_full_name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Customer" %}</span><span class="value">{{service.customer.get_full_name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Amount" %} :</span><span class="value">{{service.price}} {% trans "XAF" %}</span>
                </div>
                {% if user == service.operator %}
                <div class="entry">
                  <span class="key">{% trans "Commission" %} :</span><span class="value">{{service.commission}}</span>
                </div>
                {% endif %}
                <div class="entry">
                  <span class="key">{% trans "Date" %} :</span><span class="value">{{service.created_at}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Verification Code" %}</span><span class="value">{{service.verification_code}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Description" %} :</span><span class="value">{{service.description}}</span>
                </div>               
            </div>
        </div>
</div>
{% endblock MAIN %}