{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "SERVICE PAYMENT VERIFICATION" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}
<div class="container">
{% include "tags/verification_links.html" %}
</div>

<div class="container">
    <div class="row">
            <div class="mat-box">
                <form  name="service_verification" action="{% url 'payments:service-verification' %}" method="POST">{% csrf_token %}
                    
                    {% if form and form.errors %}
                            {{ form.non_field_errors }} 
                    {% endif %}

                    {% comment %}{% if form and form.verification_code.errors %}
                            <ul class="errorlist">
                                {% for e in form.verification_code.errors %}
                                <li >{{e | escape}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endcomment %}
                    <div class="form-group">
                        <label for="verification-code">{% trans "Verification Code" %} : </label>
                        <input id="verification-code" type="text" name="verification_code">
                        
                    </div>

                    {% comment %}{% if form and form.operator_reference.errors %}
                            <ul class="errorlist">
                                {% for e in form.operator_reference.errors %}
                                <li >{{e|escape}}</li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                    {% endcomment %}
                    <div class="form-group">
                        
                        <label for="operator-reference">{% trans "Operator reference" %} : </label>
                        <input id="operator-reference" type="text" name="operator_reference">
                    </div>
                    
                    <div class="form-group actions">
                        <a class="mat-button mat-button-text" href="{% url 'payments:payment-home' %}"> {% trans "Cancel" %} </a>
                        <button class="mat-button mat-button-default" type="submit">{% trans "Verify" %}</button>
                    </div>
                </form>
            </div>
    </div>

    {% if service_verification_ready %}
    <div class="row">
      <div class="container">
        {% if service_is_valid %}
            
            {% include "tags/service_snippet.html" %}
            
        {% else %}
            <div class="-matbox">
                <div class="title">
                    <span class="error">{% trans "Payment could not be verified." %}</span>
                </div>
                <div class="mat-box-content content">
                    <span> {% trans "No payment could be found." %} </span>
                    <span>{% trans "Make sure that you entered the correct verification code or operator reference" %}</span>
                </div>
            </div>
        {% endif %}
      </div>
  </div>

    {% endif %}
</div>
{% endblock MAIN %}