{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "Service Usage History"%}</h4>
{% endblock HEADER_BANNER_TITLE %}
{% block MAIN %}
<div class="row">
  <div class="nav">
    <a class="mat-button mat-button-outlined" href="{% url 'payments:available-services' %}"> {% trans "Available services" %} </a>
  </div>
</div>
<div class="container">
   {% include "tags/service_list_snippet.html" with transaction_list=service_list list_title="Service Payments" %}
</div>
{% endblock MAIN %}