{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "Transfer Day Archive"%} : {{day}} - {{month}} - {{year}} </h4>
{% endblock HEADER_BANNER_TITLE %}
{% block MAIN %}


<div class="container">
  <div class="col-xs-12 col-6">
    <div class="row">
      <ul class="mat-list">
        {% for date in date_list %}
        <li class="mat-list-item">{{date|date}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-6">
    <div class="mat-table-wrapper">
        <table id="transaction-list" class="mat-table js-filter-table">
          <caption>{% trans "Transfer List" %}</caption>
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th>{% trans "Sender" %}</th>
                          <th>{% trans "Recipient" %}</th>
                          <th>{% trans "Amount" %}</th>
                          <th>{% trans "Date of usage" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for xfer in object_list  %}
                  <tr>
                    <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                    <td data-label="{% trans 'Sender' %}">{{xfer.sender.username}}</td>
                    <td data-label="{% trans 'Recipient' %}">{{xfer.recipient.username}}</td>
                    <td data-label="{% trans 'Amount' %}">{{xfer.amount}} {% trans "XAF" %}</td>
                    <td data-label="{% trans 'Date' %}">{{xfer.created_at}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{xfer.get_absolute_url}}">{% trans "More" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=object_list %}
    </div><!--End of Table Wrapper-->
  </div>
</div>
{% endblock MAIN %}