{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "Transfer History"%}</h4>
{% endblock HEADER_BANNER_TITLE %}
{% block MAIN %}

<div class="container">

    <div class="mat-table-wrapper">

        
        <table id="transaction-list" class="mat-table js-filter-table">
          <caption>{% trans "Transfer List" %}</caption>
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th>{% trans "Sender" %}</th>
                          <th>{% trans "Recipient" %}</th>
                          <th>{% trans "Amount" %}</th>
                          <th>{% trans "Date of usage" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for xfer in transfer_list  %}
                  <tr>
                    <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                    <td data-label="{% trans 'Sender' %}">{{xfer.sender.username}}</td>
                    <td data-label="{% trans 'Recipient' %}">{{xfer.recipient.username}}</td>
                    <td data-label="{% trans 'Amount' %}">{{xfer.amount}} {% trans "XAF" %}</td>
                    <td data-label="{% trans 'Date' %}">{{xfer.created_at}}</td>
                    <td data-label="{% trans 'Details' %}"><a class="mat-button mat-button-default" href="{{xfer.get_absolute_url}}">{% trans "More" %} ...</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=transfer_list %}
    </div><!--End of Table Wrapper-->

</div>
{% endblock MAIN %}