{% extends "payment_base.html"%}
{% load i18n %}

{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "TRANSACTIONS ARCHIVE" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

{% block MAIN %}

<div class="container">
    
    <nav class="nav">
        <ul class="actions">
            <li><a class="mat-button mat-button-text" href="{%url 'payments:transfer-archive' %}"> {% trans "Transfer Archive" %}</a></li>
            <li><a class="mat-button mat-button-text" href="{%url 'payments:payment-archive' %}"> {% trans "Payment Archive" %}</a></li>
            <li><a class="mat-button mat-button-text" href="{%url 'payments:service-archive' %}"> {% trans "Service Archive" %}</a></li>
            {% comment %}
            <li><a class="mat-button mat-button-text" href="{%url 'payments:recharge-archive' %}"> {% trans "Recharge Archive" %}</a></li>
            {% endcomment %}
            
        </ul>
    </nav>
</div>
{% endblock MAIN %}