{% extends "payment_base.html"%}
{% load i18n %}
{% block  HEADER_BANNER_TITLE %}
    <h4> {% trans "Transfer History"%}</h4>
{% endblock HEADER_BANNER_TITLE %}
{% block MAIN %}
<ul class="listview">
  <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'payments:new-transfer' %}"> {% trans "Make a Transfer" %} </a></li>
</ul>
<div class="container">
    {% include "tags/transfer_list_snippet.html" with transaction_list=transfer_list list_title="Transfers" %}
</div>
{% endblock MAIN %}