{% extends "payment_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
    <div class="row">

        <form  name="transfer_verification" action="{% url 'payments:transfer-verification' %}" method="POST">{% csrf_token %}
            
             {% if form and form.errors %}
                    {{ form.non_field_errors }} 
            {% endif %}

            {% comment %}{% if form and form.verification_code.errors %}
                    <ul class="errorlist">
                        {% for e in form.verification_code.errors %}
                        <li >{{e | escape}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endcomment %}
            <div class="form-group">
                <label for="verification-code">{% trans "Verification Code" %} : </label>
                <input id="verification-code" type="text" name="verification_code">
                
            </div>

            {% comment %}{% if form and form.operator_reference.errors %}
                    <ul class="errorlist">
                        {% for e in form.operator_reference.errors %}
                        <li >{{e|escape}}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            {% endcomment %}
            <div class="form-group">
                
                <label for="operator-reference">{% trans "Operator reference" %} : </label>
                <input id="operator-reference" type="text" name="operator_reference">
            </div>
            
            <div class="form-group row row-right">
                <a class="mat-button mat-button-text" href="{% url 'payments:payment-home' %}"> {% trans "Cancel" %} </a>
                <button class="mat-button mat-button-default" type="submit">{% trans "Verify" %}</button>
            </div>
        </form>
    </div>

    {% if transfer_verification_ready and transfer_verification_ready is True %}
    <div class="row">
        {% if transfer_is_valid %}
            <div class="box">
                <div class="title">
                    <span class="success">{% trans "Transfer successdfully verified." %}</span>
                </div>
                <div class="content">
                    <div class="entry">
                        <span class="key">{% trans "Sender" %} :</span> <span class="value">{{transfer.sender.get_full_name}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Recipient" %} :</span> <span class="value">{{transfer.recipient.get_full_name}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Amount" %} :</span> <span class="value">{{transfer.amount}} {% trans "XAF" %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Date" %} :</span> <span class="value">{{transfer.created_at}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Verification Code" %} :</span> <span class="value">{{transfer.verification_code}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Description" %} :</span> <span class="value">{{transfer.details}}</span>
                    </div>

                </div>
            </div>
        {% else %}
            <div class="box">
                <div class="title">
                    <span class="error">{% trans "Transfer could not be verified." %}</span>
                </div>
                <div class="content">
                    <span> {% trans "No transfer could be found." %} </span>
                    <span>{% trans "Make sure that you entered the correct verification code or operator reference" %}</span>
                </div>
            </div>
        {% endif %}
    </div>

    {% endif %}
</div>
{% endblock MAIN %}