{% extends "payment_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
    <div class="row">
        <p>{% trans "Select the type of transaction you want to verify" %}</p>
    </div>
    <nav class="nav">
        <ul class="actions">
            <li><a class="mat-button mat-button-text" href="{% url 'payments:transfer-verification' %}">{% trans "Verify Transfer" %}</a></li>
            <li><a class="mat-button mat-button-text" href="{% url 'payments:payment-verification' %}">{% trans "Verify Payment" %}</a></li>
            <li><a class="mat-button mat-button-text" href="{% url 'payments:service-verification' %}">{% trans "Verify Service Payment" %}</a></li>
        </ul>
    </nav>
</div>
{% endblock MAIN %}