{% load i18n %} 

<div class="responsive">
    
    <form id="idcard-form" name="idcard" action="{% url 'payments:upload-idcard' %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
        <input type="hidden" name="user" value="{{request.user.pk}}">
        <div class="mat-input">
            <label for="card-number">{% trans "Card Number" %}</label>
            <input type="text" name="card_number" id="card-number">
        </div>
        <div class="mat-input">
            <label for="delivery-at">{% trans "Issued Date" %}*</label>
            <input id="delivery-at" type="date" name="delivery_at" id="delivery_at">
        </div>
        <div class="mat-input">
            <label for="expire-at">{% trans "Valid until " %}*</label>
            <input id="expire-at" type="date" name="expire_at" id="expire_at">
        </div>
        <div class="mat-input">
            <label for="delivery-place">{% trans "Where was it delivered ?" %}* </label>
            <input id="delivery-place" type="text" name="delivery_place" id="delivery_place">
                        
        </div>
        <div class="mat-input">
            <label for="image">{% trans "Select your ID card image" %} (jpg, png)*</label>
            <input type="file" name="image" id="image">    
        </div>
        <div class="actions">
            <a class="mat-button mat-button-default js-cancel" href="{% url 'home' %}"> {% trans "Cancel" %} </a>
            <button id="submit-btn" class="mat-button mat-button-default" type="submit">{% trans "Send" %}</button>
        </div>
    </form>
</div>