{% load i18n %} 
<div class="container">    
        <div class="mat-box">
            <div class="title">
                <span>{% trans "Payment Request" %}</span>
            </div>
            <div class="mat-box-content">
                <div><span>{% trans "Seller" %}</span> <i class="separator-ht"></i><span>{{payment_request.requester_name}}</span></div>
                <div><span>{% trans "Amount" %}</span> <i class="separator-ht"></i><span>{{payment_request.amount}}</span><span>{% trans "XAF" %}</span></div>
            </div>
        </div>
        <div class="form-group">
            <a class="mat-button mat-button-default js-cancel" href="{% url 'payments:payment-request-decline' payment_request.request_uuid %}"> {% trans "Decline" %} </a>
            <a class="mat-button mat-button-default" href="{% url 'payments:payment-request-accept' payment_request.request_uuid %}"> {% trans "Pay" %} </a>
        </div>
</div>