{% load i18n %} 

<div class="container">
    <div class="form-group">
            
    </div>
    <form id="idcard-form-update" name="idcard" action="{{idcard.get_update_url}}" enctype="multipart/form-data" method="POST">{% csrf_token %}
        <div class="form-group">

        </div>
        <div class="mat-input">
            <label for="card_number">{% trans "Card Number" %}</label>
            <input id="card_number" type="text" name="card_number" value="{{idcard.card_number}}">
        </div>
        <div class="mat-input">
            <label for="delivery_at">{% trans "Issued Date" %}</label>
            <input id="delivery_at" type="date" name="delivery_at" id="delivery_at" value="{{idcard.delivery_at}}">
        </div>
        <div class="mat-input">
            <label for="expire_at">{% trans "Epire at " %}</label>
            <input id="expire_at" type="date" name="expire_at" id="expire_at" value="{{idcard.expire_at}}">
        </div>
        <div class="mat-input">
            <label for="delivery_place">{% trans "Delivrance place" %}</label>
            <input id="delivery_place" type="text" name="delivery_place" id="delivery_place" value="{{idcard.delivery_place}}">
        </div>
        <div class="mat-input">
            <label for="old_image">{% trans "Current ID image" %}</label>
            <span class="responsive">
                <img id="old_image" class="full js-zoom" src="{{idcard.image.url}}"/>
            </span>
        </div>
        <div class="mat-input">
            <label for="image">{% trans "ID card Picture" %} </label>
            <input id="image" type="file" name="image">
        </div>
        <div class="form-group">
            <a class="mat-button mat-button-default js-cancel" href="{% url 'home' %}"> {% trans "Cancel" %} </a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Update" %}</button>
        </div>
        
    </form>
</div>