{% load i18n %} 

<div class="container flex-center">

    <form id="recharge-form" name="voucher-recharge" action="{% url 'payments:recharge' %}" method="POST">{% csrf_token %}
        <div class="mat-input">
            <label for="voucher">{% trans "Voucher Code" %} : </label>
            <input id="voucher" type="text" name="voucher">
        </div>
        
        <div class="form-group actions">
            <a class="mat-button mat-button-default js-cancel" href="{% url 'home' %}"> {% trans "Cancel" %} </a>
            <button id="submit-btn" class="mat-button mat-button-default" type="submit">{% trans "Recharge my Account" %}</button>
        </div>
    </form>

</div>