{% load i18n %} 

<div class="container">
    <form id="transfer-form" name="transfer" action="{% url 'payments:new-transfer' %}" method="POST">{% csrf_token %}
        <input type="hidden" name="sender" value="{{request.user.pk}}">
        <input type="hidden" name="recipient" id="recipient">

        {% include "tags/search_user_snipet.html" with target="#recipient" target_name="#user-search" fieldname="Recipient" %}

        <div class="mat-input">
            <label for="amount">{% trans "Amount" %}</label>
            <input id="amount" type="text" name="amount">
        </div>
        <div class="mat-input">
            <label for="details">{% trans "Description" %}</label>
            <input id="details" type="text" name="details">
        </div>
        <div class="form-group actions">
            <a class="mat-button mat-button-default js-cancel" href="{% url 'home' %}"> {% trans "Cancel" %} </a>
            <button id="submit-btn" class="mat-button mat-button-default" type="submit">{% trans "Send Money" %}</button>
        </div>
    </form>

</div>