{% load i18n %} 

<div class="col-xs-12 col-6">

    {% include "tags/search_user_snipet.html" with target="#recipient" target_name="recipient" %}
    <form name="transfer" action="{% url 'payments:new-transfer' %}" method="POST">{% csrf_token %}
        <input type="hidden" name="sender" value="{{request.user.pk}}">
        <input type="hidden" name="recipient" id="recipient">

        {% include "tags/search_user_snipet.html" with target="#recipient" target_name="#user-search" %}

        <div class="form-group">
            <label for="amount">{% trans "Amount" %}</label>
            <input id="amount" type="text" name="amount" placeholder="{% trans 'Amout in XAF' %}">
        </div>
        <div class="form-group">
            <label for="details">{% trans "Description" %}</label>
            <input id="details" type="text" name="details" placeholder="{% trans 'Description' %}">
        </div>
        <div class="form-group row row-right">
            <a class="mat-button mat-button-default" href="{% url 'home' %}"> {% trans "Cancel" %} </a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Send Money" %}</button>
        </div>
    </form>

</div>