{% extends "voucher_base.html"%}
{% load i18n %}

{% block MAIN %}


<div class="row">
  <div class="nav">
    <a class="mat-button mat-button-outlined" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
    <a class="mat-button mat-button-default" href="{% url 'voucher:voucher_home' %}"> {% trans "Voucher Home" %} </a>
  </div>
</div>

<div class="container">

    <div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "List of Recharges" %}
            </div>
        </div><!--End of Row-->
        <div class="row">
              <span class="hidden js-table-previous mat-button mat-button-default">{% trans "Previous" %}</span>
              <span class="hidden js-table-next mat-button mat-button-default">{% trans "Next" %}</span>
              <span class="js-table-update mat-button mat-button-default">{% trans "Update" %}</span>
        </div><!--End of Row-->
        <table id="recharge-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th class="checkbox"><input id="filter-select-all" type="checkbox" name="allselected"></th>
                          <th>{% trans "Customer" %}</th>
                          <th>{% trans "Seller" %}</th>
                          <th>{% trans "Balance" %}</th>
                          <th>{% trans "Voucher Code" %}</th>
                          <th>{% trans "Date" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for r in recharge_list  %}
                  <tr>
                  <td class="checkbox"><input type="checkbox" name="selected-voucher"></td>
                  <td>{{r.customer.get_full_name}}</td>
                  <td>{{r.seller.get_full_name}}</td>
                  <td>{{r.amount}} {% trans "XAF" %}</td>
                  <td>{{r.voucher.voucher_code}}</td>
                  <td>{{r.created_at}}</td>
                  <td><a class="mat-button mat-button-default" href="{{r.get_absolute_url}}"> {% trans "Details" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=recharge_list %} 
    </div><!--End of Table Wrapper-->

</div>
{% endblock MAIN %}