{% extends "voucher_base.html"%}
{% load i18n %}

{% block MAIN %}


<div class="row">
  <div class="nav">
    <a class="mat-button mat-button-outlined" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
    <a class="mat-button mat-button-default" href="{% url 'voucher:voucher-home' %}"> {% trans "Voucher Home" %} </a>
  </div>
</div>

<div class="container">
    {% include "tags/recharge_list_snippet.html" with page_set=recharge_list list_title="My Recharge List" %}
    
</div>
{% endblock MAIN %}