{% extends "account_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
         <div class="mat-box">
            <div class="title">
                <h3> {% trans Recharge   %} </h3>
            </div>
            <div class="box">
                <div class="entry">
                    <span class="key">{% trans "Customer" %}</span><span class="value">{{recharge.customer.get_full_name}}</span>
                </div>
                <div class="entry">
                    <span class="key">{% trans "Seller" %}</span><span class="value">{{recharge.seller.get_full_name}}</span>
                </div>
                <div class="entry">
                    <span class="key">{% trans "Balance" %}</span><span class="value">{{recharge.amount}}  {% trans "XAF" %}</span>
                </div>
                <div class="entry">
                    <span class="key">{% trans "Voucher Code" %}</span><span class="value">{{recharge.voucher.voucher_code}}</span>
                </div>
                <div class="entry">
                    <span class="key">{% trans "Creation Date" %}</span><span class="value">{{recharge.created_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                    <span class="key">{% trans "Voucher Detail" %}</span><span class="value"><a class="mat-button mat-button-text" href="{{recharge.voucher.get_absolute_url}}"> {% trans "Voucher" %}</a></span>
                </div>
 
            </div>

            <div class="actions">
                  <a class="mat-button mat-button-text" href="{% url 'voucher:recharges' %}"> {% trans "Recharge List" %} </a>
                  <a class="mat-button mat-button-text" href="{% url 'voucher:voucher-home' %}"> {% trans "Voucher Home" %} </a>
                  <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
            </div>
          
        </div>
    
    
</div>
{% endblock MAIN %}