{% extends "voucher_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
         <div class="card">
          <p> {% trans "Name" %} : {{sold_voucher.voucher.name}} </p>
          <p> {% trans "Credit" %} : {{sold_voucher.voucher.amount}} FCFA </p>
          <p> {% trans "Voucher Code" %} : {{sold_voucher.voucher.voucher_code}} </p>
          <p> {% trans "Creation Date" %} : {{sold_voucher.voucher.created_at}} </p>
          <p> {% trans "Activation Date" %} : {{voucher.activated_at}} </p>
          <p> {% trans "Sold Date" %} : {{sold_voucher.sold_at}} </p>
          <p> {% trans "Seller" %} : {{sold_voucher.seller.get_full_name}} </p>

        </div>
    <a class="button link" href="{% url 'accounts:account' %}"> {% trans "My Account" %} </a>
</div>
{% endblock MAIN %}