{% extends "voucher_base.html"%}
{% load i18n %}

{% block MAIN %}
<div class="actions">
  <a class="mat-button mat-button-text" href="{% url 'voucher:voucher-home' %}"> {% trans "Voucher Home" %} </a>
  <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
</div>
<div class="container">
         <div class="mat-box">
            <div class="entry">
                <span class="key">{% trans "Name" %}</span><span class="value">{{sold_voucher.voucher.name}}</span>
            </div>
            <div class="entry">
                <span class="key">{% trans "Credit" %}</span><span class="value">{{sold_voucher.voucher.amount}} {% trans "XAF" %}</span>
            </div>
            <div class="entry">
                <span class="key">{% trans "Voucher Code" %}</span><span class="value">{{sold_voucher.voucher.voucher_code}}</span>
            </div>
            <div class="entry">
                <span class="key">{% trans "Creation Date" %}</span><span class="value">{{sold_voucher.voucher.created_at|date:"F j, Y"}}</span>
            </div>
            <div class="entry">
                <span class="key">{% trans "Activation Date" %}</span><span class="value">{{voucher.activated_at|date:"F j, Y"}}</span>
            </div>
            <div class="entry">
                <span class="key">{% trans "Sold Date" %}</span><span class="value">{{sold_voucher.sold_at|date:"F j, Y"}}</span>
            </div>
            <div class="entry">
                <span class="key">{% trans "Seller" %}</span><span class="value">{{sold_voucher.seller.get_full_name}}</span>
            </div>
        </div>
</div>
{% endblock MAIN %}