{% extends "voucher_base.html"%}
{% load i18n %}


{% block CONTENT_MAIN %}

<div class="container">

    {% if voucher_list %}
    
    <div class="mat-table-wrapper">
        <table id="voucher-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          {% comment %}<th class="checkbox"><input id="filter-select-all" type="checkbox" name="allselected"></th>{% endcomment %}
                          <th>{% trans "Voucher Name" %}</th>
                          <th>{% trans "Amount" %}</th>
                          <th>{% trans "Voucher Code" %}</th>
                          <th>{% trans "Status" %}</th>
                          <th>{% trans "Creation Date" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for v in voucher_list  %}
                  <tr>
                  {% comment %}<td class="checkbox"><input type="checkbox" name="selected-voucher"></td>{% endcomment %}
                  <td>{{v.name}}</td>
                  <td>{{v.amount}} {% trans CURRENCY %}</td>
                  <td>{{v.voucher_code}}</td>
                  <td><i class="fas fa-circle icon {% if .activated %}success{% else %}warning{% endif %}"></i><span>{{v.activated|yesno:_('activated,deactivated')}}</span></td>
                  <td>{{v.created_at|date:"F j, Y"}}</td>
                  <td><a class="mat-button mat-button-default" href="{% url 'voucher:voucher-detail' v.voucher_uuid %}"> {% trans "Details" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=voucher_list %} 
    </div><!--End of Table Wrapper-->
  {% else %}
    <div class="">
      <p>{% trans "There are no Voucher sold now." %}</p>
    </div>
    {% endif %}
</div>
{% endblock CONTENT_MAIN %}