{% extends "voucher_base.html"%}
{% load i18n %}
{% block MAIN %}

<div class="row">
        
        <p> Voucher Dashboard</p>
        <p> Navigate this page to see and manage the voucher </p>

</div>
<div class="row">
        
        <nav class="card responsive">
            <ul class="list listview">
                <li class="list-item"> 
                    <a class="link" href="{%url 'voucher:vouchers'%}">
                        {% trans "Generated Voucher List" %}
                    </a> 
                </li>
                <li class="list-item"> 
                    <a class="link" href="{%url 'voucher:used_vouchers'%}"> 
                        {% trans "Used Voucher List" %} 
                    </a> 
                </li>
                <li class="list-item"> 
                    <a class="link" href="{%url 'voucher:sold_vouchers'%}">
                        {% trans "Sold Voucher List" %} 
                     </a> 
                </li>
            </ul>
        </nav>

</div>

{% endblock MAIN %}