{% extends "voucher_base.html"%}
{% load i18n %}
{% block MAIN %}

<div class="row">
        
        <p> Navigate this page to see and manage the voucher </p>

</div>
<div class="row">
        
        <nav class="nav responsive">
            <ul class="listview dock">
                <li class="docklet"><a class="link" href="{% url 'home'%}">{% trans "PAY" %}</a></li>
                <li class="docklet"><a class="link" href="{% url 'dashboard:home'%}">{% trans "Dashboard" %}</a></li>
                <li class="list-item"> 
                    <a class="mat-button mat-button-text" href="{%url 'voucher:vouchers'%}">
                        {% trans "Generated Voucher List" %}
                    </a> 
                </li>
                <li class="list-item"> 
                    <a class="mat-button mat-button-text" href="{%url 'voucher:recharge'%}">
                        {% trans "Recharge Customer Account" %} 
                     </a> 
                </li>
                <li class="list-item"> 
                    <a class="mat-button mat-button-text" href="{%url 'voucher:recharges'%}">
                        {% trans "Recharges History" %} 
                     </a> 
                </li>
                <li class="list-item"> 
                    <a class="mat-button mat-button-text" href="{%url 'voucher:used_vouchers'%}"> 
                        {% trans "Used Voucher List" %} 
                    </a> 
                </li>
                <li class="list-item"> 
                    <a class="mat-button mat-button-text" href="{%url 'voucher:sold_vouchers'%}">
                        {% trans "Sold Voucher List" %} 
                     </a> 
                </li>

                <li class="list-item"> 
                    <a class="mat-button mat-button-text" href="{%url 'voucher:voucher_generate'%}">
                        {% trans "Generate new Voucher cards" %} 
                     </a> 
                </li>
                

            </ul>
        </nav>

</div>

{% endblock MAIN %}