{% extends "voucher_base.html"%}
{% load i18n %}

{% block CONTENT_MAIN %}
<div class="row">
    <div class="actions">
    {% if not voucher.activated %}
        <a class="mat-button mat-button-default" href="{% url 'voucher:activate' voucher.voucher_uuid %} "> {% trans "Activate this Voucher" %} </a>
    {% endif %}
    </div>
</div>
<div class="box">
<h3> {% trans voucher.name  %} </h3>
<div class="mat-box">
        <div class="entry">
            <span class="key">{% trans "Credit" %}</span><span class="value">{{voucher.amount}} {% trans CURRENCY %}</span>
        </div>
        <div class="entry">
            <span class="key">{% trans "Voucher Code" %}</span><span class="value">{{voucher.voucher_code}}</span>
        </div>
        <div class="entry">
            <span class="key">{% trans "Creation Date" %}</span><span class="value">{{voucher.created_at|date}}</span>
        </div>
        {% if voucher.activated is True %}
        <div class="entry">
            <span class="key">{% trans "Activation Date" %}</span><span class="value">{{voucher.activated_at|date}}</span>
        </div>
        <div class="entry">
            <span class="key">{% trans "Activated by" %}</span><span class="value">{{voucher.activated_by.get_full_name}} {{voucher.activated_by.username}}</span>
        </div>
        <div class="entry">
            <span class="key">{% trans "Sold Date" %}</span><span class="value">{{voucher.sold_at|date}}</span>
        </div>
        
        <div class="entry">
            <span class="key">{% trans "Sold by" %}</span><span class="value">{{voucher.sold_by.get_full_name}} {{voucher.sold_by.username}}</span>
        </div>
        {% endif %}
        {% if voucher.is_used  %}
        <div class="entry">
            <span class="key">{% trans "Used by" %}</span><span class="value">{{voucher.used_by.get_full_name}} {{voucher.used_by.username}}</span>
        </div>
        <div class="entry">
            <span class="key">{% trans "Usage Date" %}</span><span class="value">{{voucher.used_at|date}}</span>
        </div>
            
        {% endif %}   
</div>
</div>
{% endblock CONTENT_MAIN %}