{% extends "base_flat.html"%}

{% block HEADER_PANEL %}
  <div class="header--panel row">
       <div class="col col-1">
              <div class="logo">
                PAY
              </div>
        </div>
        <div class="col col-11">
              <nav class="nav">
                    <a href="#pay">PAY</a>
                    <a href="#customer">Activités</a>
                    <a class="notification-bell"> <i class="far fa-bell"></i> </a>
                    <a class="signout-btn link signout" href="{% url 'accounts:logout' %}" >Se deconnecter</a>
              </nav>
        </div>                 
  </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
  <div class="header--banner row">
        <div class="col col-6">
          <div class="row">
                <div class="solde-info">
                    <div class="account-balance">Votre Solde</div>
                    <div class="balance">325000 FCFA </div>
                </div>
                <div class="details-info">
                    <div></div>
                    <div><i class="fas fa-plus-circle fa-2x"></i></div>
                </div>
          </div>
        </div> 
  </div>
{% endblock HEADER_BANNER %}

{% block MAIN %}

{% endblock MAIN %}