{% extends "dashboard_base.html"%}
{% load i18n %}
  

{% block CONTENT %}
{% if perms.payments.view_availableservice %}
<div class="container">
<div class="col-xs-12">
    {% if perms.payments.add_availableservice %}
        {% block ACTIONS %}
        <a class="mat-button mat-button-default" href="{% url 'dashboard:available-service-create'%}"> <i class="fas fa-money-check icon"></i><span>{% trans "New Service" %}</span></a>
        {% endblock ACTIONS %}
    {% endif %}  
    <div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "Available Services" %}
            </div>
        </div><!--End of Row-->
        <table id="available-service-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          {% comment %}<th><input id="filter-select-all" type="checkbox" name="allselected"></th>{% endcomment %}
                          <th>{% trans "Service Name" %}</th>
                          <th>{% trans "Category" %}</th>
                          <th>{% trans "Details" %}</th>
                          <th>{% trans "Delete Action" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for avs in available_services  %}
                  <tr>
                  {% comment %}<td class="checkbox"><input type="checkbox" name="selected-service"></td>{% endcomment %}
                  <td>{{avs.name}}</td>
                  <td>{{avs.category.category_name}}</td>
                  <td><a class="mat-button mat-button-default" href="{{avs.get_dashboard_absolute_url}}"> {% trans "Details" %}</a></td>
                  {% if can_delete_available_service %}<td><a class="mat-button mat-button-default warning danger js-need-confirmation" href="{{avs.get_dashboard_remove_url}}"> {% trans "Delete" %}</a></td>{% endif %}
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=available_services %}
    </div><!--End of Table Wrapper-->
  </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}