{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container flex column">
        <div class="card">
          <div class="card__title">
            <h3> {% trans "Service Name" %} : {{service.name}} </h3>
            <h4> {% trans "Service Code" %} : {{service.service_code}}</h4>
          </div>
          <div class="card__body">
              <ul class="listview" role="navigation">
                <li class="list-item"> {% trans "Operator" %} : {{service.operator.get_full_name}} </li>
                <li class="list-item"> {% trans "Category" %}: {{service.category.category_name}} </li>
                <li class="list-item"> {% trans "Created by" %}: {{service.created_by.username}} </li>
                <li class="list-item"> {% trans "Date" %} : {{service.created_at}} </li>
                <li class="list-item"> 
                    <label for="is_active">{% trans "Activated" %} : </label>
                    <input type="checkbox" name="is_active" id="is_active" {% if service.is_active %}checked{% endif %} disabled>
                 </li>
                
                <li class="list-item"> 
                    <div class="">
                      <p> {% trans "Description" %} : </p>
                      <p> {{service.description}} </p>
                    </div>
                 </li>
              </ul>
          </div>
          <div class="card__actions">
              <ul class="listview nav" role="navigation">
                  <li class="list-item"><a class="mat-button mat-button-text" href="{{service.get_dashboard_remove_url}}"> {% trans "Remove" %} </a> </li>
                  <li class="list-item"><a class="mat-button mat-button-text" href="{{service.get_dashboard_update_url}}"> {% trans "Edit" %} </a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:available-service-create' %}"> {% trans "Add new Service" %} </a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:available-services' %}"> {% trans "Available Services" %} </a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a></li>
              </ul>
          </div>
        </div>
</div>
{% endblock MAIN %}