{% extends "dashboard_base.html"%}
{% load i18n %}



{% block CONTENT %}

{% if perms.payments.view_servicecategory  %}
<div class="actions">
{% if perms.payments.add_servicecategory %}<a class="mat-button mat-button-outlined" href="{% url 'dashboard:category-service-create' %}"><i class="fas fa-plus icon"></i>{% trans "New Category" %}</a>{% endif %}
</div>

<div class="container">
    <div class="mat-table-wrapper">
        <table id="available-category-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th scope="col">{% trans "Name" %}</th>
                          <th scope="col">{% trans "Code" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for category in categories  %}
                  <tr>
                  <!--<td class="checkbox"><input type="checkbox" name="selected-category"></td>-->
                  <td scope="row" data-label="{% trans 'Name' %}"><span>{% trans category.category_name %}</span></td>
                  <td data-label="{% trans 'Code' %}"><span>{{category.category_code}}</span></td>
                  <td data-label="{% trans 'Ddetails' %}"><a class="mat-button mat-button-outlined" href="{{category.get_dashboard_url}}"><span>{% trans "Details" %}</span></a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=categories %}
    </div><!--End of Table Wrapper-->
</div>
{% else %}
<div class="error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}

{% endblock CONTENT %}