{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}

{% comment "" %}
    <div class="card__actions">
            <ul>
                <li class="list-item"><a class="button link" href="{% url 'dashboard:category_service_update' category.pk %}">{% trans "Edit" %}</a></li>
                <li class="list-item"><a class="button link" href="{% url 'dashboard:category_service_remove' category.pk %}">{% trans "Remove" %}</a></li>
                <li class="list-item"><a class="button link" href="{% url 'dashboard:category_service_detail' category.pk %}">{% trans "Details" %}</a></li>
            </ul>
    </div>
{% endcomment %}
<div class="row">
  <div class="nav">
    <a class="mat-button mat-button-outlined" href="{% url 'dashboard:category_service_create'%}"> {% trans "Add new Category" %}</a>
    <a class="mat-button mat-button-default" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
    <a class="mat-button mat-button-default warn js-need-confirmation" href="{% url 'dashboard:category-service-remove-all' %}"> {% trans "Delete All Service Categories" %} </a>
  </div>
</div>
<div class="container">

    <div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "Available Categories" %}
            </div>
        </div><!--End of Row-->
        
        <table id="available-category-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th>{% trans "Category Name" %}</th>
                          <th>{% trans "Category Code" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for category in categories  %}
                  <tr>
                  <!--<td class="checkbox"><input type="checkbox" name="selected-category"></td>-->
                  <td>{{category.category_name}}</td>
                  <td>{{category.category_code}}</td>
                  <td><a class="mat-button mat-button-default" href="{{category.get_dashboard_absolute_url}}"> {% trans "Details" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=categories %}
    </div><!--End of Table Wrapper-->

</div>
{% endblock MAIN %}