{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container flex column">
        <div class="card">
          <div class="card__title">
            <h3> {% trans "Service Category Name" %} : {{category.category_name}} </h3>
            <h4> {% trans "Service Category Code" %} : {{category.category_code}}</h4>
          </div>
          <div class="card__body">
              <ul class="listview" role="navigation">
                
                <li class="list-item"> 
                    <label for="is_active">{% trans "Activated" %} : </label>
                    <input type="checkbox" name="is_active" id="is_active" {% if category.is_active %}checked{% endif %} disabled>
                 </li>
                <li class="list-item"> {% trans "Created by" %}: {{category.created_by.username}} </li>
                <li class="list-item"> {% trans "Created at" %} : {{category.created_at}} </li>
              </ul>
              {% if has_services %}
              
              <div class="container">
                  <h5>{% trans "Services Available in this category" %} :</h5>
                  <ul class="listview">
                    {% for service in available_services %}
                     <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'dashboard:available_service_detail' service.available_uuid %}">{{service.name}}</a></li>
                    {% endfor %}
                  </ul>
              </div>
              {%else%}
                  <p>{% trans "There are no services available for this category yet" %}</p>
              {% endif %}
              
          </div>
          <div class="card__actions">
              <ul class="listview nav" role="navigation">
                  <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'dashboard:category_service_remove' category.category_uuid %}"> {% trans "Remove" %} </a> </li>
                  <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'dashboard:category_service_update' category.category_uuid %}"> {% trans "Edit" %} </a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:category_service_create' %}"> {% trans "Add new Category Service" %} </a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:category_services' %}"> {% trans "Category Services" %} </a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a></li>
              </ul>
          </div>
        </div>
</div>
{% endblock MAIN %}