{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}

{% if can_view_category %}



<div class="container flex column">
        <div class="card">
          <div class="card__title">
            <h3> {% trans "Service Category Name" %} : {{category.category_name}} </h3>
            <h4> {% trans "Service Category Code" %} : {{category.category_code}}</h4>
          </div>
          <div class="card__body">
              <ul class="listview" role="navigation">
                
                <li class="list-item"> 
                    <label for="is_active">{% trans "Activated" %} : </label>
                    <input type="checkbox" name="is_active" id="is_active" {% if category.is_active %}checked{% endif %} disabled>
                 </li>
                <li class="list-item"> {% trans "Created by" %}: {{category.created_by.username}} </li>
                <li class="list-item"> {% trans "Created at" %} : {{category.created_at}} </li>
              </ul>
              {% if has_services %}
              
              <div class="container">
                  <h5>{% trans "Services Available in this category" %} :</h5>
                  <ul class="listview">
                    {% for service in available_services %}
                     <li class="list-item"><a class="mat-button mat-button-text" href="{{service.get_dashboard_absolute_url}}">{{service.name}}</a></li>
                    {% endfor %}
                  </ul>
              </div>
              {%else%}
                  <p>{% trans "There are no services available for this category yet" %}</p>
              {% endif %}
              
          </div>
          <div class="card__actions">
              <ul class="listview nav" role="navigation">
                  {% if can_delete_category %}<li class="list-item"><a class="mat-button mat-button-text" href="{{category.get_dashboard_remove_url}}"> {% trans "Remove" %} </a> </li>{% endif %}
                  {% if can_change_category %}<li class="list-item"><a class="mat-button mat-button-text" href="{{category.get_dashboard_update_url}}"> {% trans "Edit" %} </a> </li>{% endif %}
                  {% if can_add_category %}<li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:category-service-create' %}"> {% trans "Add new Category Service" %} </a> </li>{% endif %}
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:category-services' %}"> {% trans "Category Services" %} </a> </li>
                  <li class="list-item"> <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a></li>
              </ul>
          </div>
        </div>
</div>

{% else %}
<div class="error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN %}