{% extends "dashboard_base.html"%}
{% load i18n %}

{% block ACTIONS %}
{% if can_delete_category %}<a class="mat-button mat-button-text" href="{{category.get_dashboard_remove_url}}"> {% trans "Remove" %}</a>{% endif %}
{% if can_change_category %}<a class="mat-button mat-button-text" href="{{category.get_dashboard_update_url}}"> {% trans "Edit" %} </a>{% endif %}
{% if can_add_category %}<a class="mat-button mat-button-text" href="{% url 'dashboard:category-service-create' %}"> {% trans "Add new Category Service" %} </a>{% endif %}
{% endblock ACTIONS %}

{% block CONTENT_MAIN %}

{% if can_view_category %}



<div class="container flex column">
        <div class="card">
          <div class="card__title">
            <h4> {% trans "Service Category Name" %} : {{category.category_name}} </h4>
            <i> {% trans "Service Category Code" %} : {{category.category_code}}</i>
          </div>
          <div class="card__body">
              <ul class="mat-list" role="navigation">
                
                <li class="mat-list-item"> 
                    <label for="is_active">{% trans "Activated" %} : </label>
                    <input type="checkbox" name="is_active" id="is_active" {% if category.is_active %}checked{% endif %} disabled>
                 </li>
                <li class="mat-list-item"> {% trans "Created by" %}: {{category.created_by.username}} </li>
                <li class="at-list-item"> {% trans "Created at" %} : {{category.created_at|date:"F j, Y"}} </li>
              </ul>
              {% if has_services %}
              
              <div class="mat-list-wrapper">
                  <div clas="mat-list-header">
                    <div class="list-title">
                      {% trans "Services Available in this category" %}
                    </div>
                  </div>
                  <ul class="mat-list">
                    {% for service in available_services %}
                     <li class="mat-list-item"><a class="mat-button mat-button-text" href="{{service.get_dashboard_absolute_url}}">{{service.name}}</a></li>
                    {% endfor %}
                  </ul>
              </div>
              {%else%}
                  <p>{% trans "There are no services available for this category yet" %}</p>
              {% endif %}
              
          </div>
        </div>
</div>

{% else %}
<div class="error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT_MAIN %}