{% extends "dashboard_base.html"%}
{% load i18n %}

{% block HEADER_BANNER %}
  <div class="container">
        <div class="row">
                <h3>Dashboard</h3>
        </div>
        <div class="row flex-wrap">
                <div class="responsive">
                        <div class="box">
                                <p class="title"> {% trans 'Service Usage' %} </p>
                                <p>{{summary.service_summary.usage_count}}</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title"> {% trans 'Number of Transfer' %} </p>
                                <p>{{summary.transfer_summary.number_of_transfers}}</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Total Paid amount for this month" %} </p>
                                <p>{{summary.service_summary.total_amount}} FCFA</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Min Transferred amount" %}</p>
                                <p>{{summary.transfer_summary.min_transferred_amount}} FCFA</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title"> {% trans "Max Paid amount Service" %} </p>
                                <p>{{summary.service_summary.max_paid_amount}} FCFA</p>
                        </div>
                       

                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Average Paid amount for Service this month" %} </p>
                                <p>{{summary.service_summary.average_amount}} FCFA</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Average Transferred amount this month" %} </p>
                                <p class="subtitle">{{summary.transfer_summary.average_transferred_amount}} FCFA</p>
                        </div>
                        
                </div>
        </div>
  </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}
<div class="container row">
        <div class="col col-2">
                <aside class="panel panel-align-left">
                        <ul class="dock dock-left">
                                <li class="docklet"><a class="link" href="{% url 'home'%}">{% trans "PAY" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'dashboard:home'%}">{% trans "Dashboard" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'dashboard:services'%}">{% trans "Services" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'dashboard:transfers'%}">{% trans "Transfers" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'voucher:voucher_home'%}">{% trans "Vouchers" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'dashboard:available_services'%}">{% trans "Available Services" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'dashboard:policies' %}">{% trans "Policies" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'dashboard:category_services' %}">{% trans "Categories" %}</a></li>
                                <li class="docklet"><a class="link" href="{% url 'accounts:logout'%}">{% trans "Logout" %}</a></li>
                        </ul>
                </aside>
        </div>

        <div class="col col-10">
                <div class="container">
                        <div class="row">
                                <div class="col col-9">
                                        <div class="row">
                                                <div class="col col-6">
                                                        <div class="row">
                                                           <div class="mat-table-wrapper">
                                                                <div class="row">
                                                                        <div class="list-title">
                                                                                {% trans "Transfer History" %}
                                                                        </div>
                                                                </div>
                                                                <div class="row">
                                                                        <span class="hidden js-table-previous mat-button mat-button-default">{% trans "Previous" %}</span>
                                                                        <span class="hidden js-table-next mat-button mat-button-default">{% trans "Next" %}</span>
                                                                        <span class="js-table-update mat-button mat-button-default">{% trans "Update" %}</span>
                                                                </div>
                                                                <table id="transfer-list" class="mat-table js-filter-table">
                                                                        <thead>
                                                                                <tr>
                                                                                        <!--<th><input id="filter-select-all" type="checkbox" name="allselected-transfer"></th>-->
                                                                                        <th>{% trans "Sender" %}</th>
                                                                                        <th>{% trans "Amount" %}</th>
                                                                                        <th>{% trans "Date of Transfer" %}</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for xfer in recent_transfers  %}
                                                                                <tr>
                                                                                <!--<td class="checkbox"><input type="checkbox" name="selected-transfer"></td>-->
                                                                                <td>{{xfer.sender.full_name}}</td>
                                                                                <td>{{xfer.amount}} {% trans "XAF" %}</td>
                                                                                <td>{{xfer.created_at}}</td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                                
                                                                        </tbody>
                                                                        <tfoot>
                                                                                
                                                                        </tfoot>
                                                        
                                                                </table>
                                                                <div class="row">
                                                                        <div class="table-select-wrapper">
                                                                                <label for="table-step">{% trans "Row per page" %}</label>
                                                                                <select class="mat-select" name="step" id="table-step">
                                                                                <option value="3">3</option>
                                                                                <option value="5">5</option>
                                                                                <option value="10">10</option>
                                                                                <option value="30">30</option>
                                                                                </select>
                                                                        </div>
                                                                        <div class="table-pagination">
                                                                                <div><span class="js-table-interval-start"></span> <span class="text-separator">-</span> <span class="js-table-interval-end"></span> {% trans "of" %} <span class="js-table-rows-number bold">100</span> </div>
                                                                                <div class="controls">
                                                                                <span class="control js-table-previous"><i class="fas fa-chevron-left"></i></span>
                                                                                <span class="control js-table-next"><i class="fas fa-chevron-right"></i></span>
                                                                                </div>
                                                                        </div>
                            
                                                                </div><!--End of Row-->
                                                           </div> <!--End of Table Wrapper-->
                                                        </div> <!--End of Row-->
                                                </div> <!--End of Col-6-->

                                                <div class="col col-6">

                                                        <div class="row">
                                                           <div class="mat-table-wrapper">
                                                                <div class="row">
                                                                        <div class="list-title">
                                                                                {% trans "Service History" %}
                                                                        </div>
                                                                </div>
                                                                <div class="row">
                                                                        <span class="hidden js-table-previous mat-button mat-button-default">{% trans "Previous" %}</span>
                                                                        <span class="hidden js-table-next mat-button mat-button-default">{% trans "Next" %}</span>
                                                                        <span class="js-table-update mat-button mat-button-default">{% trans "Update" %}</span>
                                                                </div>
                                                                <table id="service-list" class="mat-table js-filter-table">
                                                                        <thead>
                                                                                <tr>
                                                                                        <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                                                                                        <th>{% trans "Service Name" %}</th>
                                                                                        <th>{% trans "Price" %}</th>
                                                                                        <th>{% trans "Date of usage" %}</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for s in recent_services  %}
                                                                                <tr>
                                                                                <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                                                                                <td>{{s.name}}</td>
                                                                                <td>{{s.price}} {% trans "XAF" %}</td>
                                                                                <td>{{s.created_at}}</td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                                
                                                                        </tbody>
                                                                        <tfoot>
                                                                                
                                                                        </tfoot>
                                                        
                                                                </table>
                                                                <div class="row">
                                                                        <div class="table-select-wrapper">
                                                                                <label for="table-step">{% trans "Row per page" %}</label>
                                                                                <select class="mat-select" name="step" id="table-step">
                                                                                <option value="3">3</option>
                                                                                <option value="5">5</option>
                                                                                <option value="10">10</option>
                                                                                <option value="30">30</option>
                                                                                </select>
                                                                        </div>
                                                                        <div class="table-pagination">
                                                                                <div><span class="js-table-interval-start"></span> <span class="text-separator">-</span> <span class="js-table-interval-end"></span> {% trans "of" %} <span class="js-table-rows-number bold">100</span> </div>
                                                                                <div class="controls">
                                                                                <span class="control js-table-previous"><i class="fas fa-chevron-left"></i></span>
                                                                                <span class="control js-table-next"><i class="fas fa-chevron-right"></i></span>
                                                                                </div>
                                                                        </div>
                            
                                                                </div><!--End of Row-->
                                                           </div> <!--End of Table Wrapper-->
                                                        </div> <!--End of Row-->
                                                        
                                                
                                                </div><!--End of Col-6-->
                                        </div><!--End of Row-->
                                </div><!--End of Col-9-->
                        </div><!--End of Row-->
                </div><!--End of Container-->
        </div><!--End of Col-10-->

</div>


{% endblock MAIN %}