{% extends "dashboard_base.html"%}
{% load i18n %}

{% block HEADER_BANNER %}
{% if not can_access_dashboard %}
         {% include "tags/unauthorized.html" %}
{% else %}

  <div class="container">
        <div class="row">
                <h3>Dashboard</h3>
        </div>
        <div class="row flex-wrap">
                <div class="responsive">
                        <div class="box">
                                <p class="title"> {% trans 'Service Usage' %} </p>
                                <p>{{summary.service_summary.usage_count}}</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title"> {% trans 'Number of Transfer' %} </p>
                                <p>{{summary.transfer_summary.number_of_transfers}}</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Total Paid amount for this month" %} </p>
                                <p>{{summary.service_summary.total_amount}} FCFA</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Min Transferred amount" %}</p>
                                <p>{{summary.transfer_summary.min_transferred_amount}} FCFA</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title"> {% trans "Max Paid amount Service" %} </p>
                                <p>{{summary.service_summary.max_paid_amount}} FCFA</p>
                        </div>
                       

                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Average Paid amount for Service this month" %} </p>
                                <p>{{summary.service_summary.average_amount}} FCFA</p>
                        </div>
                        
                </div>
                <div class="responsive">
                        <div class="box">
                                <p class="title">{% trans "Average Transferred amount this month" %} </p>
                                <p class="subtitle">{{summary.transfer_summary.average_transferred_amount}} FCFA</p>
                        </div>
                        
                </div>
        </div>
  </div>
  {% endif %}
{% endblock HEADER_BANNER %}

{% block MAIN %}
{% if not can_access_dashboard %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% else %}

<div class="container row">
        <div class="col col-2">
                <aside class="panel panel-align-left">
                        <ul class="dock dock-left">
                                <li class="docklet"><a class="mat-button mat-button-text" href="{% url 'home'%}">{% trans "PAY" %}</a></li>
                                <li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:home'%}">{% trans "Dashboard" %}</a></li>
                                {% if can_view_group %}<li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:groups'%}">{% trans "Groups" %}</a></li>{% endif %}
                                {% if can_view_service %}<li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:services'%}">{% trans "Services" %}</a></li>{% endif %}
                                {% if can_view_transfer %} <li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:transfers'%}">{% trans "Transfers" %}</a></li>{% endif %}
                                {% if can_view_voucher %}<li class="docklet"><a class="mat-button mat-button-text" href="{% url 'voucher:voucher-home'%}">{% trans "Vouchers" %}</a></li>{% endif %}
                                {% if can_view_available_service %}<li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:available-services'%}">{% trans "Available Services" %}</a></li>{% endif %}
                                {% if can_view_policy %}<li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:policies' %}">{% trans "Policies" %}</a></li>{% endif %}
                                {% if can_view_category %}<li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:category-services' %}">{% trans "Categories" %}</a></li>{% endif %}
                                {% if can_generate_token %}<li class="docklet"><a class="mat-button mat-button-text" href="{% url 'dashboard:generate-token' %}">{% trans "Token AUTH API" %}</a></li>{% endif %}
                                <li class="docklet"><a class="mat-button mat-button-text" href="{% url 'accounts:logout'%}">{% trans "Logout" %}</a></li>
                        </ul>
                </aside>
        </div>

        <div class="col col-10">
                <div class="container">
                        <div class="row">
                                <div class="col col-9">
                                        <div class="row">
                                                {% if can_view_transfer %}
                                                
                                                <div class="col col-6">
                                                        <div class="row">
                                                           <div class="mat-table-wrapper">
                                                                <div class="row">
                                                                        <div class="list-title">
                                                                                {% trans "Transfer History" %}
                                                                        </div>
                                                                </div>
                                                                
                                                                <table id="transfer-list" class="mat-table js-filter-table">
                                                                        <thead>
                                                                                <tr>
                                                                                        <!--<th><input id="filter-select-all" type="checkbox" name="allselected-transfer"></th>-->
                                                                                        <th>{% trans "Sender" %}</th>
                                                                                        <th>{% trans "Amount" %}</th>
                                                                                        <th>{% trans "Date of Transfer" %}</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for xfer in recent_transfers  %}
                                                                                <tr>
                                                                                <!--<td class="checkbox"><input type="checkbox" name="selected-transfer"></td>-->
                                                                                <td>{{xfer.sender.username}}</td>
                                                                                <td>{{xfer.amount}} {% trans "XAF" %}</td>
                                                                                <td>{{xfer.created_at}}</td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                                
                                                                        </tbody>
                                                                        <tfoot>
                                                                                
                                                                        </tfoot>
                                                        
                                                                </table>
                                                                
                                                           </div> <!--End of Table Wrapper-->
                                                        </div> <!--End of Row-->
                                                </div> <!--End of Col-6-->
                                                {% endif %}
                                                {% if can_view_service %}
                                                
                                                
                                                <div class="col col-6">

                                                        <div class="row">
                                                           <div class="mat-table-wrapper">
                                                                <div class="row">
                                                                        <div class="list-title">
                                                                                {% trans "Service History" %}
                                                                        </div>
                                                                </div>
                                                                
                                                                <table id="service-list" class="mat-table js-filter-table">
                                                                        <thead>
                                                                                <tr>
                                                                                        <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                                                                                        <th>{% trans "Service Name" %}</th>
                                                                                        <th>{% trans "Price" %}</th>
                                                                                        <th>{% trans "Date of usage" %}</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for s in recent_services  %}
                                                                                <tr>
                                                                                <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                                                                                <td>{{s.name}}</td>
                                                                                <td>{{s.price}} {% trans "XAF" %}</td>
                                                                                <td>{{s.created_at}}</td>
                                                                                </tr>
                                                                                {% endfor %}
                                                                                
                                                                        </tbody>
                                                                        <tfoot>
                                                                                
                                                                        </tfoot>
                                                        
                                                                </table>
                                                                
                                                           </div> <!--End of Table Wrapper-->
                                                        </div> <!--End of Row-->
                                                        
                                                
                                                </div><!--End of Col-6-->
                                                {% endif %}
                                        </div><!--End of Row-->
                                </div><!--End of Col-9-->
                        </div><!--End of Row-->
                </div><!--End of Container-->
        </div><!--End of Col-10-->

</div>

{% endif %}
{% endblock MAIN %}
