{% extends "dashboard_base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                {% block  HEADER_BANNER_TITLE %}
                    <h4> {% trans "Policy Group" %} - {{group.name}}</h4>
                {% endblock HEADER_BANNER_TITLE %}
                
        </div>
        <div class="container">

            <div class="col col-9">
                <div class="banner--actions">
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:groups' %}"><span>{% trans "Policy Groups" %}</span></a>
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}">{% trans "Dashboard" %}</a>
                    {% if can_delete_group %}<a class="mat-button mat-button-text danger" href="{% url 'dashboard:group-delete' group.pk %}"><i class="far fa-trash-alt"></i><span>{% trans "Delete" %}</span></a>{% endif %}
                    {% if can_update_group %}<a class="mat-button mat-button-text" href="{% url 'dashboard:group-update' group.pk %}"><i class="far fa-edit"></i><span>{% trans "Edit" %}</span></a>{% endif %}
                    <a class="mat-button mat-button-text" href="{%url 'payments:transaction-verification' %}"> {% trans "Transaction Verification" %}</a>
                        
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN_CONTENT %}

{% if can_view_group %}



<div class="container">
    <div class="mat-box">
             <div class="box-content">
                {% if group.permissions %}
                    <div class="mat-list-wrapper">
                        <div class="mat-list-header">
                            <div class="list-title">{% trans "Permissions" %}</div>
                        </div>
                        <ul class="mat-list">
                        {% for p in group.permissions.all %}
                            <li class="mat-list-item"><span>{% trans p.name %}</span> - <span>{{p.codename}}</span></li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                {% endif %}

                {% if group.user_set %}
                    <div class="mat-list-wrapper">
                        <div class="mat-list-header">
                            <div class="list-title">{% trans "Members" %}</div>
                        </div>
                        <ul class="mat-list">
                        {% for u in group.user_set.all %}
                            <li class="mat-list-item"><span>{{u.get_full_name}}</span> - <span>{{u.username}}</span></li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                {% endif %}
             </div>
             
                
           
    </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}