{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
    {% for group in groups %}
        <div class="box">
            <div class="title">
                <h3>{{group.name}}</h3>
                {% if group.permissions %}
                    <ul class="mat-list">
                        <li><h4>{% trans "Permissions" %}</h4></li>
                        {% for p in group.permissions.all %}
                            <li class="list-item"><span>{% trans p.name %}</span> - <span>{{p.codename}}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if group.user_set %}
                    <ul class="mat-list">
                        <li><h4>{% trans "Users members" %}</h4></li>
                        {% for u in group.user_set.all %}
                            <li class="list-item"><span>{% trans u.get_full_name %}</span> - <span>{{u.username}}</span></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
          <a class="mat-button mat-button-text" href="{% url 'dashboard:goup-detail' group.pk %}">{% trans "Details" %} ...</a>
        </div>
    {% empty %}
    <p> {% trans "There is currently no Group" %} ...</p>
    <a class="mat-button mat-button-text" href="{% url 'dashboard:group-create' %}"> {% trans "Create A Group" %} </a>
    {% endfor %}
</div>
{% endblock MAIN %}