{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}
{% block ACTIONS %}
<div class="actions">
{% if perms.auth.delete_group %}<a class="mat-button mat-button-text danger" href="{% url 'dashboard:group-delete' group.pk %}"><i class="far fa-trash-alt"></i><span>{% trans "Delete" %}</span></a>{% endif %}
{% if perms.auth.change_group %}<a class="mat-button mat-button-text" href="{% url 'dashboard:group-update' group.pk %}"><i class="far fa-edit"></i><span>{% trans "Edit" %}</span></a>{% endif %}
<a class="mat-button mat-button-text" href="{% url 'dashboard:groups' %}"><i class="far fa-list"></i><span>{% trans "Groups" %}</span></a>
</div>
{% endblock ACTIONS %}
{% if perms.auth.view_group %}
<div class="container">
    <div class="mat-box full">
             <div class="box-content">
                {% if group.permissions %}
                    <div class="mat-list-wrapper">
                        <div class="mat-list-header">
                            <div class="list-title">{% trans "Permissions" %}</div>
                        </div>
                        <ul class="mat-list">
                        {% for p in group.permissions.all %}
                            <li><span>{{p.content_type.app_label}} - {{p.content_type.model}} - {{p.codename}}</span></li>
                        {% empty %}
                        <li><span>{% trans "No Permissions" %}</span></li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                {% endif %}

                {% if group.user_set %}
                    <div class="mat-list-wrapper">
                        <div class="mat-list-header">
                            <div class="list-title">{% trans "Members" %}</div>
                        </div>
                        <ul class="mat-list">
                        {% for u in group.user_set.all %}
                            <li><span>{{u.get_full_name}}</span> - <span>{{u.username}}</span></li>
                        {% empty %}
                        <li><span>{% trans "No Members" %}</span></li>
                        {% endfor %}
                        </ul>
                    </div>
                    
                {% endif %}
             </div>
             
                
           
    </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}