{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN_CONTENT %}

{% if can_view_idcard %}
<div class="container flex column">
        {% if has_idcard %}
            <div class="card">
                <div class="card__body">
                    <p class="responsive"> {% trans "ID number" %} : {{idcard.card_number}} </p>
                    <p class="responsive"> {% trans "Delivery Place " %} : {{idcard.delivery_place}} </p>
                    <p class="responsive"> {% trans "Delivered at " %} : {{idcard.delivery_at}} </p>
                    <p class="responsive"> {% trans "Expire at " %} : {{idcard.expire_at}} </p>
                </div>
                <div class="card__image responsive idcard"> 
                    <p>{% trans "Image" %}: </p>
                    <img class="full js-zoom" src="{{idcard.image.url}}"/>
                </div>
                <div class="card__actions">
                    {% if can_change_idcard %}<a class="mat-button mat-button-text" href="{{idcard.get_dashboard_update_url}}"> {% trans "Update" %}</a>{% endif %}
                    <a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
                </div>

            </div>
            
        {% else %}
            <p> {% trans "Wrong request" %} </p>
        {% endif %}
        <div class="responsive">
                
        </div>
        
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN_CONTENT %}