{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT_MAIN %}

{% if can_view_payment %}

<div class="container">
<div class="col-m-12 col-8">
    <div class="mat-table-wrapper">
        <table id="service-list" class="mat-table js-filter-table">
          <caption>{% trans "Payments History" %}</caption>
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th scope="col">{% trans "Sender" %}</th>
                          <th scope="col">{% trans "Recipient" %}</th>
                          <th scope="col">{% trans "Amount" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for p in payments  %}
                  <tr>
                    <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                    <td scope="row" data-label="Sender">{{p.sender.get_full_name}}</td>
                    <td data-label="Recipient">{{p.recipient.get_full_name}}</td>
                    <td data-label="Amount">{{p.amount}} {% trans "XAF" %}</td>
                    <td data-label="Date">{{p.created_at|date:"F j, Y"}}</td>
                    <td data-label="Details"><a class="mat-button mat-button-default" href="{{p.get_dashboard_absolute_url}}">{% trans "More" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=payments %}
    </div><!--End of Table Wrapper-->
  </div>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT_MAIN %}