{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}

<div class="container">
    {% for payment in payments %}
        <div class="card">
          <p> {% trans "Sender" %} : {{payment.sender.full_name}} </p>
          <p> {% trans "Recipient" %} : {{payment.recipient.full_name}} </p>
          <p> {% trans "Price" %} : {{payment.amount}} FCFA </p>
          <p> {% trans "Date" %} : {{payment.created_at}} </p>
          <a class="mat-button mat-button-text" href="{{payment.get_dashboard_absolute_url}}">{% trans "Detail" %}</a>
        </div>
    {% empty %}
    <p> {% trans "You haven't made any Payments" %} ...</p>
    <a class="mat-button mat-button-text" href="{% url 'payments:new-payment' %}"> {% trans "Make a Payment" %} </a>
    {% endfor %}
</div>
{% endblock MAIN %}