{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}

{% if perms.payments.view_payment  %}
<div class="container">


        <div class="box">
                <div class="title">
                    <span class="success">{% trans "Payment" %}</span>
                </div>
                <div class="box-content">
                    <div class="entry">
                        <span class="key">{% trans "Sender" %}</span> <span class="value">{{payment.sender.get_full_name}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Recipient" %}</span> <span class="value">{{payment.recipient.get_full_name}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Amount" %}</span> <span class="value">{{payment.amount}} {% trans CURRENCY %}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Date" %}</span> <span class="value">{{payment.created_at|date:"F j,Y H:i:s"}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Verification Code" %}</span> <span class="value">{{payment.verification_code}}</span>
                    </div>
                    <div class="entry">
                        <span class="key">{% trans "Description" %}</span> <span class="value">{{payment.details}}</span>
                    </div>

                </div>
        </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}