{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}

{% if can_view_policy %}
<div class="container">
        <div class="card">
          <div class="card__title">
              <h3>{% trans "Policy Group" %}</h3>
          </div>
          <div class="card__body">
            <p> {% trans "Policy Group Name" %} : {{group.name}}</p>
            <p> {% trans "Members" %} : {{group.members.count}} </p>
            <p> {% trans "Commission" %} : {{group.policy.commission}}</p>  
            <div class="mat-list-wrapper">
              <ul class="listview">
                {% for user in group.members.all %}
                <li class="list-item">{{user.username}} - {{user.get_full_name}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="card__actions">
            <ul class="listview nav" role="navigation">
                <li class="list-item"><a class="mat-button mat-button-text" href="{{group.get_dashboard_update_url}}"><span class="pen"></span>{% trans "Edit" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'dashboard:policy-group-create'%}"><span class="add"></span>{% trans "New Policy Group" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'dashboard:policy-groups' %}"><span class="back"></span>{% trans "Policy Groups" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"><span class="home"></span>{% trans "Dashboard" %}</a></li>
            </ul>
          </div>
          
        </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock MAIN %}