{% extends "dashboard_base.html"%}
{% load i18n %}



{% block CONTENT %}
{% if perms.payments.view_policy %}

<div class="actions">
{% block ACTIONS %}
{% if  perms.payments.add_policy %}<a class="mat-button mat-button-outlined" href="{% url 'dashboard:policy-create' %}"><i class="fas fa-plus icon"></i> {% trans "New Policy" %}</a>{% endif %} 
{% endblock ACTIONS %}
</div>

<div class="container">
    <div class="mat-table-wrapper">
        <table id="policy-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th>{% trans "Commission" %}</th>
                          <th>{% trans "Monthly Transaction" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for policy in policies  %}
                  <tr>
                  <!--<td class="checkbox"><input type="checkbox" name="selected-policy"></td>-->
                  <td>{{policy.commission|floatformat:'-3'}}</td>
                  <td>{{policy.monthly_limit|floatformat:'-2'}} {% trans CURRENCY %}</td>
                  <td><a class="mat-button mat-button-default" href="{{policy.get_dashboard_url}}"> {% trans "Detail" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=policies %}
    </div><!--End of Table Wrapper-->
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}