{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}




<div class="row">
  <div class="nav">
    <a class="mat-button mat-button-outlined" href="{% url 'dashboard:policy-create' %}"> {% trans "Add New Policy" %} </a>
    <a class="mat-button mat-button-default" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
    <a class="mat-button mat-button-default warn js-need-confirmation" href="{% url 'dashboard:policy-remove-all' %}"> {% trans "Delete All Policies" %} </a>
  </div>
</div>
<div class="container">

    <div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "Policies" %}
            </div>
        </div><!--End of Row-->
        
        <table id="policy-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th>{% trans "Commission" %}</th>
                          <th>{% trans "Daily Limit" %}</th>
                          <th>{% trans "Weekly Limit" %}</th>
                          <th>{% trans "Monthly Limit" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for policy in policies  %}
                  <tr>
                  <!--<td class="checkbox"><input type="checkbox" name="selected-policy"></td>-->
                  <td>{{policy.commission}}</td>
                  <td>{{policy.daily_limit}} {% trans "XAF" %}</td>
                  <td>{{policy.weekly_limit}} {% trans "XAF" %}</td>
                  <td>{{policy.monthly_limit}} {% trans "XAF" %}</td>
                  <td><a class="mat-button mat-button-default" href="{{policy.get_dashboard_absolute_url}}"> {% trans "Detail" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=policies %}
    </div><!--End of Table Wrapper-->

</div>
{% endblock MAIN %}