{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}

{% if perms.payments.view_policy %}

<div class="actions">
<a class="mat-button mat-button-outlined" href="{{policy.get_dashboard_update_url}}"><i class="fas fa-pen icon"></i>{% trans "Edit" %}</a>
<a class="mat-button mat-button-outlined" href="{% url 'dashboard:policy-create'%}"><i class="fas fa-plus icon"></i>{% trans "New Policy" %}</a>
<a class="mat-button mat-button-text" href="{% url 'dashboard:policies'%}"><i class="fas fa-list icon"></i>{% trans "Policies" %}</a>
</div>
<div class="container">
        <div class="mat-box">
          <h3>{% trans "Policy" %}</h3>
          <div class="mat-box-content">
            <p class="entry"><span>{% trans "Monthly Limit" %}</span><span>{{policy.monthly_limit}} {% trans CURRENCY %}</span></p>
            <p class="entry"><span>{% trans "Commission" %}</span><span>{{policy.commission}}</span></p>  
          </div>
        </div>
</div>
{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}