{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}


<div class="row">
  <div class="nav">
    <a class="mat-button mat-button-outlined" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
    <a class="mat-button mat-button-default" href="{% url 'dashboard:vouchers' %}"> {% trans "Vouchers" %} </a>
  </div>
</div>

<div class="container">
    {% include "tags/recharge_list_snippet.html" with transaction_list=recharge_list list_title="Recharge List" %}
    
</div>
{% endblock MAIN %}