{% extends "dashboard_base.html"%}
{% load i18n %}
{% if not can_access_dashboard %}
{% include "tags/unauthorized.html" %}
{% else %}

{% block HEADER_BANNER %}
        {% block BANNER_TITLE %}
                <h4>{% trans "PAY REPORT" %}</h4>
        {% endblock BANNER_TITLE %}
{% endblock HEADER_BANNER %}

{% block MAIN_CONTENT %}
<div class="container">
    <div id="reports" class="container">
    {% include "tags/payment_report.html" %}
    {% include "tags/transfer_report.html" %}
    {% include "tags/service_report.html" %}
    {% include "tags/voucher_report.html" %}
    {% include "tags/payment_request_report.html" %}
    </div>
</div>
{% endblock MAIN_CONTENT %}
{% endif %}