{% extends "dashboard_base.html"%}
{% load i18n %}
{% load static %}
{% load payments_tags %}
{% if perms.dashboard.can_view_dashboard %}

    {% block CONTENT %}
    <div class="container">
        <div id="reports" class="container">
        {% for entry_report in reports %}
        {% include "tags/transaction_summary.html" with ACTIVITY=entry_report.activity|balance_activity %}
        {% empty %}
        {% trans "No Transactions yet" %}
        {% endfor %}
        {% comment %}
            {% include "tags/payment_report.html" %}
            {% include "tags/transfer_report.html" %}
            {% include "tags/service_report.html" %}
            {% include "tags/voucher_report.html" %}
            {% include "tags/payment_request_report.html" %}
        {% endcomment %}
        </div>
        <div id="graphic-reports" class="container">
            <div class="col-m-12 col-5">
                <div class="diagram-wrapper">
                    <div class="title">{% trans "Transfers" %}</div>
                    <div class="diagram">
                        <canvas id="transfers-diagram" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="diagram-wrapper">
                    <div class="title">{% trans "Payments" %}</div>
                    <div class="diagram">
                        <canvas id="payments-diagram" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="diagram-wrapper">
                    <div class="title">{% trans "Payment Requests" %}</div>
                    <div class="diagram">
                        <canvas id="payment-request-diagram" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="diagram-wrapper">
                    <div class="title">{% trans "Services" %}</div>
                    <div class="diagram">
                        <canvas id="services-diagram" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="diagram-wrapper">
                    <div class="title">{% trans "Vouchers" %}</div>
                    <div class="diagram">
                        <canvas id="vouchers-diagram" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="diagram-wrapper">
                    <div class="title">{% trans "Recharges" %}</div>
                    <div class="diagram">
                        <canvas id="recharges-diagram" ></canvas>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="diagram-wrapper">
                    <div class="title">{% trans "Users" %}</div>
                    <div class="diagram">
                        <canvas id="users-diagram" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock CONTENT %}


{% block SCRIPT %}
<script  type="application/javascript" src="{% static 'js/vendor/Chart.min.js' %}"></script> 
<script  type="application/javascript" src="{% static 'js/analytics.js' %}"></script>
{% endblock SCRIPT %}


{% else %}
{% include "tags/unauthorized.html" %}

{% endif %}