{% extends "dashboard_base.html"%}
{% load i18n %}

{% block MAIN %}


<div class="container shadow">
  <div class="row">
    <div class ="panel">
      <h3>{% trans "Summary" %}</h3>
    </div>
    
  </div>
  <div class="row">
    <div class="responsive">
        <div class="box shadow flex-column">
          <div class="title">{% trans "Money transferred" %}</div>
          <div class="subtitle highlight">{{service_summary.total_amount}} FCFA</div>
        </div>
    </div>
    <div class="responsive">
        <div class="box shadow flex-column">
          <div class="title">{% trans "Service usage" %}</div>
          <div class="subtitle highlight">{{service_summary.usage_count}}</div>
        </div>
    </div>

    <div class="responsive">
        <div class="box shadow flex-column">
          <div class="title">{% trans "Max paid money" %}</div>
          <div class="subtitle highlight">{{service_summary.max_paid_amount}} FCFA</div>
        </div>
    </div>

    <div class="responsive">
        <div class="box shadow flex-column">
          <div class="title">{% trans "Min paid money" %}</div>
          <div class="subtitle highlight">{{service_summary.min_paid_amount}} FCFA</div>
        </div>
    </div>

    <div class="responsive">
        <div class="box shadow flex-column">
          <div class="title">{% trans "Number of user of the service" %}</div>
          <div class="subtitle highlight">{{service_summary.number_of_customer}}</div>
        </div>
    </div> 
    <div class="responsive">
        <div class="box shadow flex-column">
          <div class="title">{% trans "Number of operators" %}</div>
          <div class="subtitle highlight">{{service_summary.number_of_operator}}</div>
        </div>
    </div>        
        
    </div> <!--End of row-->
  </div><!--End of Container-->

</div>
<div class="row">
  <div class="nav">
    <a class="mat-button mat-button-outlined" href="{% url 'dashboard:available_services' %}"> {% trans "Available services" %} </a>
    <a class="mat-button mat-button-default" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a>
  </div>
</div>
<div class="container">

    <div class="mat-table-wrapper">
        <div class="row">
            <div class="mat-table-title">
                {% trans "Service History Page" %}
            </div>
        </div><!--End of Row-->
        <div class="row">
              <span class="hidden js-table-previous mat-button mat-button-default">{% trans "Previous" %}</span>
              <span class="hidden js-table-next mat-button mat-button-default">{% trans "Next" %}</span>
              <span class="js-table-update mat-button mat-button-default">{% trans "Update" %}</span>
        </div><!--End of Row-->
        <table id="service-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <th><input id="filter-select-all" type="checkbox" name="allselected"></th>
                          <th>{% trans "Service Name" %}</th>
                          <th>{% trans "Price" %}</th>
                          <th>{% trans "Category" %}</th>
                          <th>{% trans "Date of usage" %}</th>
                          <th>{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for s in services  %}
                  <tr>
                  <td class="checkbox"><input type="checkbox" name="selected-service"></td>
                  <td>{{s.name}}</td>
                  <td>{{s.price}} {% trans "XAF" %}</td>
                  <td>{{s.category.category_name}}</td>
                  <td>{{s.created_at}}</td>
                  <td><a class="mat-button mat-button-default" href="{% url 'dashboard:service_detail' s.pk %}"> {% trans "Details" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    <div class="row">
          <div class="table-select-wrapper">
                  <label for="table-step">{% trans "Row per page" %}</label>
                  <select class="mat-select" name="step" id="table-step">
                  <option value="3">3</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="30">30</option>
                  </select>
          </div>
          <div class="table-pagination">
                  <div><span class="js-table-interval-start"></span> <span class="text-separator">-</span> <span class="js-table-interval-end"></span> {% trans "of" %} <span class="js-table-rows-number bold">100</span> </div>
                  <div class="controls">
                  <span class="control js-table-previous"><i class="fas fa-chevron-left"></i></span>
                  <span class="control js-table-next"><i class="fas fa-chevron-right"></i></span>
                  </div>
          </div>

    </div><!--End of Row-->
    </div><!--End of Table Wrapper-->

</div>
{% endblock MAIN %}