{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}
{% if  perms.payments.view_service %}


<div class="mat-box">
  <div class="row">
    <h3>{% trans "Summary" %}</h3>
  </div>
  <div class="row">
    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Money transferred" %}</div>
          <div class="subtitle">{{service_summary.total_amount}} FCFA</div>
        </div>
    </div>
    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Service usage" %}</div>
          <div class="subtitle">{{service_summary.usage_count}}</div>
        </div>
    </div>

    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Max paid money" %}</div>
          <div class="subtitle">{{service_summary.max_paid_amount}} FCFA</div>
        </div>
    </div>

    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Min paid money" %}</div>
          <div class="subtitle">{{service_summary.min_paid_amount}} FCFA</div>
        </div>
    </div>

    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Number of user of the service" %}</div>
          <div class="subtitle">{{service_summary.number_of_customer}}</div>
        </div>
    </div> 
    <div class="responsive">
        <div class="entry flex-column">
          <div class="title">{% trans "Number of operators" %}</div>
          <div class="subtitle">{{service_summary.number_of_operator}}</div>
        </div>
    </div>         
        
    </div> <!--End of row-->
  </div><!--End of Container-->

<div class="container">
        <div class="mat-box">
            <div class="title">
              <span>{{service.name}}</span>
            </div>
            <div class="box-content">
                <div class="entry">
                  <span class="key">{% trans "Category" %}</span><span class="value">{{service.category}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Operator" %}</span><span class="value">{{service.operator.get_full_name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Customer" %}</span><span class="value">{{service.customer.get_full_name}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Amount" %}</span><span class="value">{{service.price}} {% trans "XAF" %}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Commission" %}</span><span class="value">{{service.commission}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Issue Date" %}</span><span class="value">{{service.issued_at}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Date" %}</span><span class="value">{{service.created_at|date:"F j, Y"}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Verification Code" %}</span><span class="value">{{service.verification_code}}</span>
                </div>
                <div class="entry">
                  <span class="key">{% trans "Description" %}</span><span class="value">{{service.description}}</span>
                </div>               
            </div>
        </div>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}