{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}

{% if perms.payments.view_transfer %}

<div class="container">
    <div class="mat-table-wrapper">
        <table id="service-list" class="mat-table js-filter-table">
          <thead>
                  <tr>
                          <!--<th><input id="filter-select-all" type="checkbox" name="allselected"></th>-->
                          <th scope="col">{% trans "Sender" %}</th>
                          <th scope="col">{% trans "Recipient" %}</th>
                          <th scope="col">{% trans "Amount" %}</th>
                          <th scope="col">{% trans "Date" %}</th>
                          <th scope="col">{% trans "Details" %}</th>
                  </tr>
          </thead>
          <tbody>
                  {% for xfer in transfers  %}
                  <tr>
                    <!--<td class="checkbox"><input type="checkbox" name="selected-service"></td>-->
                    <td scope="row" data-label="Sender">{{xfer.sender.username}}</td>
                    <td data-label="Recipient">{{xfer.recipient.username}}</td>
                    <td data-label="Amount">{{xfer.amount|floatformat:'-2'}} {% trans CURRENCY %}</td>
                    <td data-label="Date">{{xfer.created_at|date:"F ,j Y, H:i:s"}}</td>
                    <td data-label="Details"><a class="mat-button mat-button-default" href="{{xfer.get_dashboard_url}}">{% trans "More" %}</a></td>
                  </tr>
                  {% endfor %}
                  
          </tbody>
          <tfoot>
                  
          </tfoot>

    </table>
    {% include "tags/pagination.html" with page_set=transfers %}
    </div><!--End of Table Wrapper-->
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}