{% extends "dashboard_base.html"%}
{% load i18n %}

{%block MAIN %}

                
<div class="container">
        <nav class="nav">
                <ul class="actions" role="navigation">
                        <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'dashboard:users' %}"> {% trans "Users" %} </a></li>
                        <li class="list-item"><a class="mat-button mat-button-text" href="{% url 'dashboard:home' %}"> {% trans "Dashboard" %} </a></li>
                </ul>
        </nav>
        <div class="box">
                <div class="title">
                        <span class="success">{% trans "User" %}</span>
                </div>
                <div class="box-content">
                        <div class="entry">
                                <span class="key">{% trans "Username" %}</span> <span class="value">{{user_instance.username}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Lastname" %}</span> <span class="value">{{user_instance.last_name}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Firstname" %}</span> <span class="value">{{user_instance.first_name}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "E-Mail" %}</span> <span class="value">{{user_instance.email}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Date joined" %}</span> <span class="value">{{user_instance.date_joined|date:"F j, Y"}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Last login" %}</span> <span class="value">{{user_instance.last_login|date:"F j, Y"}}</span>
                        </div>
                </div>
                
        </div>
        {% if user.account %}
        <div class="box">
                <div class="title">
                     <span class="success">{% trans "Account Information" %}</span>
                </div>
                <div class="box-content">
                        <div class="entry">
                                <span class="key">{% trans "Country" %}</span> <span class="value">{{user_instance.account.country}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "City" %}</span> <span class="value">{{user_instance.account.city}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Telefon" %}</span> <span class="value">{{user_instance.account.telefon}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Account Type" %}</span> <span class="value">{{user_instance.account.account_type}}</span>
                        </div>
                        <div class="entry">
                                <span class="key">{% trans "Balance" %}</span> <span class="value">{{user_instance.account.balance}} {% trans "XAF" %}</span>
                        </div>
                        
                </div>
        </div>
        {% endif %}
</div>
                
{% endblock MAIN %}


