{% extends "base.html"%}
{% load static %}
{% load i18n %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}

{% block HEADER_BANNER %}
{% block  HEADER_BANNER_TITLE %}
      <h4> {% trans "Voucher" %}</h4>
{% endblock HEADER_BANNER_TITLE %}

<div class="container">
      <ul class="banner--actions actions">
            <li class="mat-list-item"><a class="mat-button mat-button-default" href="{% url 'home'%}">{% trans SITE_NAME %}</a></li>
            <li class="mat-list-item"> 
                  <a class="mat-button mat-button-default" href="{%url 'voucher:voucher-home'%}">
                  {% trans "Generated Voucher List" %}
                  </a> 
            </li>
             <li class="mat-list-item"> 
                  <a class="mat-button mat-button-default" href="{%url 'voucher:recharges'%}">
                  {% trans "Recharges History" %} 
                  </a> 
            </li>
            <li class="mat-list-item"> 
                  <a class="mat-button mat-button-default" href="{%url 'voucher:recharge'%}">
                  {% trans "Recharge Customer Account" %} 
                  </a> 
            </li>
            <li class="mat-list-item"> 
                  <a class="mat-button mat-button-default" href="{%url 'voucher:used-vouchers'%}"> 
                  {% trans "Used Voucher List" %} 
                  </a> 
            </li>
            <li class="mat-list-item"> 
                  <a class="mat-button mat-button-default" href="{%url 'vocuher:sold-vouchers'%}">
                  {% trans "Sold Voucher List" %} 
                  </a> 
            </li>

            <li class="mat-list-item"> 
                  <a class="mat-button mat-button-default" href="{%url 'voucher:voucher-generate'%}">
                  {% trans "Generate new Voucher cards" %} 
                  </a> 
            </li>
      </ul>

</div>

{% endblock HEADER_BANNER %}

{% block MAIN %}
<div class="container">
      {% block MAIN_CONTENT %}
      
      {% endblock MAIN_CONTENT %}
</div>
      
{% endblock MAIN %}

{% block SCRIPT %}
{% endblock SCRIPT %}
