{% extends "flat_minimal_base.html" %}
{% load i18n %} 
{% block MAINCONTENT %}
    <div  class="flat-card">
        <section class="flat-row flex-center">
            <div class="header">
                {% trans "Access interdit :  500 ! Oups !" %}
            </div>
            <div class="flat-main-content">
                    <p> {% trans "Vous n'avez pas le droit d'accéder à cette page." %}</p>
                    <p><a  href="#"> {% trans "Retour à l'Acceuille" %} </a> </p>
            </div>
        </section>
    </div> 
  {% endblock MAINCONTENT %}