
{% extends "flat_minimal_base.html" %}
{% load i18n %} 
{% block MAINCONTENT %}
    <div  class="flat-card">
        <section class="flat-row flex-center">
            <div class="header">
                {% trans "Mauvaise Requête :  404 ! Oups !" %}
            </div>
            <div class="flat-main-content">
                    <p> {% trans "La page demandée n'existe pas ..." %}</p>
                    <p><a  href="#"> {% trans "Retour à l'Acceuille " %}</a> </p>
            </div>
        </section>
    </div> 
  {% endblock MAINCONTENT %}