{% extends "flat_minimal_base.html" %}
{% load i18n %} 

{% block MAINCONTENT %}
    <div id="about-page" class="row">
        <div class="card">
            <div class="header">
                    <span class="">
                            <strong> À propos de {{site_name}}</strong>
                    </span>
            </div>
            <div class="content">
                    <div class="flat-col-sm-12">
                        <div class="flat-row flex-center">
                                <div class="description">
                                        <p class="flat-col-xs-12 flat-col-md-4">
                                                
                                        </p>
                                        <p class="flat-col-xs-12 flat-col-md-4">
                                               
                                        </p>
                                        <p class="flat-col-xs-12 flat-col-md-4">
                                                
                                        </p>
        
                                </div>
                        </div>
                    </div>
            </div>
             

        </div>

    </div>
{% endblock MAINCONTENT %}