<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">

{% load i18n %} 
<head>
        <meta charset="utf-8">
        {% block META_REDIRECT %}
        
        {% endblock META_REDIRECT %}
        <title>
                {% block title %} {{page_title}} {% endblock %}
        </title>
        {% comment "" %}
        
        
        <meta name="keywords" content="{{meta_keywords}}" />
        <meta name="description" content="{{meta_description}}" />
        {% endcomment %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <!-- Add icon library -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" media="all" />

        {% block external %} {% endblock external %}
</head>

<body>
        <header class="header">
                {% block HEADER_PANEL %}
                <div class="header--panel row">
                        DEFAULT HEADER PANEL
                </div>
                {% endblock HEADER_PANEL %}
                {% block GRID %}
                <button class="js-grid-enable baseline-grid-btn">Enable Grid</button>
                {% endblock GRID %}
                
        </header>
        <div class="page">
                
                <div class="page--banner">
                        {% block HEADER_BANNER %}
                        DEFAULT HEADER BANNER
                        {% endblock HEADER_BANNER %}
                </div>
                

                 {% block SIGNUP_DIALOG %}
                
                {% endblock SIGNUP_DIALOG %}

                <main class="container">
                {% block MAIN %}
                
                {% endblock MAIN %}
                </main>

                <footer class="footer column row">
                {% block FOOTER %}
                <div class="copyright row">
                        <div>Copyright <i class="fa fa-copyright"></i> 2019</div>
                        <div>{{site_name}} {%trans 'Online Payment' %} </div>
                </div>
                {% endblock FOOTER %}
                </footer>
        </div>

        {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> {% endcomment %}
         
        {% comment "" %}
        
         <script  src="{% static "js/lib/pubsub.js" %}"></script>
         {% endcomment %}
         <script  src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
        <script  type="application/javascript" src="{% static 'js/pay.js' %}"></script> 
</body>

</html>