{% extends "base_flat.html" %}
{% load i18n %} 

{% block HEADER_PANEL %}
<div class="header--panel row">
  <div class="col col-1">
    <div class="logo">
      PAY
    </div>
  </div>
  <div class="col col-11">
    <nav class="nav">
      <a href="#discover">{% trans 'Decouvrir nos services'%}</a>
      <a href="#pay">PAY</a>
      <a href="#customer">{% trans 'Pour les particuliers'%}</a>
      <a href="#enterprise">{% trans 'Pour les entreprises'%}</a>
      {% if request.user.is_authenticated %}
      <a class="link" href="{% url 'accounts:account' %}">{% trans 'Mon Compte' %}</a>
      <a class="signout-btn link signout" href="{% url 'accounts:logout' %}">{% trans 'Se deconnecter' %}</a>
      {% else %}
      <a class="dialog-btn" href="#" data-tab="1" data-target="#signup-dialog">{% trans 'Creer un compte' %}</a>
      <a class="dialog-btn" href="#" data-tab="0" data-target="#signup-dialog">{% trans 'Se connecter' %}</a>
      

      {% endif %}
      <div class="languages">
      {{LANGUAGE_CODE}}
      {% for lang in LANGUAGES %}
        {% if lang.0 == LANGUAGE_CODE %}
        <span class="lang active" caption="{{lang.1}}"> {{lang.0}} </span>
         {% else %}
         <span class="lang" caption="{{lang.1}}"> {{lang.0}} </span>
        {% endif %}
      {% endfor %}
      </div>
    </nav>
  </div>
</div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
<div class="header--banner">
  <div>
      <h1> {%trans 'Bienvenue chez PAY'%} </h1>
      <h3>{% trans 'Votre solution de payment' %}</h3>
      <p>
      {% blocktrans %}Ne perdez plus votre temps à faire la queue pour payer votre facture.
Plus besoin de vous deplacer. Payez vos factures depuis votre fauteuil.
         {% endblocktrans %}
      </p>
      <button class="button"> {% trans 'Découvrir PAY' %} </button>
  </div>
  
</div>
{% endblock HEADER_BANNER %}

{% block SIGNUP_DIALOG %}
{% if not request.user.is_authenticated %}
<div id="signup-dialog" class="modal signup-dialog dialog">
  <div class="tabs dialog-content box-shadow">
    <div class="tab--title">
      <div class="full welcome-text center">
        <h4> {%trans 'Accedez à PAY'%} </h4>
      </div>
    </div>
    <div class="tab-bar">
      <div class="row">
        <span class="tab active" data-toggle="#login" data-index="0"> 
          {%trans "J'ai déjà un compte PAY"%}
         </span>
        <span class="tab" data-toggle="#register" data-index="1"> 
          {% trans 'Je veux creer un compte PAY'%}
         </span>

      </div>
    </div>
    <!--End of Tab-bar -->
    <div class="tab-container container">
      <div id="login" class="tab-content grid">
        <form id="login-form" class="login-form" action="{% url 'accounts:login' %}" method="post"> {% csrf_token %}
          <div id="error-login" class="error-login left">
            <p></p>
          </div>
          <div class="form-group">

            <input type="text" name="username" placeholder="Nom d'utilisateur">
            <input type="password" name="password" placeholder="Mot de passe">
          </div>
          <div class="form-group">
            <button id="login-submit" class="button"  name="submit" type="submit">{% trans "Se connecter" %}</button>
            <span class="button close" data-target="#signup-dialog">{% trans "Annuler" %}</span>
          </div>

        </form>
      </div>
      <!--End of Tab-content-->
      <div id="register" class="tab-content grid">
        <form id="signup-form" class="login-form" action="{% url 'accounts:register' %}" method="post"
          autocomplete="off"> {% csrf_token %}
          <input autocomplete="off" name="hidden" type="text" style="display:none;">
          <div class="form-group">
            <input autocomplete="off" name="hidden" type="text" style="display:none;">
            <input type="text" name="username" placeholder="{% trans 'Nom d&#39;utilisateur' %}" value="">
            <input type="text" name="firstname" placeholder="{% trans 'Prénom' %}" value="">
            <input type="text" name="lastname" placeholder=" {% trans 'Nom de famille' %}" value="">
            <input type="password" name="password1" placeholder=" {% trans 'Votre mot de passe' %}" value="">
            <input type="password" name="password1" placeholder=" {% trans 'Ressaisissez votre mot de passe' %}" value="">
            <input type="email" name="email" placeholder=" {% trans 'Adresse E-Mail' %}" value="">
            <input type="text" name="telefon" placeholder=" {% trans 'Numéro de téléphone' %}" value="">
          </div>
          <div class="form-group">
            <button id="signup-submit" class="button" name="submit" type="submit"> {% trans 'Créer mon compte PAY' %}</button>
            <span class="button close" data-target="#signup-dialog"> {% trans 'Annuler' %} </span>
          </div>
        </form>
      </div>
      <!--End of Tab-content-->

    </div>
    <!--End of Tab-container-->
  </div>
  <!--End of tabs-->
</div>
<!--End of signup dialog-->
{% endif %}
{% endblock SIGNUP_DIALOG %}


{% block MAIN %}
<div class="row">
  <div class="full welcome-text center">
    <h3> {%trans "PAY - Une solution de paiement idéale pour tout le monde"%} </h3>
    <p>
      {% blocktrans %}Fini les problèmes de pétite monaies, où que vous soyez payez en un simple clique{% endblocktrans %}
    </p>
  </div>
</div>
<div class="grid">
  <div class="flex responsive column">
    <div id="discover" class="mat-card">
      <div class="card__image adapt-color">
        <img class="contain" src="images/businessman.svg" alt="">
      </div>

      <div class="mat-card__body">
        <div class="title center">
          {% trans "Découvrir PAY" %}
        </div>
        <div class="secondary--text">
          <p class="center">
            {%trans "Chargez votre compte PAY et profitez du payement simplifié." %}
          </p>
        </div>
      </div>


      <div class="mat-card__footer">
        <div class="card__actions">
          <button class="button">
            {% trans "En savoir plus" %}
          </button>
        </div>
      </div>
    </div>
    <!--End of card-->
  </div>

  <div class="flex responsive column">
    <div id="customer" class="mat-card">
      <div class="card__image">
        <object class="contain" data="images/customer.svg" type="image/svg+xml"></object>
        <!-- <img class="contain" src="images/customer.svg" alt=""> -->
      </div>

      <div class="mat-card__body">
        <div class="title center">
          {% trans "Pour les particuliers" %}
        </div>
        <div class="secondary--text">
          <p class="center">
            {%trans "En tant qu'utilisateur, rechargez juste votre compte auprès d'un de nos bureaux."%}
          </p>
        </div>
      </div>


      <div class="mat-card__footer">
        <div class="card__actions">
          <button class="button">
            {% trans "En savoir plus" %}
          </button>
        </div>
      </div>
    </div>
    <!--End of card-->
  </div>
  <div class="flex responsive column">
    <div id="enterprise" class="mat-card">
      <div class="card__image adapt-color">
        <img class="contain" src="images/businessman.svg" alt="">
      </div>

      <div class="mat-card__body">
        <div class="title center">
          {%trans "Pour les entreprises 2"%}
        </div>
        <div class="secondary--text">
          <p class="center">
            {%trans "En tant qu'entreprise recevez vos payements à tout moment"%}
          </p>
        </div>
      </div>


      <div class="mat-card__footer">
        <div class="card__actions">
          <button class="button">
            {% trans "En savoir plus" %}
          </button>
        </div>
      </div>
    </div>
    <!--End of card-->

  </div>
</div>
<div class="row">
  <div class="tabs">
    <div class="tabs--title">
      <div class="full welcome-text center">
        <h3> {%trans "PAY - Utilisation"%} </h3>
      </div>
    </div>
    <div class="tab-bar">
      <div class="row">
        <span class="tab active" data-toggle="#customer-usage" data-index="0">{% trans "Pour les particuliers" %}</span>
        <span class="tab" data-toggle="#enterprise-usage" data-index="1">{% trans "Pour les entreprises" %}</span>
      </div>

    </div>
    <!--End of Tab-bar-->

    <div class="tab-container container">
      <div id="customer-usage" class="tab-content grid">
        <div class="usage-step responsive column">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="row">
            <div class="circle">1</div>
            <div class="usage-description">
              <p> <a href="#"> {%trans "Creer gratuitement votre compte PAY"%} </a> 
               {%trans "avec votre adresse E-mail et un mot de passe"%}
              </p>
            </div>
          </div>

        </div>
        <div class="usage-step responsive column">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="row">
            <div class="circle">2</div>
            <div class="usage-description">
              <p> {%trans "Chargez votre compte PAY auprès d'un de nos bureaux"%} </p>
            </div>
          </div>

        </div>
        <div class="usage-step responsive column">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="row">
            <div class="circle">3</div>
            <div class="usage-description">
              <p> {%trans "Effectuez vos achats ou payez vos factures avec votre compte PAY"%} </p>
            </div>
          </div>

        </div>

      </div>
      <div id="enterprise-usage" class="tab-content grid">

        <div class="usage-step responsive column">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="row">
            <div class="circle">1</div>
            <div class="usage-description">
              <p> {%trans "Ouvrez gratuitement votre compte Business PAY"} </p>
            </div>
          </div>

        </div>
        <div class="usage-step responsive column">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="row">
            <div class="circle">2</div>
            <div class="usage-description">
              <p> {%trans "Choisissez l'option PAY qui vous convient"%} </p>
            </div>
          </div>

        </div>
        <div class="usage-step responsive column">
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="row">
            <div class="circle">3</div>
            <div class="usage-description">
              {%trans 'Generez un lien pour recevoir vos paiements'%}
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <span class="button">{% trans "En savoir plus" %}</span>
      </div>
    </div>
  </div> <!--End of tabs-->

</div>
<div class="advantages grid">
  <div class="responsive column">
    <div class="advantage">
      <h3 class="left">{% trans "Plus de securité" %}</h3>
      <p class="leftr">
      {% blocktrans %}Vos paiements sont securisés.
Si un vendeur ne vous livre pas votre commande payée à
travers PAY, PAY vous renboursera le payera.{% endblocktrans %}
      </p>
      <a class="link" href="#">{% trans "Protection du client" %}</a>
    </div>
    <!--End of advantage-->
  </div>
  <!--End of column-->
  <div class="responsive column">
    <div class="advantage">
      <h3 class="left">{% trans "Plus de securité" %}</h3>
      <p class="left">
      {% blocktrans %}Vos paiements sont securisés.
Si un vendeur ne vous livre pas votre commande payée à
travers PAY, PAY vous renboursera le payera.{% endblocktrans %}
      </p>
      <a class="link" href="#">{% trans "Protection du client" %}</a>
    </div>
    <!--End of advantage-->
  </div>
  <!--End of column-->
  <div class="responsive column">
    <div class="advantage">
      <h3 class="left">{% trans "Plus de securité" %}</h3>
      <p class="left">
      {% blocktrans %}Vos paiements sont securisés.
Si un vendeur ne vous livre pas votre commande payée à
travers PAY, PAY vous renboursera le payera.{% endblocktrans %}
      </p>
      <a class="link" href="#">{% trans "Protection du client" %}</a>
    </div>
    <!--End of advantage-->
  </div>
  <!--End of column-->
  <div class="responsive column">
    <div class="advantage">
      <h3 class="left">{% trans "Plus de securité" %}</h3>
      <p class="left">
      {% blocktrans %}Vos paiements sont securisés.
Si un vendeur ne vous livre pas votre commande payée à
travers PAY, PAY vous renboursera le payera.{% endblocktrans %}
      </p>
      <a class="link" href="#">{% trans "Protection du client" %}</a>
    </div>
    <!--End of advantage-->
  </div>
  <!--End of column-->
</div>
{% endblock MAIN %}