{% extends "base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">

        {% block  HEADER_BANNER_TITLE %}
            <div class="full welcome-text center">
                <h4> {% trans "Welcome" %} {{name}}</h4>
            </div>
        {% endblock HEADER_BANNER_TITLE %}
        <div class="mat-box full">
            <div class="mat-box-title">
                {% if balance %}
                <div class="balance-info">
                    <div class="row flex-left"><h4>{% trans "Balance" %}</h4></div>
                    <div class="row flex-left balance"><span class="money">{{balance.balance|floatformat:"-2"}}</span><span class="currency">{% trans CURRENCY %}</span></div>
                </div><!--End of Banner-Content-->
                {% endif %}
                
            </div>
        </div>
        <ul class="actions">
                <li class="list-item"><a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Account Details" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:new-transfer' %}"> {% trans "Send money" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:new-payment' %}"> {% trans "Make Payment" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:recharge' %}"> {% trans "Recharge my account" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:transaction-archive' %}"> {% trans "Activities" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:transactions' %}"> {% trans "Transactions" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:available-services' %}"> {% trans "Available Services" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:service-categories' %}"> {% trans "Categories" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:transaction-verification' %}"> {% trans "Transaction Verification" %}</a></li>   
        </ul><!--End of actions-->
        {% block SUB_BANNER %}
        {% endblock SUB_BANNER %}
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}


{% endblock MAIN %}