{% extends "base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">

        {% block  HEADER_BANNER_TITLE %}
           <div class="flex flex-left"><h4 class="full"> {% trans "Welcome" %} {{name}}</h4> <a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"><span><i class="fas fa-cog icon"></i></span></a></div>
        {% endblock HEADER_BANNER_TITLE %}
        {% if balance %}
        <div class="full padding-v">
            <div class="balance-info">
                <div class="row flex-left balance big"><span class="money">{{balance.balance|floatformat:"-2"}}</span><span class="currency">{% trans CURRENCY %}</span></div>
                <div class="row flex-left"><span class="small text-gray">{% trans "Current balance" %}</span></div>
            </div><!--End of Banner-Content-->
        </div>
        {% endif %}
        <ul class="primary-actions grid padding">
            <li><a class="mat-button mat-button-text" href="{%url 'payments:new-transfer' %}"><i class="fas fa-paper-plane icon"></i><span>{% trans "Send money" %}</span></a></li>
            <li><a class="mat-button mat-button-text" href="{%url 'payments:new-payment' %}"><i class="fas fa-money-check-alt icon"></i><span>{% trans "Make Payment" %}</span></a></li>
            <li><a class="mat-button mat-button-text" href="{%url 'payments:recharge' %}"><i class="fas fa-plus icon"></i><span>{% trans "Recharge" %}</span></a></li>
            <li><a class="mat-button mat-button-text" href="{%url 'payments:statistics' %}"><i class="fas fa-chart-bar icon"></i><span>{% trans "Statistics" %}</span></a></li>
        </ul>
        
        
        {% block SUB_BANNER %}
        {% endblock SUB_BANNER %}
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}


{% endblock MAIN %}