{% extends "base.html"%}
{% load i18n %}
{% block HEADER_BANNER %}
    <div class="banner banner-align-left">

        {% block  HEADER_BANNER_TITLE %}
           <h4 class="full"> {% trans "Welcome" %} {{name}}</h4>
        {% endblock HEADER_BANNER_TITLE %}
        {% if balance %}
        <div class="full">
            <div class="balance-info">
                <div class="row flex-left"><h4>{% trans "Balance" %}</h4></div>
                <div class="row flex-left balance"><span class="money">{{balance.balance|floatformat:"-2"}}</span><span class="currency">{% trans CURRENCY %}</span></div>
            </div><!--End of Banner-Content-->
        </div>
        {% endif %}
        <ul class="primary-actions grid padding">
            <li><a class="mat-button mat-button-text" href="{%url 'payments:new-transfer' %}"><i class="fas fa-paper-plane padding"></i><span>{% trans "Send money" %}</span></a></li>
            <li><a class="mat-button mat-button-text" href="{%url 'payments:new-payment' %}"><i class="fas fa-money-check-alt padding"></i><span>{% trans "Make Payment" %}</span></a></li>
            <li><a class="mat-button mat-button-text" href="{%url 'payments:recharge' %}"><i class="fas fa-money-bill padding"></i><span>{% trans "Recharge" %}</span></a></li>
        </ul>
        <div class="collapsible">
            <span class="open">{% trans "More" %} <i class="fas fa-ellipsis-h icon"></i></span>
            <ul class="collapse-content">
                <li><a class="mat-button mat-button-text" href="{{account.get_absolute_url}}"> {% trans "Account Details" %}</a></li>
                <li><a class="mat-button mat-button-text" href="{%url 'payments:activities' %}"> {% trans "Activities" %}</a></li>
                <li><a class="mat-button mat-button-text" href="{%url 'payments:transaction-archive' %}"> {% trans "Archive" %}</a></li>
                <li><a class="mat-button mat-button-text" href="{%url 'payments:transactions' %}"> {% trans "Transactions" %}</a></li>
                <li><a class="mat-button mat-button-text" href="{%url 'payments:available-services' %}"> {% trans "Available Services" %}</a></li>
                <li><a class="mat-button mat-button-text" href="{%url 'payments:service-categories' %}"> {% trans "Categories" %}</a></li>
                <li><a class="mat-button mat-button-text" href="{%url 'payments:transaction-verification' %}"> {% trans "Transaction Verification" %}</a></li>   
        </ul><!--End of actions-->
        </div>
        
        {% block SUB_BANNER %}
        {% endblock SUB_BANNER %}
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}


{% endblock MAIN %}