{% load i18n %} 

<div class="responsive">

    <div class="form-group">
            <input id="recipient_name" type="text" name="recipient_name" placeholder="{% trans 'Enter the customer name' %}">
    </div>
    <form id="payment-form" class="payment-form form" name="payment" action="{% url 'accounts:new_payment' %}" method="POST">{% csrf_token %}
        <input type="hidden" name="sender" value="{{request.user.pk}}">
        <input type="hidden" name="transaction_type" value="P">
        <div class="form-group">
            <input type="hidden" name="recipient" id="recipient">
            <input type="number" name="amount" placeholder="{% trans 'Enter the amount to be paid' %}">
            <input type="text" name="details" placeholder="{% trans 'Payment description' %}">
        </div>
        <div class="form-group row">
            <button class="button" type="submit">{% trans "PAY" %}</button>
            <a class="button link" href="{%url 'accounts:account'%}">{% trans "Cancel" %}</a>
        </div>
    </form>

</div>