{% load i18n %} 

<div class="responsive">

    <form id="voucher-recharge-form" class="voucher-recharge-form form" name="voucher-recharge" action="{% url 'accounts:recharge' %}" method="POST">{% csrf_token %}
        <div class="form-group">
            <label for="voucher">{% trans "Voucher Code" %} : </label>
            <input id="voucher" type="text" name="voucher">
        </div>
        
        <div class="form-group row">
            <a class="mat-button mat-button-outlined" href="{%url 'accounts:account'%}">{% trans "Cancel" %}</a>
            <button class="mat-button mat-button-default" type="submit">{% trans "Recharge my Account" %}</button>
        </div>
    </form>

</div>