{% load i18n %} 

<div class="responsive">
    <div class="form-group">
            
    </div>
    <form id="reduction-form" class="reduction-form form" name="reduction" action="{% url 'accounts:reductions' %}" method="POST">{% csrf_token %}
        <input type="hidden" name="account" value="{{request.user.pk}}">
        <div class="form-group">
            <input type="text" name="code" id="code">
            <input type="number" name="percent" placeholder="{% trans 'Enter the percent to apply' %}">
        </div>
        <div class="form-group row">
            <button class="button" type="submit">{% trans "Create reduction" %}</button>
            <a class="button link" href="{%url 'accounts:account'%}">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>