{% load i18n %} 

<div class="responsive">

    <form name="transaction" action="{% url 'accounts:new_service'  service.pk %}" method="POST">{% csrf_token %}
        <div class="form-group">
            
        </div>
        <div class="form-group">
            <input type="text" name="name" value="{{service.name}}">
            <input type="text" name="operator_name" value="{{service.operator}}">
            <input type="hidden" name="operator" value="{{service.operator.pk}}">
            <input type="hidden" name="service_instance" value="{{service.pk}}">
            <input type="text" name="category_name" value="{{service.category.category_name}}">
            <input type="hidden" name="category" value="{{service.category.pk}}">
            <input type="hidden" name="customer" value="{{request.user.pk}}">
            
            <input type="number" name="reference_number" placeholder="{% trans 'You bill Reference number if applicable' %}">
            <input type="text" name="customer_reference" placeholder="{% trans 'your customer number as known by the operator' %}">
            <input type="number" name="price" placeholder="{% trans 'Enter the price of the service' %}">
            <input type="date" name="issued_at" placeholder="{% trans 'Enter the date when the bill was delivered, if applicable' %}">
            <input type="text" name="description" placeholder="{% trans 'Service description' %}">
        </div>
        <div class="form-group row">
            <button class="mat-button mat-button-default" type="submit">{% trans "Apply" %}</button>
            <a class="mat-button mat-button-outlined" href="{%url 'accounts:account'%}">{% trans "Cancel" %}</a>
        </div>
    </form>

</div>