{% load i18n %} 
<div id="transaction-dialog" class="modal transaction-dialog  dialog">
    <div id="transaction" class="transaction dialog-content">
        <form id="transaction-form" class="transaction-form" name="transaction" action="{% url 'accounts:transactions' %}" method="POST">{% csrf_token %}
            <div id="error-login" class="error-login left">
                <p></p>
              </div>
              <div class="form-group flex-column">
                
                <input type="text" name="recipient" placeholder="{% trans 'Nom du destinataire' %}">
                <input type="text" name="amount" placeholder="{% trans 'Montant' %}">
                <input type="text" name="details" placeholder="{% trans 'Description du transfert' %}">
              </div>
              <div class="form-group row">
                <button class="button" type="submit">{% trans "Transferer" %}</button>
                <span class="button close" data-target="#transaction-dialog">{% trans "Annuler" %}</span>
              </div>
        </form>
    </div>
</div>
