{% extends "base_flat.html"%}
{% load i18n %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        <div class="full welcome-text center">
                <h4> {% trans "Welcome" %} {{name}}</h4>
        </div>
        <div class="container">

            <div class="col col-9">
                {% if account %}
                <div class="banner--content flex-column">
                    <div class="row row-left"><span class="item"><h4>{% trans "Balance" %}</h4></span></div>
                    <div class="row row-left subtitle"><span class="item">{{account.balance}} </span><span class="big strong">{% trans "XAF" %}</span></div>
                    
                </div><!--End of Banner-Content-->
                {% endif %}
                <div class="banner--actions">
                        <a class="mat-button mat-button-text" href="{%url 'payments:recharge' %}"> {% trans "Recharge my Balance" %}</a> 
                        <a class="mat-button mat-button-text" href="{%url 'payments:new-transfer' %}"> {% trans "Send Money" %}</a>
                        <a class="mat-button mat-button-text" href="{%url 'payments:new-transfer' %}"> {% trans "Send Money" %}</a>
                </div><!--End of Banner-Actions-->
            </div><!--End of Responsive-->
        
        </div><!--End of Container-->
        
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}

{% endblock MAIN %}