{% extends "base.html"%}
{% load static %}
{% load i18n %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}

{% block HEADER_BANNER %}
    <div class="banner banner-align-left">
        {% block HEADER_BANNER_TITLE %}
        {% endblock HEADER_BANNER_TITLE %}
        <div class="mat-box full">
            <div class="mat-box-title">
                {% if balance %}
                <div class="balance-info">
                    <div class="row flex-left"><h4>{% trans "Balance" %}</h4></div>
                    <div class="row flex-left balance" data-balance="{{balance.balance|floatformat:'-2'}}"><span class="money">{{balance.balance|floatformat:"-2"}}</span><span class="currency">{% trans CURRENCY %}</span></div>
                </div><!--End of Banner-Content-->
                {% endif %}
                
            </div>
        </div>
        
        <ul class="actions">
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:new-transfer' %}"> {% trans "Send money" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:new-payment' %}"> {% trans "Make Payment" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:recharge' %}"> {% trans "Recharge my account" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:activities' %}"> {% trans "Account Activities" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:transaction-archive' %}"> {% trans "Archive" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:transactions' %}"> {% trans "Transactions" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:available-services' %}"> {% trans "Available Services" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:service-categories' %}"> {% trans "Categories" %}</a></li>
                <li class="list-item"><a class="mat-button mat-button-text" href="{%url 'payments:transaction-verification' %}"> {% trans "Transaction Verification" %}</a></li>   
        </ul><!--End of actions-->
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}

{% endblock MAIN %}
