{% extends "base_flat.html" %}
{% load i18n %} 


{% block HEADER_PANEL %}
    <div class="header--panel row">
        <span>CONNEXION  PAY</span>
    </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <p>Connectez-vous dans votre compte</p>
    </div>
{% endblock HEADER_BANNER %}


{% block MAIN %}
<div class="col col-12">

    <div class="tab-bar">
        <div class="tab col col-6 bordered" data-toggle="#user-login" data-index="0">
            <span> Se connecter</span>
        </div>
        <div class="tab col col-6 bordered" data-toggle="#user-signup" data-index="1">
                <span> Créer un compte PAY </span>
        </div>
    </div>

    <div id="account-dialog" class="container tab-container">
        <section id="user-login" class="user-login tab-content">
            <form id="login-form" class="login-form" action="{% url 'accounts:login' %}" method="post"> {% csrf_token %}
                <div id="error-login" class="error-login left">
                  <p></p>
                </div>
                <div class="form-group">
                  <input type="text" name="username" placeholder="Nom d'utilisateur">
                  <input type="password" name="password" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <p> <a href="{% url 'accounts:password_reset' %}">{% trans "J'ai oublié mon mot de passe." %}</a></p>
                </div>
                <div class="form-group">
                  <button id="login-submit" class="button"  name="submit" type="submit">{% trans "Se connecter" %}</button>
                  <span class="button close" data-target="#signup-dialog">{% trans "Annuler" %}</span>
                </div>
              </form>
        </section> <!-- End of Section Login-->
        <section id="signup" class="tab-content">
            <div class="container">
               
            </div>
        </section><!-- End of Section signup -->
    </div><!--End of account-dialog -->
</div>
{% endblock MAIN %}
