{% extends "flat_minimal_base.html" %}
{% load i18n %}

{% block HEADER_PANEL %}
    <div class="header--panel row">
        <span>{% trans 'Mot de passe modifié' %}</span>
    </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
    <div class="header--banner">
        <p>{% trans "Confirmation de changement du mot de passe" %}</p>
        <a href="{% url 'home' %}">{% trans "Page d'accueille" %}</a>
    </div>
{% endblock HEADER_BANNER %}
{% block MAIN %}


        <p>{% trans "Votre mot de passe a été modifié. Vous maintenant vous connecter dans votre compte" %}</p>

        <p><a href="{%url 'accounts:login' %}">{% trans 'Me connecter' %}</a></p>

        {% endblock %}
{% endblock MAIN %}