
{% extends "base_flat.html" %}
{% load i18n %} 
{% block HEADER_PANEL %}
  <div class="header--panel row">
       <div class="col col-1">
              <div class="logo">
                <a class="link" href="{%url 'home'%}"> PAY </a>
              </div>
        </div>
  </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}

{% endblock HEADER_BANNER %}

{% block MAIN %}

<div class="grid">
  <div class="title">
    {%trans 'Creation de compte PAY'%}
  </div>

  <div class="container">
      <form class="signup-form flex-column" action="{% url 'accounts:register'%}" method="POST">{% csrf_token %}
        {{user_form.as_p}}
        {{account_form.as_p}}
        <button type="submit">{%trans 'Creer mon compte'%} </button>
      </form>
  </div>
</div>
{% endblock MAIN %}