/** Common Report CSS **/

*{
    font-size: 10px;
}

.date{
    position: absolute;
    top: 50px;
    right: 250px;
}

#report-table{

    padding-top : 4px;
    padding-right : 4px;
    padding-bottom : 4px;
    padding-left : 4px;
    text-align: left;
    border : 1px solid #a0a0a0;
}

#report-table tr{
    text-align: left;
    border-top: none;
    border-left: none;
    border-right: none;
}



#report-table thead{
    background-color: #ccc;
}
#report-table thead tr{
    /*border : 1px solid #a0a0a0;*/
}


#report-table td, #report-table th{
    text-align: left;
    /*border-bottom: 1px solid #ccc;*/
}

#report-table tbody{
    font-size: 9px;
}

#report-table tbody tr{
    text-align: left;
    font-size: 10px;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
}

#report-table tfoot{
    font-size: 11px;
    margin-top: 6px;
}

.bold{
    font-weight: bold;
}

#footer_content{
    text-align: center;
}

.pos{
    width: 80px;
}

#report-summary{
    text-align: right;
    margin-top: 6px;
}
