{% extends "base_flat.html"%}
{% load i18n %} 
{% block META_REDIRECT %}
        
{% endblock META_REDIRECT %}
{% block HEADER_PANEL %}
  <div class="row">
       <div class="col col-1">
              <div class="logo">
                <a href="{% url 'dashboard:home' %}">{{site_name}}</a>
              </div>
        </div>
        <div class="col col-11">
              <nav class="nav-container">
                  <ul class="nav row">
                        <li><a href="{% url 'dashboard:home' %}">{{site_name}}</a></li>
                        <li><a class="signout-btn link signout" href="{% url 'accounts:logout' %}" >{% trans "Logout" %}</a></li> 
                        {% for lang in LANGUAGES %}
                              {% if lang.0 == LANGUAGE_CODE %}
                              <li><span class="lang active" title="{{lang.1}}"> {{lang.0}} </span></li>
                              {% else %}
                              <li><span class="lang" title="{{lang.1}}"> {{lang.0}} </span></li>
                              {% endif %} 
                        {% endfor %}
                  </ul>
              </nav>
        </div>                 
  </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}
  <div class="row">
        <div class="col col-6">
          <div class="row">
                
                <div class="details-info">
                    <div></div>
                    <i class="dialog-btn fas fa-plus-circle fa-2x" data-target="#transaction-dialog"></i>
                </div>
          </div>
        </div> 
  </div>
{% endblock HEADER_BANNER %}

{% block MAIN %}

{% endblock MAIN %}