:root{
    --primary-color: #3C4457;
    --secondary-color: #1F2531;
    --third-color : #101520;
    --fourth-color : #8792AC;
    --light-color : #FAFAFA;
    --label-color : #56617B;
    --body-bg : #3C4457;
    --body-color: #8792AC;
}