:root{
    --primary-color: #0A0A0A;
    --secondary-color: #45A29E;
    --third-color : #FFFFFF;
    --fourth-color : #FFFFFF;
    --light-color : #FAFAFA;
    --label-color : #CCC;
    --body-bg : #FFFFFF;
    --body-color: #0A0A0A;
    --notification-bg : #fafafa;
    --notification-color : #0A0A0A;
    --header-bg-color : #0A0A0A;
    --header-color : #66FCF1;
    --banner-bg-color : #FAFAFA;
    --banner-color : #0A0A0A;
    --action-color : #45A29E;
    --sidebar-bg-color: #fafafa;
    --sidebar-color: #0A0A0A;
    --sidebar-active-color: #45A29E;
    --text-grey: #CCC;

    --button-bg-color: #45A29E;
    --button-color: #FAFAFA;
    --button-border-color : #45A29E;

    --button-text-bg-color: transparent;
    --button-text-color: #45A29E;
    --button-text-border-color : transparent;

    --button-hover-bg-color: #FAFAFA;
    --button-hover-color: #45A29E;
    --button-hover-border-color: #FAFAFA;

    --button-outlined-bg-color: #FAFAFA;
    --button-outlined-color: #45A29E;
    --button-outlined-border-color : #45A29E;

    --button-text-hover-bg-color: #FAFAFA;
    --button-text-hover-color: #0A0A0A;
    --button-text-hover-border-color: transparent;

    --button-outlined-hover-bg-color: #45A29E;
    --button-outlined-hover-color: #FAFAFA;
    --button-outlined-hover-border-color: #45A29E;

}