:root{
    --primary-color: #0A0A0A;
    --secondary-color: #FF0D00;
    --third-color : #FFFFFF;
    --fourth-color : #FFFFFF;
    --light-color : #FAFAFA;
    --label-color : #CCC;
    --body-bg : #FFFFFF;
    --body-color: #242424;
}