:root{
    --primary-color: #0A0A0A;
    --secondary-color: #FF0D00;
    --third-color : #FFFFFF;
    --fourth-color : #FFFFFF;
    --light-color : #FAFAFA;
    --label-color : #CCC;
    --body-bg : #FFFFFF;
    --body-color: #0A0A0A;
    --notification-bg : #fafafa;
    --notification-color : #0A0A0A;
    --header-bg-color : #1F2833;
    --header-color : #66FCF1;
    --banner-bg-color : #66FCF1;
    --banner-color : #1F2833;
    --action-color : #FF0D00;
    --sidebar-bg-color: #fafafa;
    --sidebar-color: #0A0A0A;
    --sidebar-active-color: #FF0D00;
    --text-grey: #CCC;
}