
body{
    background-color: var(--body-bg);
    color: var(--body-color);
}

.header{
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}

.header a, a{
    color: var(--fourth-color) !important;
    font-weight: 700;
}

.page--banner{
    background-color: var(--third-color);
    color: var(--fourth-color);
}

.footer{
    background-color: var(--primary-color);
    color: var(--fourth-color);
}
.mat-button-default{
    background-color: var(--primary-color);
    color: var(--third-color);
}

.mat-button{
    color: var(--third-color);
    font-weight: 700;
}

.mat-button-outlined{
    border: 1px solid var(--primary-color);
    color: var(--third-color);
}

.mat-button-outlined:hover{

    border: 2px solid var(--primary-color);;
}


.mat-table{
    background-color: var(--fourth-color);

}

.mat-table thead{
    background-color: var(--primary-color);
    color: var(--fourth-color);
    font-weight: 700;
}

.kiosk .active{
    border-bottom: 2px solid var(--secondary-color);
}

li.active{
	border-bottom: 2px solid var(--secondary-color);
}

li.active.selected{
	border-bottom: 3px solid var(--secondary-color);
}


.logo a, .logo .mat-button{
    letter-spacing: 0.5em;
    /*font-size: 1em;*/
}


.highlight{
    background-color: var(--light-color) !important;
    color: var(--primary-color) !important;;
}

.highlight .label{
	color: var(--primary-color) !important;
}

.docklet:hover{

    background-color: var(--light-color);
    color: var(--primary-color);
}

.docklet a{
    color: var(--primary-color);
}

.docklet:hover a{
    color: var(--secondary-color);
}

.balance-info{
    color: var(--fourth-color);
    font-weight: 700;
}

.balance{
    color: var(--primary-color);
    font-weight: 700;
}

.primary-color{
    color: var(--primary-color);
}

.secondary-color{
    color: var(--secondary-color);
}

.modal{
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    background-clip: padding-box;
    background-color: #fefefe;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-header{
    border-bottom: 1px solid #e9ecef;
}

.modal-footer{
    border-top: 1px solid #e9ecef;
}
.close-modal:hover, .close-modal:focus{
    color: black;
}

.cancel:hover{
    color: #aaa;
}

.action{
    border-bottom: var(--btn-border);
}

.chips{
    color: #232F34;
    background-color: #232F341E;
}

.chips-outlined{
    border: 1px solid #232F34;
}

/*
.filter-chips{

}
*/

.chips-enabled{
    color: #232F34;
    background-color: #232F343E;
}

.chips-disabled{
    color: #232F345A;
    background-color: #232F341A;
}

.chips-selected{
    color: #232F34;
    background-color: #232F345E;
}

.chips-activated{
    color: #232F34;
    background-color: #232F346E;
}

.chips:hover{
    color: #232F34;
    background-color: #232F342E;
}

.bordered{
    border: 1px solid #201c29;
}

.mat-list-item{
    border-bottom: 1px solid var(--primary-color);
}

.mat-list-item.active{
    color: var(--secondary-color);
}

.mat-tooltip{
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.in{
    background-color: var(--in-bg);
    color: var(--in-color);
}

.out{
    background-color: var(--out-bg);
    color: var(--out-color);
}

.entrant, .incoming{
    color: #00e676;
}
.outgoing{
    color: #d32f2f;
}


.mat-input label, .form-group label{
    color: var(--fourth-color);
}

.mat-input label input, .mat-input input, .form-group input{
    border-bottom: 2px solid var(--fourth-color) !important;
    color: var(--secondary-color);
}
.mat-input span, .form-group span{
    color: var(--fourth-color);
}

.disabled{
    color: var(--disabled-color) !important;
    background-color: var(--disabled-bg-color) !important;
}

.disabled:hover{
    background-color: var(--disabled-color) !important;
    color: var(--disabled-bg-color) !important;
}
