
body{
    background-color: var(--body-bg);
    color: var(--body-color);
}

.header{
    background-color: var(--secondary-color);
    color: var(--fourth-color);
}

.header a{
    color: var(--fourth-color) !important;
    font-weight: 700;
}

.page--banner{
    background-color: var(--third-color);
    color: var(--primary-color);
}

.footer{
    background-color: var(--primary-color);
    color: var(--fourth-color);
}
.mat-button-default{
    background-color: var(--primary-color);
    color: var(--third-color);
}

.mat-button{
    color: var(--third-color);
    font-weight: 700;
}

.mat-table{
    background-color: var(--fourth-color);

}

.mat-table thead{
    background-color: var(--primary-color);
    color: var(--fourth-color);
    font-weight: 700;
}

.kiosk .active{
    border-bottom: 2px solid var(--secondary-color);
}

li.active{
	border-bottom: 2px solid var(--secondary-color);
}

li.active.selected{
	border-bottom: 3px solid var(--secondary-color);
}

.logo{
    color: var(--secondary-color) !important;
}

.logo a, .logo .mat-button{
    color: var(--secondary-color) !important;
    letter-spacing: 0.5em;
    /*font-size: 1em;*/
}


.highlight{
    background-color: var(--light-color) !important;
    color: var(--primary-color) !important;;
}

.highlight .label{
	color: var(--primary-color) !important;
}

.docklet:hover{

    background-color: var(--light-color);
    color: var(--primary-color);
}

.docklet a{
    color: var(--primary-color);
}

.docklet:hover a{
    color: var(--secondary-color);
}

.balance{
	color: var(--secondary-color);
}

.primary-color{
    color: var(--primary-color);
}

.secondary-color{
    color: var(--secondary-color);
}